<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- BOX START -->
		<div class="layout-portlets-box">
			<div class="Container100">
				<div class="ContainerIndent" style="padding: 10px 0 10px 0;">
					<h:form>
						<p:schedule widgetVar="scheduleSheet"
							value="#{scheduleSheetController.scheduleModel}"
							view="agendaWeek" axisFormat="H" timeZone="GMT+2"
							slotMinutes="15" allDaySlot="false" showWeekNumbers="true"
							minTime="#{scheduleSheetController.scheduleMinTimeHHMM}"
							maxTime="#{scheduleSheetController.scheduleMaxTimeHHMM}"
							extender="scheduleSheetExtender">
							<p:ajax event="dateSelect"
								listener="#{scheduleSheetController.onDateSelect}"
								update="eventMessages,eventData,eventActions"
								oncomplete="onCompleteScheduleDateSelect(xhr,status,args)" />
							<p:ajax event="eventSelect"
								listener="#{scheduleSheetController.onEventSelect}"
								update="eventMessages,eventData,eventActions"
								oncomplete="onCompleteScheduleEventSelect(xhr,status,args)" />
							<p:ajax event="eventMove"
								listener="#{scheduleSheetController.onEventMove}" />
							<p:ajax event="eventResize"
								listener="#{scheduleSheetController.onEventResize}" />
						</p:schedule>
						<p:dialog widgetVar="eventEdit" header="Termin" modal="true"
							resizable="false" width="600">
							<p:ajax event="close"
								listener="#{scheduleSheetController.doCancel}"
								oncomplete="onCompleteScheduleEventEditClose(xhr,status,args)" />
							<p:messages id="eventMessages" showSummary="true"
								showDetail="false" />
							<p:panelGrid id="eventData" columns="1" layout="grid"
								styleClass="ui-panelgrid-blank ui-fluid">
								<p:outputLabel for="eventItemDate"
									value="#{i18n['scheduleItem.itemDate.label']}" />
								<p:outputPanel id="eventItemDate" style="font-weight:bold">
									<h:outputText
										value="#{scheduleSheetController.scheduleEntry.startDate}">
										<f:convertDateTime dateStyle="short" type="date" />
									</h:outputText>
									<span>, </span>
									<h:outputText
										value="#{scheduleSheetController.scheduleEntry.startDate}">
										<f:convertDateTime timeStyle="short" type="time" />
									</h:outputText>
									<span> - </span>
									<h:outputText
										value="#{scheduleSheetController.scheduleEntry.endDate}">
										<f:convertDateTime timeStyle="short" type="time" />
									</h:outputText>
								</p:outputPanel>
								<p:outputLabel for="eventClient" value="#{i18n['client.label']}" />
								<p:autoComplete id="eventClient" placeholder="Nachname, Vorname"
									value="#{scheduleSheetController.scheduleEntry.client}"
									completeMethod="#{scheduleSheetController.queryClients}"
									var="client" itemLabel="#{client.fullname}"
									itemValue="#{client}" converter="clientConverter"
									forceSelection="true" cache="true" minQueryLength="0"
									autoHighlight="false" scrollHeight="250">
									<p:ajax event="itemSelect"
										listener="#{scheduleSheetController.onItemSelectClient}" />
								</p:autoComplete>
								<p:outputLabel for="eventSubject"
									value="#{i18n['scheduleItem.subject.label']}" />
								<p:inputText id="eventSubject"
									value="#{scheduleSheetController.scheduleEntry.subject}" />
								<p:outputLabel for="eventPhone"
									value="#{i18n['scheduleItem.phone.label']}" />
								<p:inputText id="eventPhone"
									value="#{scheduleSheetController.scheduleEntry.phone}" />
								<p:outputLabel for="eventNote" value="Notiz" />
								<p:inputText id="eventNote"
									value="#{scheduleSheetController.scheduleEntry.description}" />
								<p:outputLabel for="eventRemindBySms"
									value="#{i18n['scheduleItem.remindBySms.label']}" />
								<p:selectBooleanCheckbox id="eventRemindBySms"
									value="#{scheduleSheetController.scheduleEntry.remindBySms}" />
							</p:panelGrid>
							<f:facet name="footer">
								<p:outputPanel id="eventActions">
									<c:if
										test="#{not scheduleSheetController.scheduleEntry.data.new}">
										<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
											styleClass="DarkgrayButton" immediate="true" process="@this"
											actionListener="#{scheduleSheetController.doDelete}"
											oncomplete="onCompleteScheduleEventEditSave(xhr,status,args)" />
									</c:if>
									<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
										styleClass="DarkgrayButton" update="eventData,eventMessages"
										actionListener="#{scheduleSheetController.doSave}"
										oncomplete="onCompleteScheduleEventEditSave(xhr,status,args)" />
									<p:commandButton icon="fa fa-th-large green Fs16"
										styleClass="DarkgrayButton" update="eventData,eventMessages"
										ajax="false"
										action="#{scheduleSheetController.doForwardToDashboard}"
										oncomplete="onCompleteScheduleEventEditSave(xhr,status,args)" />
								</p:outputPanel>
							</f:facet>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
		<!-- BOX END -->

		<h:outputScript>
			function scheduleSheetExtender() {
				this.cfg.weekNumberCalculation = "ISO";
				this.cfg.timeFormat = {
					agenda: 'HH:mm'
    			};
		   	}
		</h:outputScript>

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuScheduleSheet').addClass('active');
		    })
			//]]>
		</h:outputScript>

		<h:outputScript>
			function onCompleteScheduleDateSelect(xhr,status,args) {
				onCompleteScheduleEventSelect(xhr,status,args);
			};

			function onCompleteScheduleEventSelect(xhr,status,args) {
				PF('eventEdit').show();
			};

			function onCompleteScheduleEventEditSave(xhr,status,args) {
				if (!args.validationFailed) {
					PF('eventEdit').hide();
				}
			};

			function onCompleteScheduleEventEditClose(xhr,status,args) {
				PF('scheduleSheet').update();
			};
		</h:outputScript>

	</ui:define>

</ui:composition>