<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<h:form id="login"
		onsubmit="$('#login').attr('action', 'j_security_check')"
		prependId="false">
		<div class="ui-g">
			<div class="ui-g-12 logo-container">
				<p:graphicImage name="images/synaptos-logo.png" />
			</div>

			<div class="ui-g-12">
				<p:inputText id="j_username" name="j_username"
					placeholder="#{i18n['login.username']}" />
			</div>

			<div class="ui-g-12">
				<p:password id="j_password" name="j_password"
					placeholder="#{i18n['login.password']}" feedback="false" />
			</div>

			<div class="ui-g-12 button-container">
				<p:commandButton id="submit" icon="fa fa-sign-in"
					styleClass="green-btn" type="submit"
					value="#{i18n['action.login.name']}" ajax="false" />
			</div>

			<div class="ui-g-12">
				<h:outputText value="v#{publicViewController.version}" />
			</div>
			
			<div class="ui-g-12">
				<h:outputText value="© Copyright 2016, synaptos KG" />
			</div>
		</div>
	</h:form>

</ui:composition>