<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<o:tagAttribute name="id" />
	<o:tagAttribute name="value" />
	<o:tagAttribute name="label" />
	<o:tagAttribute name="placeholder" />
	<o:tagAttribute name="styleClass" />
	<o:tagAttribute name="pagedate" />
	<o:tagAttribute name="required" />

	<p:outputLabel for="#{id}" value="#{label}">
		<c:if test="#{not empty styleClass}">
			<f:attribute name="styleClass" value="#{styleClass}" />
		</c:if>
	</p:outputLabel>

	<p:calendar id="#{id}" value="#{value}" showOn="button"
		showButtonPanel="true" navigator="true" size="10"
		required="#{required}">
		<c:if test="#{not empty placeholder}">
			<f:passThroughAttribute name="placeholder" value="#{placeholder}" />
		</c:if>
		<c:if test="#{not empty pagedate}">
			<f:attribute name="pagedate" value="#{pagedate}" />
		</c:if>
		<ui:insert />
	</p:calendar>
	<p:message for="#{id}" display="#{TagAttribute.MESSAGE_DISPLAY}" />

</ui:composition>