<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<o:tagAttribute name="id" />
	<o:tagAttribute name="value" />
	<o:tagAttribute name="label" />
	<o:tagAttribute name="placeholder" />
	<o:tagAttribute name="styleClass" />
	<o:tagAttribute name="labelStyleClass" />
	<o:tagAttribute name="maxlength" />
	<o:tagAttribute name="size" />
	<o:tagAttribute name="mask" />
	<o:tagAttribute name="required" />

	<p:outputLabel for="#{id}" value="#{label}">
		<c:if test="#{not empty labelStyleClass}">
			<span class="#{labelStyleClass}" />
		</c:if>
	</p:outputLabel>

	<p:inputText id="#{id}" value="#{value}" styleClass="#{styleClass}"
		required="#{required}">
		<c:if test="#{not empty placeholder}">
			<f:passThroughAttribute name="placeholder" value="#{placeholder}" />
		</c:if>
		<c:if test="#{not empty maxlength}">
			<f:attribute name="maxlength"
				value="#{publicViewController.asInteger(maxlength)}" />
		</c:if>
		<c:if test="#{not empty size}">
			<f:attribute name="size"
				value="#{publicViewController.asInteger(size)}" />
		</c:if>
		<c:if test="#{not empty mask}">
			<f:attribute name="mask" value="#{mask}" />
		</c:if>
		<ui:insert />
	</p:inputText>

	<p:message for="#{id}" display="#{TagAttribute.MESSAGE_DISPLAY}" />

</ui:composition>