<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<o:tagAttribute name="value" />


	<o:methodParam name="methodListenerDecr" value="#{listenerMinus}" />
	<o:methodParam name="methodListenerIncr" value="#{listenerPlus}" />
	<o:methodParam name="methodAction" value="#{action}" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank">
		<p:commandButton icon="fa fa-minus white" process="@this"
			styleClass="spinnerButton" update="@parent"
			actionListener="#{methodListenerDecr}" action="#{methodAction}" />
		<p:outputLabel value="#{value}" styleClass="MarTop20" />
		<p:commandButton icon="fa fa-plus white" process="@this"
			styleClass="spinnerButton" update="@parent"
			actionListener="#{methodListenerIncr}" action="#{methodAction}" />
	</p:panelGrid>
</ui:composition>
