<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<o:tagAttribute name="widgetVar" />
	<o:tagAttribute name="value" />
	<o:tagAttribute name="id" />


			<p:panelGrid columns="1" layout="grid"
				styleClass="ui-panelgrid-blank" columnClasses="TexAlCenter">
				<p:textEditor widgetVar="#{widgetVar}" id="#{id}" 
					value="#{value}" maxlength="2000">
					<f:facet name="toolbar">
						<span class="ql-formats">
							<button class="ql-bold"></button>
							<button class="ql-italic"></button>
							<button class="ql-underline"></button>
							<button class="ql-strike"></button>
						</span>
						<span class="ql-formats"> <select class="ql-color"></select>
							<select class="ql-background"></select>
						</span>
						<span class="ql-formats">
							<button class="ql-script" value="sub"></button>
							<button class="ql-script" value="super"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-list" value="ordered"></button>
							<button class="ql-list" value="bullet"></button>
							<button class="ql-indent" value="-1"></button>
							<button class="ql-indent" value="+1"></button>
						</span>
						<span class="ql-formats"> <p:button
								icon="fa fa-undo TexColor"
								onclick="PF('#{widgetVar}').undo(); return false" />
							<p:button icon="fa fa-repeat TexColor"
								onclick="PF('#{widgetVar}').redo(); return false" />
						</span>
						<span class="ql-formats">
							<button class="ql-clean"></button>
						</span>
					</f:facet>
				</p:textEditor>
			</p:panelGrid>
		

</ui:composition>