<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<c:if test="#{not empty selectedClient.selectedSessionDocumentation}">

			<p:importEnum type="at.synaptos.synapphys.model.AnatomyBody" />
			<p:importEnum type="at.synaptos.synapphys.model.FindingType" />

			<h:outputScript name="js/jquery.svg.min.js" target="head" />
			<h:outputScript name="js/jquery.svgdom.min.js" target="head" />
			<h:outputScript name="js/jquery.panzoom.js" target="head" />
			<h:outputScript name="js/jquery.mousewheel.js" target="head" />
			<h:outputScript name="js/findingNode.manager.js" target="head" />

			<h:outputStylesheet>
				.outerBodymap {
					width: 600px;
					height: 580px;
					border: 1px solid #a0ce4e;
				}
				
				.innerBodymap {
					width: 500px;
					height: 500px;
					-webkit-backface-visibility: initial !important;
					-webkit-transform-origin: 50% 50% 0;
				}
				
				.bodymapLayerButton {
					width: 48%;
					margin-bottom: 2px;
				}
				
				.bodymapLayerButton > .ui-button-text {
					font-size: 10px !important;
				}
				
				.findingTypeButton, .findingToolButton {
					width: 32px;
					height: 32px;
				}
				
				.findingTypeButton > svg, .findingToolButton > svg {
					-webkit-transform: translate(-18px, -18px) scale(0.4);
					transform: translate(-18px, -18px) scale(0.4);
				}
				
				.findingTypeButtonSelected, .findingToolButtonSelected {
					opacity: 1;
				}
				
				.findingTypeButtonDeselected, .findingToolButtonDeselected {
					opacity: 0.5;
				}
			</h:outputStylesheet>


			<!-- 1ST ROW START -->
			<div class="Container100 NoIndent Flex FlexWrap">

				<!-- CLIENT CONTEXT START -->
				<div class="Container100 Responsive100 Flex">
					<div class="Card ui-fluid">
						<div class="DispBlock OvHidden">
							<div class="Container100 TexAlCenter">
								<p:outputPanel rendered="#{not empty selectedClient}">
									<h:outputText value="#{selectedClient.fullname}"
										styleClass="blue Fs40 FontRalewaySemiBold" />
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>
				<!-- CLIENT CONTEXT END -->

			</div>
			<!-- 1ST ROW END -->

			<!-- 2ND ROW START -->
			<div class="Container100 NoIndent Flex FlexWrap">

				<!-- CLIENT STATUS START -->
				<div class="Container100 Responsive100 Flex">
					<div class="Card ui-fluid">

						<div class="DispBlock OvHidden">

							<div class="Container50 Responsive50">
								<p:tabView dynamic="true" cache="true">
									<p:tab title="Anamnese">
										<h:form>
											<ui:include src="therapeuticalAnamnesisView.xhtml">
												<ui:param name="seriesDocumentation"
													value="#{selectedClient.selectedSeriesDocumentation}" />
											</ui:include>
											<div class="EmptyBox10"></div>
											<div class="DispBlock OvHidden">
												<p:panelGrid columns="2" layout="grid"
													styleClass="ui-panelgrid-blank">
													<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
														value="#{i18n['action.save.name']}"
														styleClass="DarkgrayButton"
														actionListener="#{bodymapEditController.doSaveSeriesDocumentation}" />
													<p:commandButton icon="#{TagAttribute.ICON_BACK}"
														value="#{i18n['action.back.name']}"
														styleClass="DarkgrayButton" immediate="true" ajax="false"
														action="#{sessionDocumentationEditController.doBack}" />
												</p:panelGrid>
											</div>
										</h:form>
									</p:tab>
									<p:tab title="Untersuchung">
										<h:form>
											<ui:include src="therapeuticalDiagnosisView.xhtml">
												<ui:param name="widgetVar"
													value="examinationTherapeuticalDiagnosis" />
												<ui:param name="seriesDocumentation"
													value="#{selectedClient.selectedSeriesDocumentation}" />
											</ui:include>
											<div class="EmptyBox10"></div>
											<div class="DispBlock OvHidden">
												<p:panelGrid columns="2" layout="grid"
													styleClass="ui-panelgrid-blank">
													<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
														value="#{i18n['action.save.name']}"
														styleClass="DarkgrayButton"
														update="@widgetVar(therapyTherapeuticalDiagnosis)"
														actionListener="#{bodymapEditController.doSaveSeriesDocumentation}" />
													<p:commandButton icon="#{TagAttribute.ICON_BACK}"
														value="#{i18n['action.back.name']}"
														styleClass="DarkgrayButton" immediate="true" ajax="false"
														action="#{sessionDocumentationEditController.doBack}" />
												</p:panelGrid>
											</div>
										</h:form>
									</p:tab>
									<p:tab title="Bisherige Termine">
										<h:form>
											<p:accordionPanel
												value="#{selectedClient.selectedSeriesDocumentation.sessionDocumentations}"
												var="sessionDocumentation" multiple="true" dynamic="true"
												cache="true">
												<p:tab>
													<f:facet name="title">
														<h:outputText value="#{sessionDocumentation.startDate}">
															<f:convertDateTime dateStyle="short" timeStyle="short"
																type="both" />
														</h:outputText>
													</f:facet>
													<p:inputTextarea
														value="#{sessionDocumentation.sessionText}" />
												</p:tab>
											</p:accordionPanel>
											<div class="EmptyBox10"></div>
											<div class="DispBlock OvHidden">
												<p:panelGrid columns="2" layout="grid"
													styleClass="ui-panelgrid-blank">
													<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
														value="#{i18n['action.save.name']}"
														styleClass="DarkgrayButton"
														update="@widgetVar(examinationTherapeuticalDiagnosis)"
														actionListener="#{bodymapEditController.doSaveSeriesDocumentation}" />
													<p:commandButton icon="#{TagAttribute.ICON_BACK}"
														value="#{i18n['action.back.name']}"
														styleClass="DarkgrayButton" immediate="true" ajax="false"
														action="#{sessionDocumentationEditController.doBack}" />
												</p:panelGrid>
											</div>
										</h:form>
									</p:tab>
								</p:tabView>
							</div>

							<div class="Container50 Responsive50">
								<div class="Container100">
									<div style="display: flex; padding: 6px;">

										<div id="outerBodymapDiv" class="outerBodymap">
											<div id="innerBodymapDiv" class="innerBodymap"></div>
										</div>

										<div style="width: 36px; overflow: hidden;">
											<div id="findingTypeBarDiv">
												<c:forEach items="#{AnatomyBody.ALL_VALUES}"
													var="anatomyBody">
													<div id="findingTypeBar_#{anatomyBody}"
														style="display: #{anatomyBody eq 'SKIN' ? 'inline' : 'none'};">
														<c:forEach
															items="#{bodymapEditController.findFindingTypes(anatomyBody)}"
															var="findingType">
															<p:commandLink
																onclick="selectFindingType('#{findingType}');return false;">
																<div id="findingTypeButton_#{findingType}"
																	class="findingTypeButton findingTypeButtonDeselected"
																	style="float: left; border: 1px solid #a0ce4e;">
																	<ui:include
																		src="/resources/images/findingType/FindingType_#{findingType}.svg" />
																</div>
															</p:commandLink>
														</c:forEach>
													</div>
												</c:forEach>
											</div>
											<div style="margin-top: 10px;">
												<p:commandLink
													onclick="selectFindingTool('ACTION_SELECT');return false;">
													<div id="findingToolButton_ACTION_SELECT"
														class="findingToolButton findingToolButtonSelected"
														style="float: left; border: 1px solid #a0ce4e;">
														<ui:include
															src="/resources/images/findingTool/FindingTool_ACTION_SELECT.svg" />
													</div>
												</p:commandLink>
												<p:commandLink
													onclick="editFindingNodeSelected();return false;">
													<div id="findingToolButton_ACTION_EDIT"
														class="findingToolButton findingToolButtonDeselected"
														style="float: left; border: 1px solid #a0ce4e;">
														<ui:include
															src="/resources/images/findingTool/FindingTool_ACTION_EDIT.svg" />
													</div>
												</p:commandLink>
												<p:commandLink
													onclick="deleteFindingNodesSelected();return false;">
													<div id="findingToolButton_ACTION_DELETE"
														class="findingToolButton findingToolButtonDeselected"
														style="float: left; border: 1px solid #a0ce4e;">
														<ui:include
															src="/resources/images/findingTool/FindingTool_ACTION_DELETE.svg" />
													</div>
												</p:commandLink>
												<div id="findingToolTemplate_NODE_TIP"
													style="display: none;">
													<ui:include
														src="/resources/images/findingTool/FindingTool_NODE_TIP.svg" />
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- CLIENT STATUS END -->

			</div>
			<!-- 2ND ROW START -->

			<h:form>

				<div class="ui-fluid">
					<p:dialog widgetVar="findingToolValuesEdit" header="Werte"
						modal="true" resizable="false" width="700">
						<p:message for="findingToolValuesEditValueFInput" />
						<p:message for="findingToolValuesEditValueTInput" />
						<p:panelGrid id="findingToolValuesOutputPanel" columns="2"
							layout="grid" styleClass="ui-panelgrid-blank"
							columnClasses="ui-grid-col-3 lineHeight60,ui-grid-col-9 TexAlCenter">
							<p:outputLabel for="findingToolValuesEditValueF"
								value="#{bodymapEditController.findingNode.labelF}"
								rendered="#{not empty bodymapEditController.findingNode.valueOrDefaultF}" />
							<p:outputPanel id="findingToolValuesEditValueFPanel"
								rendered="#{not empty bodymapEditController.findingNode.valueOrDefaultF}">
								<h:outputText id="findingToolValuesEditValueFOutput"
									styleClass="Fs24 FontRalewaySemiBold"
									value="#{bodymapEditController.findingNode.valueOrDefaultF}" />
								<h:inputHidden id="findingToolValuesEditValueFInput"
									value="#{bodymapEditController.findingNode.valueOrDefaultF}" />
								<p:slider id="findingToolValuesEditValueF"
									for="findingToolValuesEditValueFInput"
									display="findingToolValuesEditValueFOutput"
									displayTemplate="{value}"
									minValue="#{bodymapEditController.findingNode.minValueF}"
									maxValue="#{bodymapEditController.findingNode.maxValueF}"
									step="#{bodymapEditController.findingNode.stepF}"
									highlight="true" />
							</p:outputPanel>
							<p:outputLabel for="findingToolValuesEditValueT"
								value="#{bodymapEditController.findingNode.labelT}"
								rendered="#{not empty bodymapEditController.findingNode.valueOrDefaultT}" />
							<p:outputPanel id="findingToolValuesEditValueTPanel"
								rendered="#{not empty bodymapEditController.findingNode.valueOrDefaultT}">
								<h:outputText id="findingToolValuesEditValueTOutput"
									styleClass="Fs24 FontRalewaySemiBold"
									value="#{bodymapEditController.findingNode.valueOrDefaultT}" />
								<h:inputHidden id="findingToolValuesEditValueTInput"
									value="#{bodymapEditController.findingNode.valueOrDefaultT}" />
								<p:slider id="findingToolValuesEditValueT"
									for="findingToolValuesEditValueTInput"
									display="findingToolValuesEditValueTOutput"
									displayTemplate="{value}"
									minValue="#{bodymapEditController.findingNode.minValueT}"
									maxValue="#{bodymapEditController.findingNode.maxValueT}"
									step="#{bodymapEditController.findingNode.stepT}"
									highlight="true" />
							</p:outputPanel>
							<p:outputLabel for="findingToolValuesEditNoteInput" value="Notiz" />
							<p:inputText id="findingToolValuesEditNoteInput"
								value="#{bodymapEditController.findingNode.note}"
								style="margin-top: 10px;" />
						</p:panelGrid>
						<f:facet name="footer">
							<div class="DispBlock OvHidden">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
										value="#{i18n['action.save.name']}"
										actionListener="#{bodymapEditController.doSaveFindingNodeValues}"
										process="@this,findingToolValuesOutputPanel"
										update="findingToolValuesOutputPanel"
										oncomplete="onCompleteSaveFindingNodeValues(xhr,status,args)"
										styleClass="DarkgrayButton" />
									<p:commandButton icon="#{TagAttribute.ICON_CANCEL}"
										value="#{i18n['action.cancel.name']}"
										styleClass="DarkgrayButton" type="button" immediate="true"
										onclick="PF('findingToolValuesEdit').hide()" />
								</p:panelGrid>
							</div>
						</f:facet>
					</p:dialog>
				</div>

				<pe:remoteCommand name="doAddFindingNode"
					actionListener="#{bodymapEditController.doAddFindingNode}"
					process="@this"
					oncomplete="onCompleteAddFindingNode(xhr,status,args)">
					<pe:methodSignature
						parameters="at.synaptos.synapphys.domain.FindingNode" />
					<pe:methodParam name="findingNode">
						<pe:convertJson />
					</pe:methodParam>
				</pe:remoteCommand>

				<pe:remoteCommand name="doEditFindingNodeValues"
					actionListener="#{bodymapEditController.doEditFindingNodeValues}"
					process="@this" update="findingToolValuesOutputPanel">
					<pe:methodSignature parameters="java.lang.Long" />
					<pe:methodParam name="bodymapItemId">
						<pe:convertJson />
					</pe:methodParam>
				</pe:remoteCommand>

				<pe:remoteCommand name="doUpdateFindingNodeTipPosition"
					actionListener="#{bodymapEditController.doUpdateFindingNodeTipPosition}"
					process="@this"
					oncomplete="onCompleteUpdateFindingNodeTipPosition(xhr,status,args)">
					<pe:methodSignature
						parameters="at.synaptos.synapphys.domain.FindingNode" />
					<pe:methodParam name="findingNode">
						<pe:convertJson />
					</pe:methodParam>
				</pe:remoteCommand>

				<pe:remoteCommand name="doUpdateFindingNodesPosition"
					actionListener="#{bodymapEditController.doUpdateFindingNodesPosition}"
					process="@this"
					oncomplete="onCompleteUpdateFindingNodesPosition(xhr,status,args)">
					<pe:methodSignature parameters="java.util.List" />
					<pe:methodParam name="findingNodes">
						<pe:convertJson type="#{bodymapEditController.typeFindingNodes}" />
					</pe:methodParam>
				</pe:remoteCommand>

				<pe:remoteCommand name="doDeleteFindingNodes"
					actionListener="#{bodymapEditController.doDeleteFindingNodes}"
					process="@this"
					oncomplete="onCompleteDeleteFindingNodes(xhr,status,args)">
					<pe:methodSignature parameters="java.util.List" />
					<pe:methodParam name="findingNodes">
						<pe:convertJson type="#{bodymapEditController.typeFindingNodes}" />
					</pe:methodParam>
				</pe:remoteCommand>

			</h:form>

			<h:outputScript>
				//<![CDATA[
		    	(function($){
		    	
					var $body = $('#innerBodymapDiv').panzoom({
						minScale:1,
						maxScale:6,
						increment:0.5,
						startScale:0.25,
						startX:200,
						startY:10,
						onStart:onStartBodyPnzm,
						onZoom:onZoomBodyPnzm,
						onEnd:onEndBodyPnzm
					});
		
					var bodyHeight = $body.height();
					
					$body.panzoom('zoom', 1.5, { silent: true }).panzoom('pan',100,100);
		
					$body.on('mousewheel.focal',function(e){
		         		e.preventDefault();
		
		         		var delta = e.delta || e.originalEvent.wheelDelta;
		         
						var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
		         
						$body.panzoom('zoom',zoomOut,{
							animate:false,
							focal:e
						});
		       		});
						
				    $body.svg('destroy');										
					$body.svg({
			    		loadURL:"#{resource['/images/anatomyBody/AnatomyBody_'+=selectedClient.gender+='.svg']}",
			    		onLoad:onLoadBodySvg
			    	});
			    	
		        })(jQuery);

				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Body panzoom event handlers
		
				function onStartBodyPnzm(se,pnzm,e,touches){
					// save current touch count
					pnzm.startTouchCount = 1;
					if (touches && touches.length) {
						pnzm.startTouchCount = touches.length;
					}		
				}
				
				function onZoomBodyPnzm(e,pnzm,scale,opts){
				    var increment = opts && opts.increment ? opts.increment : null;
					FindingNodeContext().toogleNodesTipVisibleByScale(false,increment);
				}
				
				function onEndBodyPnzm(e,pnzm,matrix,changed,taps){
					if (!changed) {
						if (taps < 2) {
							var findingType = getFindingTypeSelected();
							if (findingType !== null) {
								var startPosition = FindingNodeContext().getStartPosition(e,pnzm.$elem.offset(),matrix);
								addFindingNode(findingType,startPosition);				
							} else if (isFindingToolSelected("ACTION_SELECT")) {
								FindingNodeContext().clearNodesSelected();
							}
						} else {
							pnzm.zoom(pnzm.startTouchCount && pnzm.startTouchCount === 2,{increment:pnzm.options.increment*4,animate:false,focal:e});
							delete pnzm.startTouchCount;
						}
					}		
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Body svg event handlers

				function onLoadBodySvg(svg){
					var options = $('#innerBodymapDiv').panzoom('instance').options;
					
					var transform = "matrix("+options.startScale+",0,0,"+options.startScale+","+options.startX+","+options.startY+")";
					
					svg.group(null,'g_FINDINGS_#{AnatomyBody.BONE}'  ,{style:'display:none',transform:transform});
					svg.group(null,'g_FINDINGS_#{AnatomyBody.MUSCLE}',{style:'display:none',transform:transform});
					svg.group(null,'g_FINDINGS_#{AnatomyBody.SKIN}'  ,{style:'display:'    ,transform:transform});
					
					FindingNodeContext({
						svg:svg,
						tipVisibleScale:2.5,
						nodeCenterOffset:35,
						onAddNodeSelected:function(node) {
							doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(node.id));
							selectFindingTool("ACTION_DELETE");
							selectFindingTool("ACTION_EDIT");
						},
						onClearNodeSelected:function(nodesSelected) {
							if (!nodesSelected.length) {
								PF('findingToolValuesEdit').hide();
								doEditFindingNodeValues(null);
								selectFindingTool("ACTION_DELETE",false);
								selectFindingTool("ACTION_EDIT",false);
							} else {
								doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(nodesSelected[nodesSelected.length-1].id));				
								selectFindingTool("ACTION_EDIT");
							}
						},
						onDeleteNodesSelected:function(nodesDeleted) {
							var findingNodes = [];
							$.each(nodesDeleted,function(i,v){
								var findingNode = {bodymapItemId:FindingNodeContext().getNodeBodymapItemId(v.id)};
								findingNodes.push(findingNode);
							});
					   		doDeleteFindingNodes(JSON.stringify(findingNodes));
						},
						onChangeNodeTipPnzm:onChangeFindingNodeTipPnzm,
						onEndNodeTipPnzm:onEndFindingNodeTipPnzm,
						onStartNodePnzm:onStartFindingNodePnzm,
						onEndNodePnzm:onEndFindingNodePnzm
					});
					
					loadFindingNodes();
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Remote command handlers
				
				function onCompleteAddFindingNode(xhr,status,args) {
					if (!args.validationFailed) {
						FindingNodeContext().updateNode(args);
					}
				}
				
				function onCompleteSaveFindingNodeValues(xhr,status,args) {
					if (!args.validationFailed) {
						PF('findingToolValuesEdit').hide();
						FindingNodeContext().updateNodeTip(args);
					}
				}
				
				function onCompleteUpdateFindingNodeTipPosition(xhr,status,args) {
				}
		
				function onCompleteUpdateFindingNodesPosition(xhr,status,args) {
				}
				
				function onCompleteDeleteFindingNodes(xhr,status,args) {
				}
						
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node position
				
				function updateFindingNodesPosition($nodes) {
					var covered = false;
					$.each($nodes,function(i,v){
						if (FindingNodeContext().isNodeCovering(v)) {
							covered = true;
							return false; //break
						}
					})
					
					if (covered) {
						$.each($nodes,function(i,v){
							var vPnzm = $(v).panzoom('instance');
							vPnzm.pan(vPnzm.startPosition.x,vPnzm.startPosition.y);
						})
					} else {
						var data = [];
						$.each($nodes,function(i,v){
							var vPnzm = $(v).panzoom('instance');
							var vMatrix = vPnzm.getMatrix();
							data.push({
					   			findingPositionX:+vMatrix[4]+FindingNodeContext().options.nodeCenterOffset,
					   			findingPositionY:+vMatrix[5]+FindingNodeContext().options.nodeCenterOffset,
					   			bodymapItemId:FindingNodeContext().getNodeBodymapItemId(vPnzm.elem.id)
				   			});
						})
		
				   		doUpdateFindingNodesPosition(JSON.stringify(data));
				   	}
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node CRUD
		
				function addFindingNode(type,position) {
					if (type === undefined || type === null) {
						return;
					}
					if (!position) {
						return;
					}
					var findingNode = {
						findingType:type,
						findingPositionX:position.x,
						findingPositionY:position.y,
						bodymapItemId:new Date().getTime()
					}
					FindingNodeContext().createNode(findingNode);
					doAddFindingNode(JSON.stringify(findingNode));		
				}
				
				function deleteFindingNodesSelected() {
					FindingNodeContext().deleteNodesSelected();
				}
				
				function editFindingNodeSelected() {
					var dlg = PF('findingToolValuesEdit');
					dlg.initPosition();
					dlg.show();
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding type selection
			
				function getFindingTypeSelected() {
					var $buttonSelected = $('#findingTypeBarDiv').find('.findingTypeButtonSelected');
					if (!$buttonSelected.length) {
						return null;
					}
					
					var buttonSelectedId = $buttonSelected.attr('id');
					
					var typeSelected = buttonSelectedId.substring(buttonSelectedId.indexOf("_")+1);
					
					return typeSelected;
				}
		
				function selectFindingType(type) {
					var $buttonSelected = $('#findingTypeBarDiv').find('.findingTypeButtonSelected');
					if ($buttonSelected.length) {
						$buttonSelected.removeClass("findingTypeButtonSelected").addClass("findingTypeButtonDeselected");
					}
		
					if (type === undefined || type === null) {
						return;
					}
					
					var $typeButton = $('#findingTypeButton_'+type);
					
					$typeButton.removeClass("findingTypeButtonDeselected").addClass("findingTypeButtonSelected");			
		
					selectFindingTool("ACTION_SELECT",false);
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding tool selection
		
				function isFindingToolSelected(tool) {
					var $button = $('#findingToolButton_'+tool);
					return $button.hasClass("findingToolButtonSelected");
				}
		
				function selectFindingTool(tool,select) {
					if (!selectFindingTool.arguments.length) {
						return;
					}
					if (select === undefined || select === null) {
						select = true;
					}
					
					var $toolButton = $('#findingToolButton_'+tool);
					
					if (select) {
						if (tool === "ACTION_SELECT") {
							selectFindingType();
						}
									
						$toolButton.removeClass("findingToolButtonDeselected").addClass("findingToolButtonSelected");
					} else {
						if (tool === "ACTION_SELECT") {
							FindingNodeContext().clearNodesSelected();
						}
					
						$toolButton.removeClass("findingToolButtonSelected").addClass("findingToolButtonDeselected");			
					}
				}
				
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node creation
		
		        function loadFindingNodes() {
					$.each(#{bodymapEditController.bodymapItemsAsJson},function(i,v){
						FindingNodeContext().createNode(v);
						FindingNodeContext().updateNodeTip(v);
					});
		        }
		
				function onStartFindingNodePnzm(se,pnzm,e,touches){
					// bring selected node on top
					var parentId = pnzm.$elem.parent().attr('id');
					pnzm.$elem.detach().appendTo('#'+parentId);
		
					// save current touch count
					pnzm.startTouchCount = 1;
					if (touches && touches.length) {
						pnzm.startTouchCount = touches.length;
					}		
		
					// save current position to undo the change
					var matrix = pnzm.getMatrix();
					pnzm.startPosition = {x:+matrix[4],y:+matrix[5]};
					
					// for each selected node save its current position
					// and connect it to this node
					if (FindingNodeContext().isNodeSelected(pnzm.elem)) {
						if (FindingNodeContext().getNodesSelected().length > 1) {
							// connect other selected nodes to node
							$.each(FindingNodeContext().getNodesSelected(),function(i,v){
								if (v.id !== pnzm.elem.id) {
									var vPnzm = $(v).panzoom('instance');
									var vMatrix = vPnzm.getMatrix();
									vPnzm.startPosition = {x:+vMatrix[4],y:+vMatrix[5]};
									pnzm.$set.push(v);
								}
							});
						}
					}
				}
				
				function onEndFindingNodePnzm(e,pnzm,matrix,changed,taps){    		
					// unconnect currently connected nodes
					var $nodes = pnzm.$set.splice(1);
					
					if (changed) {
						$nodes.push(pnzm.elem);
						updateFindingNodesPosition($nodes);
					} else if (taps < 2) {	
						if (isFindingToolSelected("ACTION_SELECT")) {
							FindingNodeContext().toggleNodeSelected(pnzm.elem);
						} else {
							var findingType = getFindingTypeSelected();
							if (findingType !== null) {
								var $body = pnzm.options.$context;
								var nodePosition = FindingNodeContext().getStartPosition(e,$body.offset(),$body.panzoom('instance').getMatrix());
								if (FindingNodeContext().isPositionCovering(
										"g_"+findingType+"_",
										nodePosition.x-FindingNodeContext().options.nodeCenterOffset,
										nodePosition.y-FindingNodeContext().options.nodeCenterOffset)) {
									selectFindingTool("ACTION_SELECT");
									FindingNodeContext().toggleNodeSelected(pnzm.elem);
								} else {
									addFindingNode(findingType,nodePosition);
								}
							}
						}
					} else {
						var bodyPnzm = pnzm.options.$context.panzoom('instance');
						bodyPnzm.zoom(pnzm.startTouchCount && pnzm.startTouchCount === 2,{increment:bodyPnzm.options.increment*4,animate:false,focal:e});
						delete pnzm.startTouchCount;			
					}
				}
						
				function onChangeFindingNodeTipPnzm(e,pnzm,transform) {
					FindingNodeContext().updateNodePathTip(pnzm.$parent);
				}
				
				function onEndFindingNodeTipPnzm(e,pnzm,matrix,changed) {
					if (changed) {
						var findingNode = {
							tipPositionX:+matrix[4],
							tipPositionY:+matrix[5],
				   			bodymapItemId:FindingNodeContext().getNodeBodymapItemId(pnzm.$parent[0].id)
				   		}
						doUpdateFindingNodeTipPosition(JSON.stringify(findingNode));
					} else {
						FindingNodeContext().setNodeSelected(pnzm.$parent[0]);
						doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(pnzm.$parent[0].id));			
						selectFindingTool("ACTION_SELECT");
		            	PF('findingToolValuesEdit').show();
					}			
				}					
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Anatomy body layers
				
		        function showAnatomyBody(bone,muscle,skin) {
		        	// clear all body finding nodes selected
		        	FindingNodeContext().clearNodesSelected();
		        	        	     
		        	// clear finding type selection
		        	selectFindingType();
		        	
					// show finding type bars
					$('#findingTypeBar_#{AnatomyBody.BONE}'  ).css('display',(bone  >0?'':'none'));
					$('#findingTypeBar_#{AnatomyBody.MUSCLE}').css('display',(muscle>0?'':'none'));
					$('#findingTypeBar_#{AnatomyBody.SKIN}'  ).css('display',(skin  >0?'':'none'));
					
					// show finding layers
					$('#g_FINDINGS_#{AnatomyBody.BONE}'  ).css('display',(bone  >0?'':'none'));
					$('#g_FINDINGS_#{AnatomyBody.MUSCLE}').css('display',(muscle>0?'':'none'));
					$('#g_FINDINGS_#{AnatomyBody.SKIN}'  ).css('display',(skin  >0?'':'none'));
					
					// show body layers
					$('#g_BODY_#{AnatomyBody.BONE}'  ).css({'display':(bone  >0?'':'none'),'opacity':bone  });        
					$('#g_BODY_#{AnatomyBody.MUSCLE}').css({'display':(muscle>0?'':'none'),'opacity':muscle});
					$('#g_BODY_#{AnatomyBody.SKIN}'  ).css({'display':(skin  >0?'':'none'),'opacity':skin  });
					
					// display the finding node tips
					FindingNodeContext().toogleNodesTipVisibleByScale(true);			
		        }
				//]]>
			</h:outputScript>

		</c:if>

	</ui:define>

</ui:composition>