<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">

	<ui:define name="content">

		<h:outputScript name="js/jquery.svg.min.js" target="head" />
		<h:outputScript name="js/jquery.svgdom.min.js" target="head" />

		<h:outputStylesheet>
			.innerBodymap {
				height: 270px;
				-webkit-backface-visibility: initial !important;
				-webkit-transform-origin: 50% 50% 0;
			}
			
			.innerBodymap > svg > g > g {
				-webkit-transform: scale(0.39, 0.39);
				transform: scale(0.39, 0.39);
			}
			
			@media ( min-height : 801px) {
				.innerBodymap {
					height: 300px;
				}
				.innerBodymap > svg > g > g {
					-webkit-transform: scale(0.57, 0.57);
					transform: scale(0.57, 0.57);
				}
			}
		</h:outputStylesheet>

		<!-- 1ST ROW START -->
		<div class="Container100 NoIndent Flex FlexWrap">

			<!-- CLIENT CONTEXT START -->
			<div class="Container33 Responsive Flex">
				<div class="Card ui-fluid">

					<h:form>
						<div class="DispBlock OvHidden">
							<div class="Container70">
								<p:outputPanel>
									<h:outputText value="Patient"
										styleClass="blue Fs24 FontRalewaySemiBold" />
								</p:outputPanel>
								<p:outputPanel style="width: 70%;">
									<p:autoComplete inputStyleClass="icon autoCompleteClient"
										placeholder="&#61442; #{i18n['globalFilter.placeholder']}"
										completeMethod="#{dashboardViewController.queryClients}"
										var="client" itemLabel="#{client.fullname}"
										itemValue="#{client}" converter="clientConverter"
										forceSelection="true" cache="true" autoHighlight="false"
										scrollHeight="250">
										<p:ajax event="itemSelect" process="@this"
											update="@form,seriesContextPortlet,
				            					sessionContextPortlet,billingContextPortlet,
				            					nextScheduleEntriesActions,scheduleContextPortlet"
											listener="#{dashboardViewController.onItemSelectClient}"
											onstart="onStartItemSelectClient();"
											oncomplete="onCompleteItemSelectClient(xhr,status,args);" />
									</p:autoComplete>
								</p:outputPanel>
							</div>
							<p:outputPanel styleClass="Container15">
								<p:commandButton icon="#{TagAttribute.ICON_EDIT} white"
									styleClass="DarkgrayButton" ajax="false"
									action="#{dashboardViewController.doEditClient}"
									rendered="#{not empty selectedClient}" />
							</p:outputPanel>
							<div class="Container15">
								<p:commandButton icon="#{TagAttribute.ICON_ADD} white"
									styleClass="DarkgrayButton" ajax="false"
									action="#{dashboardViewController.doAddClient}" />
							</div>
						</div>

						<p:outputPanel styleClass="DispBlock OvHidden"
							rendered="#{not empty selectedClient}">
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank"
								columnClasses="DashbLabel,DashbCol">
								<p:outputLabel for="clientName" value="" />
								<h:outputText id="clientName" styleClass="Fs40"
									value="#{selectedClient.fullname}" />
								<h:outputText styleClass="fa fa-phone Fs20"
									rendered="#{not empty selectedClient.homeContact.phone}" />
								<h:outputText id="clientHomePhone"
									value="#{selectedClient.homeContact.phone}"
									rendered="#{not empty selectedClient.homeContact.phone}" />
								<h:outputText styleClass="fa fa-umbrella Fs20"
									rendered="#{not empty selectedClient.healthInsurance.code}" />
								<h:outputText id="clientHealthInsurance" value="#{selectedClient.healthInsurance.code}"
									rendered="#{not empty selectedClient.healthInsurance.code}" />
								<p:outputLabel for="clientHealthInsuranceNo" value="SVNR"
									rendered="#{not empty selectedClient.healthInsuranceNo}" />
								<h:outputText id="clientInsuranceNo" value="#{selectedClient.healthInsuranceNo}"
									rendered="#{not empty selectedClient.healthInsuranceNo}" />
								<p:outputLabel for="clientBirthDate" value="Geboren am" />
								<h:outputText id="clientBirthDate"
									value="#{selectedClient.birthDate}">
									<f:convertDateTime dateStyle="short" type="date" />
								</h:outputText>
								<h:outputText styleClass="#{TagAttribute.ICON_PHYSICIAN} Fs20"
									rendered="#{not empty selectedClient.physician}" />
								<h:outputText id="clientPhysicianFullname"
									value="#{selectedClient.physician.fullname}"
									rendered="#{not empty selectedClient.physician}" />
							</p:panelGrid>
						</p:outputPanel>
					</h:form>

				</div>
			</div>
			<!-- CLIENT CONTEXT END -->

			<!-- SERIES CONTEXT START -->
			<div class="Container33 Responsive Flex">
				<p:outputPanel id="seriesContextPortlet" styleClass="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<div class="Container70">
							<h:outputText value="Verordnung"
								styleClass="purple Fs24" />
						</div>
						<div class="Container15">
							<h:form
								rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
								<p:commandButton icon="#{TagAttribute.ICON_EDIT} white"
									styleClass="DarkgrayButton" ajax="false"
									action="#{dashboardViewController.doEditSeriesDocumentation}" />
							</h:form>
						</div>
						<div class="Container15">
							<h:form rendered="#{not empty selectedClient}">
								<p:commandButton icon="#{TagAttribute.ICON_ADD} white"
									styleClass="DarkgrayButton" ajax="false"
									action="#{dashboardViewController.doAddSeriesDocumentation}"
									disabled="#{not (empty selectedClient.selectedSeriesDocumentation
												 		or selectedClient.selectedSeriesDocumentation.isDone())}" />
							</h:form>
						</div>
					</div>

					<div class="DispBlock OvHidden">
						<p:outputPanel styleClass="Container50"
							rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
							<h:form>
								<p:commandLink styleClass="TexDnone"
									style="margin: 0; line-height: 30px;" ajax="false"
									action="#{dashboardViewController.doEditServiceTemplates}">
									<p:panel
										styleClass="BorderedBox HoverEffect ActiveEffect Wid100 TexAlCenter">
										<h:outputText
											styleClass="fa fa-heart green Fs20 animated rubberBand"
											style="vertical-align: middle;" />
										<h:outputText value="Leistungen" styleClass="Fs16"
											style="margin-left: 10px;" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation.serviceTemplates.size()}"
											styleClass="notification-bubble BordRad3 Fs20 animated rubberBand"
											style="margin-left: 10px; vertical-align: middle;"
											rendered="#{selectedClient.selectedSeriesDocumentation.serviceTemplates.size() > 0}" />
									</p:panel>
								</p:commandLink>
							</h:form>
						</p:outputPanel>
						<p:outputPanel styleClass="Container50"
							rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
							<h:form>
								<p:commandLink styleClass="TexDnone"
									style="margin: 0; line-height: 30px;" ajax="false"
									action="#{dashboardViewController.doEditServiceAttachments}">
									<p:panel
										styleClass="BorderedBox HoverEffect ActiveEffect Wid100 TexAlCenter">
										<h:outputText
											styleClass="fa fa-upload green Fs20 animated rubberBand"
											style="vertical-align: middle;" />
										<h:outputText value="Dokumente" styleClass="Fs16"
											style="margin-left: 10px;" />
										<h:outputText
											value="#{selectedClient.selectedSessionDocumentation.serviceAttachments.size()}"
											styleClass="notification-bubble BordRad3 Fs20 animated rubberBand"
											style="margin-left: 10px; vertical-align: middle;"
											rendered="#{selectedClient.selectedSessionDocumentation.serviceAttachments.size() > 0}" />
									</p:panel>
								</p:commandLink>
							</h:form>
						</p:outputPanel>
					</div>

					<p:outputPanel styleClass="DispBlock OvHidden"
						rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
						<p:panelGrid columns="2" layout="grid"
							styleClass="ui-panelgrid-blank"
							columnClasses="DashbLabel,DashbCol">
							<p:outputLabel for="referralDate" value="Ausgestellt am" />
							<h:outputText id="referralDate"
								value="#{selectedClient.selectedSeriesDocumentation.referralDate}">
								<f:convertDateTime dateStyle="short" type="date" />
							</h:outputText>
							<p:outputLabel for="approvalDate" value="Bewilligt am" />
							<h:outputText id="approvalDate"
								value="#{selectedClient.selectedSeriesDocumentation.approvalDate}">
								<f:convertDateTime dateStyle="short" type="date" />
							</h:outputText>
							<p:outputLabel for="remainingSessionCount"
								value="Offene Einheiten" />
							<h:outputText id="remainingSessionCount"
								value="#{selectedClient.selectedSeriesDocumentation.remainingSessionCount}" />
						</p:panelGrid>
					</p:outputPanel>

				</p:outputPanel>
			</div>
			<!-- SERIES CONTEXT END -->

			<!-- SESSION CONTEXT START -->
			<div class="Container33 Responsive50 Flex">
				<div class="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<div class="Container100">
							<h:outputText value="Dokumentation"
								styleClass="orange Fs24 FontRalewaySemiBold" />
						</div>
					</div>

					<div class="DispBlock OvHidden">
						<p:outputPanel id="sessionContextPortlet">
							<p:outputPanel
								rendered="#{not (empty selectedClient.selectedSeriesDocumentation 
													or empty selectedClient.selectedScheduleItem)}">
								<div class="Container50">
									<h:form>
										<p:commandLink styleClass="TexDnone"
											style="margin: 0; line-height: 30px;" ajax="false"
											action="#{dashboardViewController.doAddSessionDocumentation}">
											<p:panel
												styleClass="BorderedBox HoverEffect ActiveEffect Wid100 TexAlCenter">
												<h:outputText
													value="#{selectedClient.selectedScheduleItem.startDate}"
													styleClass="Fs16">
													<f:convertDateTime dateStyle="short" timeStyle="short"
														type="both" />
												</h:outputText>
												<h:outputText styleClass="fa fa-plus green Fs24"
													style="margin-left: 10px; vertical-align: middle;" />
											</p:panel>
										</p:commandLink>
									</h:form>
								</div>
							</p:outputPanel>
							<p:outputPanel
								rendered="#{not empty selectedClient.selectedSessionDocumentation}">
								<div class="Container50">
									<h:form>
										<p:commandLink styleClass="TexDnone"
											style="margin: 0; line-height: 30px;" ajax="false"
											action="#{dashboardViewController.doEditSessionDocumentation}">
											<p:panel
												styleClass="BorderedBox HoverEffect ActiveEffect Wid100 TexAlCenter">
												<h:outputText
													value="#{selectedClient.selectedSessionDocumentation.startDate}"
													styleClass="Fs16">
													<f:convertDateTime dateStyle="short" timeStyle="short"
														type="both" />
												</h:outputText>
												<h:outputText styleClass="fa fa-edit green Fs24"
													style="margin-left: 10px; vertical-align: middle;" />
											</p:panel>
										</p:commandLink>
									</h:form>
								</div>
							</p:outputPanel>
						</p:outputPanel>
					</div>

					<div class="DispBlock OvHidden">
						<div id="innerBodymapDiv" class="innerBodymap"></div>
					</div>

				</div>
			</div>
			<!-- SESSION CONTEXT END -->

		</div>
		<!-- 1ST ROW END -->

		<!-- 2ND ROW START -->
		<div class="Container100 NoIndent Flex FlexWrap">

			<!-- BILLING CONTEXT START -->
			<div class="Container50 Responsive50 Flex">
				<p:outputPanel id="billingContextPortlet" styleClass="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<div class="Container80">
							<h:outputText value="Rechnung"
								styleClass="yellow Fs24 FontRalewaySemiBold" />
						</div>
						<div class="Container10"></div>
						<div class="Container10">
							<h:form rendered="#{not empty selectedClient}">
								<p:commandButton icon="#{TagAttribute.ICON_ADD} white"
									styleClass="DarkgrayButton" ajax="false"
									action="#{dashboardViewController.doAddInvoice}"
									disabled="#{empty selectedClient.selectedSeriesDocumentation 
												 	or selectedClient.selectedSeriesDocumentation.isDone()}" />
							</h:form>
						</div>
					</div>

					<div class="DispBlock OvHidden">
						<div class="Container100">
							<div class="Fleft">
								<p:dataTable value="#{dashboardViewController.invoices}"
									var="invoice" rowKey="#{invoice.id}"
									emptyMessage="#{i18n['emptyMessage.text']}" styleClass="BBnone">
									<p:column
										headerText="#{i18n['billing.invoice.referenceNo.label']}">
										<p:outputPanel style="text-align: center;">
											<h:outputText value="#{invoice.referenceNo}" />
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{i18n['billing.billingStatus.label']}">
										<p:outputPanel style="text-align: center;">
											<h:outputText
												value="#{i18n['billingStatus.range.'+=invoice.billingStatus+='.name']}" />
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{i18n['billing.billingDate.label']}">
										<p:outputPanel style="text-align: center;">
											<h:outputText value="#{invoice.billingDate}">
												<f:convertDateTime dateStyle="short" type="date" />
											</h:outputText>
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{i18n['billing.dueDate.label']}">
										<p:outputPanel style="text-align: center;">
											<h:outputText value="#{invoice.dueDate}">
												<f:convertDateTime dateStyle="short" type="date" />
											</h:outputText>
										</p:outputPanel>
									</p:column>
									<p:column headerText="#{i18n['billing.total.label']}">
										<p:outputPanel style="text-align: right; white-space: nowrap;">
											<h:outputText
												value="#{of:formatNumber(invoice.total,'#,##0.00')} #{publicViewController.currencySymbol}" />
										</p:outputPanel>
									</p:column>
									<p:column styleClass="Wid5">
										<p:outputPanel style="text-align: center;">
											<h:outputText
												styleClass="fa fa-flag #{invoice.billingStatus.flagStyleClass} Fs18"
												rendered="#{not empty invoice.billingStatus.flagStyleClass}" />
										</p:outputPanel>
									</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>

				</p:outputPanel>
			</div>
			<!-- BILLING CONTEXT END -->

			<!-- SCHEDULE CONTEXT START -->
			<div class="Container50 Responsive50 Flex">
				<div class="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<div class="Container40">
							<h:outputText value="Terminplanung"
								styleClass="green Fs24 FontRalewaySemiBold" />
						</div>
						<div class="Container20">
							<div class="TexAlCenter">
								<h:outputText value="#{dashboardViewController.timelineDate}"
									styleClass="red Fs20">
									<f:convertDateTime pattern="EEE, dd.MM.yy" />
								</h:outputText>
							</div>
						</div>
						<div class="Container40">
							<p:outputPanel id="nextScheduleEntriesActions">
								<h:form
									rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
									<p:menuButton id="doShowNextScheduleEntries"
										styleClass="DarkgrayButton Fright"
										value="Vorschlag#{dashboardViewController.nextScheduleEntriesMins > 0 ? 
												  			' ('+=dashboardViewController.nextScheduleEntriesMins+=' min)' : ''}">
										<p:menuitem value="30 min"
											actionListener="#{dashboardViewController.doShowNextScheduleEntries(30)}"
											update="doShowNextScheduleEntries,scheduleContextPortlet" />
										<p:menuitem value="45 min"
											actionListener="#{dashboardViewController.doShowNextScheduleEntries(45)}"
											update="doShowNextScheduleEntries,scheduleContextPortlet" />
										<p:menuitem value="60 min"
											actionListener="#{dashboardViewController.doShowNextScheduleEntries(60)}"
											update="doShowNextScheduleEntries,scheduleContextPortlet" />
									</p:menuButton>
								</h:form>
							</p:outputPanel>
						</div>
					</div>

					<div class="DispBlock OvHidden">
						<div class="Container100">
							<p:outputPanel id="scheduleContextPortlet">
								<p:outputPanel
									rendered="#{empty dashboardViewController.nextScheduleEntries}">
									<p:timeline value="#{dashboardViewController.timelineModel}"
										min="#{dashboardViewController.timelineMinDate}"
										max="#{dashboardViewController.timelineMaxDate}">
										<p:ajax event="select" update="sessionContextPortlet"
											listener="#{dashboardViewController.onTimelineSelectEvent}" />
									</p:timeline>
								</p:outputPanel>
								<p:outputPanel id="schedulePreview"
									rendered="#{not empty dashboardViewController.nextScheduleEntries}">
									<p:dataTable
										value="#{dashboardViewController.nextScheduleEntries}"
										var="scheduleEntry" rowIndexVar="rowIndex"
										rowKey="#{scheduleEntry.id}"
										emptyMessage="#{i18n['emptyMessage.text']}"
										styleClass="BBnone ColHeaderNone">
										<f:facet name="header">
											<p:panelGrid columns="2" layout="grid"
												styleClass="ui-panelgrid-blank"
												rendered="#{dashboardViewController.showPreviewScheduleEntries}">
												<p:outputPanel style="color: #778d9b;">
													<h:outputText value="Terminvorschlag: " />
													<h:outputText
														value="#{dashboardViewController.selectedScheduleEntry.startDate}">
														<f:convertDateTime pattern="EEE, dd.MM.yy" />
													</h:outputText>
												</p:outputPanel>
												<p:commandButton icon="#{TagAttribute.ICON_BACK} white"
													styleClass="DarkgrayButton" style="width: 32%;"
													process="@this" update="schedulePreview"
													actionListener="#{dashboardViewController.doHidePreviewScheduleEntries}" />
											</p:panelGrid>
											<p:panelGrid columns="2" layout="grid"
												styleClass="ui-panelgrid-blank"
												rendered="#{not dashboardViewController.showPreviewScheduleEntries}">
												<h:outputText value="Terminvorschläge"
													style="color: #778d9b;" />
												<p:commandButton icon="#{TagAttribute.ICON_BACK} white"
													styleClass="DarkgrayButton" style="width: 32%;"
													process="@this"
													update="nextScheduleEntriesActions,scheduleContextPortlet"
													actionListener="#{dashboardViewController.doHideNextScheduleEntries}" />
											</p:panelGrid>
										</f:facet>
										<p:column styleClass="Wid10 TexAlCenter">
											<h:outputText value="#{rowIndex+1}" />
										</p:column>
										<p:column styleClass="TexAlCenter"
											rendered="#{not dashboardViewController.showPreviewScheduleEntries}">
											<h:outputText value="#{scheduleEntry.previewGroupLabel}" />
										</p:column>
										<p:column styleClass="Wid10 TexAlCenter">
											<h:outputText value="#{scheduleEntry.weighting}" />
										</p:column>
										<p:column styleClass="TexAlCenter">
											<h:outputText value="#{scheduleEntry.startDate}"
												rendered="#{dashboardViewController.showPreviewScheduleEntries}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
											<h:outputText value="#{scheduleEntry.startDate}"
												rendered="#{not dashboardViewController.showPreviewScheduleEntries}">
												<f:convertDateTime pattern="EEE, dd.MM.yy HH:mm" />
											</h:outputText>
											<h:outputText value=" - " />
											<h:outputText value="#{scheduleEntry.endDate}">
												<f:convertDateTime pattern="HH:mm" />
											</h:outputText>
										</p:column>
										<p:column styleClass="Wid15 TexAlCenter"
											rendered="#{not dashboardViewController.showPreviewScheduleEntries}">
											<p:commandButton icon="fa fa-clock-o white Fs16"
												value="(#{scheduleEntry.previewEntries.size()})"
												styleClass="DarkgrayButton" process="@this"
												update="schedulePreview"
												actionListener="#{dashboardViewController.doShowPreviewScheduleEntries(scheduleEntry)}" />
										</p:column>
										<p:column styleClass="Wid15 TexAlCenter">
											<p:outputPanel
												rendered="#{dashboardViewController.showPreviewScheduleEntries}">
												<p:commandButton icon="fa fa-plus white Fs16"
													styleClass="DarkgrayButton" process="@this"
													update="nextScheduleEntriesActions,scheduleContextPortlet"
													actionListener="#{dashboardViewController.doSaveScheduleEntry(scheduleEntry)}" />
											</p:outputPanel>
											<p:commandButton icon="fa fa-plus white Fs16"
												styleClass="DarkgrayButton" process="@this"
												update="nextScheduleEntriesActions,scheduleContextPortlet"
												actionListener="#{dashboardViewController.doSaveScheduleEntry(scheduleEntry)}"
												rendered="#{not dashboardViewController.showPreviewScheduleEntries}" />
										</p:column>
										<f:facet name="footer">
											<p:panelGrid columns="3" layout="grid"
												styleClass="ui-panelgrid-blank"
												columnClasses="TexAlRight,TexAlCenter,TexAlLeft">
												<p:commandButton icon="fa fa-minus white Fs16"
													styleClass="DarkgrayButton" style="width: 50%;"
													process="@this" update="scheduleContextPortlet"
													actionListener="#{dashboardViewController.doDecrNextScheduleEntriesWeekOfYear}" />
												<p:outputPanel styleClass="VertTexAlMiddle"
													style="line-height: 36px;">
													<h:outputText
														value="Woche #{dashboardViewController.nextScheduleEntriesWeekOfYear}" />
												</p:outputPanel>
												<p:commandButton icon="fa fa-plus white Fs16"
													styleClass="DarkgrayButton" style="width: 50%;"
													process="@this" update="scheduleContextPortlet"
													actionListener="#{dashboardViewController.doIncrNextScheduleEntriesWeekOfYear}" />
											</p:panelGrid>
										</f:facet>
									</p:dataTable>
								</p:outputPanel>
							</p:outputPanel>
						</div>
					</div>

				</div>
			</div>
			<!-- SCHEDULE CONTEXT END -->

		</div>
		<!-- 2ND ROW END -->

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuDashboard').addClass('active');
		    })
			//]]>
		</h:outputScript>

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		    	loadBodymap("#{not empty selectedClient ? selectedClient.gender : '' }");
		   	});
			
			function  onStartItemSelectClient() {
				var $ac = $('.autoCompleteClient');
				$ac.val('');
				$ac.blur();
			}
			
			function onCompleteItemSelectClient(xhr,status,args) {
				loadBodymap(args.gender);
			}
	        
			function loadBodymap(gender) {
				var $body = $('#innerBodymapDiv');
				
			    $body.svg('destroy');

				if (gender === undefined || gender === null) {
					return;
				}
				if (gender !== 'FEMALE' && gender !== 'MALE') {
					return;
				}

				var mapPath = "#{resource['/images/anatomyBody/AnatomyBody_FEMALE.svg']}";
				if (gender === 'MALE') {
					mapPath = mapPath.replace('_FEMALE', '_MALE');
				}

				$body.svg({
		    		loadURL:mapPath
		    	});
			}
			//]]>
		</h:outputScript>

	</ui:define>

</ui:composition>
