<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- SERIES DOCUMENTATION START -->
		<div class="Container100 Responsive100">
			<div class="Card ui-fluid">
				<h:outputText value="#{i18n['seriesDocumentation.label']}"
					styleClass="Fs20" />
				<div class="EmptyBox20"></div>
				<o:form>
					<div class="DispBlock OvHidden">
						<div class="Container100">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<p:outputLabel for="referralDate"
									value="#{i18n['seriesDocumentation.referralDate.label']}" />
								<p:calendar id="referralDate"
									value="#{preparedSeriesDocumentation.referralDate}"
									showOn="button" showButtonPanel="true" navigator="true"
									size="10" />
								<p:message for="referralDate"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="approvalDate"
									value="#{i18n['seriesDocumentation.approvalDate.label']}" />
								<p:calendar id="approvalDate"
									value="#{preparedSeriesDocumentation.approvalDate}"
									showOn="button" showButtonPanel="true" navigator="true"
									size="10" />
								<p:message for="approvalDate"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="clientSelect"
									value="#{i18n['client.label']}" />
								<p:autoComplete id="clientSelect"
									placeholder="#{i18n['selectItem.placeholder']}"
									value="#{preparedSeriesDocumentation.client}"
									completeMethod="#{seriesDocumentationEditController.queryClients}"
									var="client" itemLabel="#{client.fullname}"
									itemValue="#{client}" converter="clientConverter"
									forceSelection="true" cache="true" minQueryLength="0"
									autoHighlight="false" scrollHeight="250" required="true">
									<p:ajax event="itemSelect" update="physicianSelect"
										listener="#{seriesDocumentationEditController.onItemSelectClient}" />
								</p:autoComplete>
								<p:message for="clientSelect"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="physicianSelect"
									value="#{i18n['physician.label']}" />
								<p:autoComplete id="physicianSelect"
									placeholder="#{i18n['selectItem.placeholder']}"
									value="#{preparedSeriesDocumentation.physician}"
									completeMethod="#{seriesDocumentationEditController.queryPhysicians}"
									var="physician" itemLabel="#{physician.fullname}"
									itemValue="#{physician}" converter="physicianConverter"
									forceSelection="true" cache="true" minQueryLength="0"
									autoHighlight="false" scrollHeight="250" />
								<p:message for="physicianSelect"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="medicalDiagnosisInput"
									value="#{i18n['seriesDocumentation.medicalDiagnosis.label']}" />
								<p:inputTextarea id="medicalDiagnosisInput"
									value="#{preparedSeriesDocumentation.medicalDiagnosis}" />
								<p:message for="medicalDiagnosisInput"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="sessionCount"
									value="#{i18n['seriesDocumentation.sessionCount.label']}" />
								<p:inputText id="sessionCount"
									value="#{preparedSeriesDocumentation.sessionCount}"
									maxlength="2" size="2"
									style="width: auto; min-width: 20%; max-width: 40%;">
									<f:validateLongRange minimum="1" maximum="99" />
								</p:inputText>
								<p:message for="sessionCount"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<p:outputLabel for="sessionDuration"
									value="#{i18n['seriesDocumentation.sessionDuration.label']}" />
								<p:inputText id="sessionDuration"
									value="#{preparedSeriesDocumentation.sessionDuration}"
									maxlength="2" size="2"
									style="width: auto; min-width: 20%; max-width: 40%;">
									<f:validateLongRange minimum="15" maximum="60" />
								</p:inputText>
								<p:message for="sessionDuration"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
							</p:panelGrid>
							<o:validateOrder components="referralDate approvalDate"
								type="lte" showMessageFor="approvalDate"
								message="#{i18n['seriesDocumentation.approvalDate.INVALID']}" />
						</div>
					</div>
					<div class="DispBlock OvHidden">
							<sc:editActionPanel
								controller="#{seriesDocumentationEditController}" />
					</div>
				</o:form>
			</div>
		</div>
		<!-- SERIES DOCUMENTATION END -->

	</ui:define>

</ui:composition>