<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud">

	<h:form>

		<p:fileUpload label="#{i18n['action.upload.name']}"
			update="@widgetVar(serviceAttachments)"
			fileUploadListener="#{serviceAttachmentsEditController.handleFileUpload}"
			mode="advanced" auto="true" dragDropSupport="true"
			sizeLimit="1024000" allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/" />

		<p:dataTable value="#{sessionDocumentation.serviceAttachments}"
			var="attachment" styleClass="BBnone" reflow="true"
			emptyMessage="#{i18n['emptyMessage.text']}"
			widgetVar="serviceAttachments">
			<p:column headerText="#{i18n['updatedDate.label']}"
				styleClass="Wid20 TexAlCenter">
				<h:outputText value="#{attachment.updatedDate}">
					<f:convertDateTime dateStyle="short" type="both" />
				</h:outputText>
			</p:column>
			<p:column headerText="#{i18n['serviceAttachment.contentType.label']}"
				styleClass="Wid20">
				<h:outputText value="#{attachment.contentType}" />
			</p:column>
			<p:column
				headerText="#{i18n['serviceAttachment.sourceFilename.label']}"
				styleClass="WWbreak">
				<h:outputText value="#{attachment.sourceFilename}" />
			</p:column>
			<p:column styleClass="Wid15 ui-fluid">
				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-panelgrid-blank">
					<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
						styleClass="DarkgrayButton" process="@this"
						update="@widgetVar(serviceAttachments)"
						actionListener="#{serviceAttachmentsEditController.doDelete(attachment)}">
						<p:confirm icon="ui-icon-alert"
							header="#{i18n['itemAction.delete.CONFIRM.header']}"
							message="#{i18n['itemAction.delete.CONFIRM.text']}" />
					</p:commandButton>
					<p:commandButton icon="#{TagAttribute.ICON_DOWNLOAD}"
						styleClass="DarkgrayButton" ajax="false" immediate="true">
						<p:fileDownload
							value="#{serviceAttachmentsEditController.handleFileDownload(attachment)}" />
					</p:commandButton>
				</p:panelGrid>
			</p:column>
		</p:dataTable>

		<sc:editConfirmDialog />

	</h:form>

</ui:composition>