<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- SERIES DOCUMENTATIONS BEGIN -->
		<div class="Container100 Responsive100">
			<div class="Card ui-fluid">
				<div class="DispBlock OvHidden">
					<h:form>
						<p:dataTable
							value="#{seriesDocumentationListController.seriesDocumentations}"
							var="seriesDocumentation" widgetVar="seriesDocumentations"
							rowKey="#{seriesDocumentation.id}" sortMode="multiple"
							emptyMessage="#{i18n['emptyMessage.text']}" styleClass="BBnone"
							reflow="true" paginator="true"
							paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
							paginatorAlwaysVisible="false"
							rowsPerPageTemplate="#{TagAttribute.DATATABLE_ROWS_TEMPLATE}"
							rows="#{TagAttribute.DATATABLE_ROWS}">
							<f:facet name="header">
								<p:panelGrid columns="4" layout="grid"
									styleClass="ui-panelgrid-blank"
									columnClasses="Wid50 TexAlLeft,Wid10 TexAlRight,Wid30,Wid10">
									<h:outputText value="#{i18n['seriesDocumentations.label']}"
										styleClass="Fs20" />
									<h:outputText styleClass="#{TagAttribute.ICON_SEARCH}" />
									<p:inputText id="globalFilter"
										onkeyup="PF('seriesDocumentations').filter()"
										placeholder="#{i18n['globalFilter.placeholder']}" />
									<p:commandButton icon="#{TagAttribute.ICON_ADD}"
										styleClass="DarkgrayButton" ajax="false"
										action="#{seriesDocumentationListController.doAdd}" />
								</p:panelGrid>
							</f:facet>
							<p:column
								headerText="#{i18n['seriesDocumentation.referralDate.label']}"
								styleClass="TexAlCenter"
								sortBy="#{seriesDocumentation.referralDate}"
								filterBy="#{publicViewController.asString(seriesDocumentation.referralDate)}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText
									value="#{publicViewController.asString(seriesDocumentation.referralDate)}" />
							</p:column>
							<p:column
								headerText="#{i18n['seriesDocumentation.approvalDate.label']}"
								styleClass="TexAlCenter"
								sortBy="#{seriesDocumentation.approvalDate}"
								filterBy="#{publicViewController.asString(seriesDocumentation.approvalDate)}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText
									value="#{publicViewController.asString(seriesDocumentation.approvalDate)}" />
							</p:column>
							<p:column headerText="#{i18n['person.fullname.label']}"
								sortBy="#{seriesDocumentation.client.fullname}"
								filterBy="#{seriesDocumentation.client.fullname}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText value="#{seriesDocumentation.client.fullname}" />
							</p:column>
							<p:column headerText="#{i18n['client.birthDate.label']}"
								styleClass="TexAlCenter"
								sortBy="#{seriesDocumentation.client.birthDate}"
								filterBy="#{publicViewController.asString(seriesDocumentation.client.birthDate)}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText
									value="#{publicViewController.asString(seriesDocumentation.client.birthDate)}" />
							</p:column>
							<p:column headerText="#{i18n['client.healthInsuranceNo.label']}"
								styleClass="TexAlCenter"
								sortBy="#{seriesDocumentation.client.healthInsuranceNo}"
								filterBy="#{seriesDocumentation.client.healthInsuranceNo}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText value="#{seriesDocumentation.client.healthInsuranceNo}" />
							</p:column>
							<p:column headerText="#{i18n['healthInsurance.label']}"
								styleClass="TexAlCenter"
								sortBy="#{seriesDocumentation.client.healthInsurance.code}"
								filterBy="#{seriesDocumentation.client.healthInsurance.code}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText value="#{seriesDocumentation.client.healthInsurance.code}" />
							</p:column>
							<p:column headerText="#{i18n['person.fullname.label']}"
								sortBy="#{seriesDocumentation.physician.fullname}"
								filterBy="#{seriesDocumentation.physician.fullname}"
								filterMatchMode="contains" filterStyle="display: none;">
								<h:outputText value="#{seriesDocumentation.physician.fullname}" />
							</p:column>
							<p:column>
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank" columnClasses="Wid50,Wid50">
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="DarkgrayButton Wid100" process="@this"
										update="@widgetVar(seriesDocumentations)"
										actionListener="#{seriesDocumentationListController.doDelete(seriesDocumentation)}">
										<p:confirm icon="ui-icon-alert"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>
									<p:commandButton icon="#{TagAttribute.ICON_EDIT}"
										styleClass="DarkgrayButton Wid100" ajax="false"
										action="#{seriesDocumentationListController.doEdit(seriesDocumentation)}" />
								</p:panelGrid>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</div>
		</div>
		<!-- SERIES DOCUMENTATIONS END -->

		<sc:editConfirmDialog />

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuSections').addClass('active');
		    })
			//]]>
		</h:outputScript>

	</ui:define>

</ui:composition>