<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- BOX START -->
		<div class="layout-portlets-box">
			<div class="Container100 ui-fluid">
				<div class="ContainerIndent">
					<h2 class="BigTopic">#{i18n['serviceTemplates.label']}</h2>
					<h:form>
						<div class="ui-grid">
							<div class="ui-grid-row">
								<div class="ui-grid-col-12">
									<p:panelGrid id="serviceTemplatePanelGrid" columns="3"
										layout="grid" styleClass="ui-panelgrid-blank"
										columnClasses="Wid30,Wid40">
										<p:outputLabel for="serviceTemplateServiceType"
											value="#{i18n['serviceTemplate.serviceType.label']}" />
										<p:selectOneMenu id="serviceTemplateServiceType"
											value="#{serviceTemplatesEditController.preparedServiceTemplate.serviceType}"
											effect="fade"
											label="#{i18n['serviceTemplate.serviceType.label']}"
											required="true">
											<f:selectItems value="#{serviceTemplatesEditController.serviceTypes}" var="serviceType"
												itemLabel="#{serviceType.code}" itemValue="#{serviceType}" />
										</p:selectOneMenu>
										<p:message for="serviceTemplateServiceType" />
										<sy:inputText id="serviceTemplateQuantity"
											value="#{serviceTemplatesEditController.preparedServiceTemplate.quantity}"
											label="#{i18n['serviceTemplate.quantity.label']}" size="2"
											required="true">
											<f:convertNumber type="number" integerOnly="true" />
											<f:validateLongRange minimum="1" />
										</sy:inputText>
										<f:facet name="footer">
											<p:outputPanel style="text-align:center;">
												<p:commandButton icon="#{TagAttribute.ICON_ADD}"
													styleClass="DarkgrayButton"
													process="serviceTemplatePanelGrid"
													update="@(:input),serviceTemplatePanelFocus,@widgetVar(serviceTemplates)"
													action="#{serviceTemplatesEditController.doSave}" />
											</p:outputPanel>
										</f:facet>
									</p:panelGrid>
									<p:focus id="serviceTemplatePanelFocus" />
								</div>
							</div>
							<div class="ui-grid-row">
								<div class="ui-grid-col-12" style="padding-top: 20px;">
									<p:dataTable widgetVar="serviceTemplates"
										value="#{selectedClient.selectedSeriesDocumentation.serviceTemplates}"
										var="serviceTemplate">
										<p:column headerText="#{i18n['serviceType.code.label']}">
											<h:outputText value="#{serviceTemplate.serviceType.code}" />
										</p:column>
										<p:column headerText="#{i18n['serviceType.name.label']}">
											<h:outputText value="#{serviceTemplate.serviceType.name}" />
										</p:column>
										<p:column headerText="#{i18n['serviceType.category.label']}">
											<h:outputText
												value="#{i18n['serviceTypeCategory.range.'+=serviceTemplate.serviceType.category+='.name']}" />
										</p:column>
										<p:column styleClass="TexAlRight WSnowrap">
											<f:facet name="header">
												<p:outputPanel styleClass="TexAlCenter">
													<h:outputText value="#{i18n['serviceType.amount.label']}" />
												</p:outputPanel>
											</f:facet>
											<h:outputText
												value="#{of:formatNumber(serviceTemplate.serviceType.amount,'#,##0.00')} #{publicViewController.currencySymbol}" />
										</p:column>
										<p:column
											headerText="#{i18n['serviceTemplate.quantity.label']}">
											<h:outputText value="#{serviceTemplate.quantity}" />
										</p:column>
										<p:column>
											<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
												styleClass="DarkgrayButton"
												process="@widgetVar(serviceTemplates)"
												update="@widgetVar(serviceTemplates)" immediate="true"
												actionListener="#{serviceTemplatesEditController
													.doDelete(serviceTemplate)}" />
										</p:column>
									</p:dataTable>
								</div>
							</div>
						</div>
						<p:outputPanel>
							<p:commandButton icon="#{TagAttribute.ICON_CANCEL}"
								styleClass="DarkgrayButton" value="#{i18n['action.cancel.name']}"
								immediate="true"
								action="#{serviceTemplatesEditController.doCancel}" ajax="false" />
						</p:outputPanel>
					</h:form>
				</div>
			</div>
		</div>
		<!-- BOX END -->

	</ui:define>

</ui:composition>