<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">

	<ui:define name="head">
	
		<h:outputScript>
			//<![CDATA[
            function skinChart() {
                this.cfg.shadow = false;
                this.cfg.seriesColors = ['#71CC8D', '#33AFDE', '#F7941E'];
                this.cfg.grid = {
                    background: '#EDF3F6',
                    borderColor: '#D9E3E8',
                    gridLineColor: '#D9E3E8',
                    shadow: false
                };
                this.cfg.axesDefaults = {
                    rendererOptions: {
                        textColor: '#778D9B'
                    }
                };
                this.cfg.seriesDefaults = {
                    shadow: false,
                    markerOptions: {
                        shadow: false
                    }
                }
            }
	 		//]]>
		</h:outputScript>

		<h:outputStylesheet>
			.jqplot-target, .jqplot-axis {
				color: #778D9B;
			}
		</h:outputStylesheet>
		
	</ui:define>

	<ui:define name="content">

		<h:outputScript name="js/jquery.svg.min.js" target="head" />
		<h:outputScript name="js/jquery.svgdom.min.js" target="head" />

		<h:outputStylesheet>
			.innerBodymap {
				height: 270px;
				-webkit-backface-visibility: initial !important;
				-webkit-transform-origin: 50% 50% 0;
			}
			
			.innerBodymap>svg>g>g {
				-webkit-transform: scale(0.39, 0.39);
				transform: scale(0.39, 0.39);
			}
			
			@media ( min-height : 801px) {
				.innerBodymap {
					height: 300px;
				}
				.innerBodymap>svg>g>g {
					-webkit-transform: scale(0.57, 0.57);
					transform: scale(0.57, 0.57);
				}
			}
		</h:outputStylesheet>

		<!-- 1ST ROW START -->
		<div class="Container100 NoIndent Flex FlexWrap">

			<!-- CLIENT CONTEXT START -->
			<div class="Container100 Responsive100 Flex">
				<div class="Card ui-fluid">
					<div class="DispBlock OvHidden">
						<div class="Container100 TexAlCenter">
							<div class="Container100 TexAlCenter">
								<p:outputPanel rendered="#{not empty selectedClient}">
									<h:outputText value="#{selectedClient.fullname}"
										styleClass="blue Fs40 FontRalewaySemiBold" />
								</p:outputPanel>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- CLIENT CONTEXT END -->

		</div>
		<!-- 1ST ROW END -->

		<!-- 2ND ROW START -->
		<div class="Container100 NoIndent Flex FlexWrap">

			<!-- SERIES CONTEXT START -->
			<div class="Container33 Responsive Flex">
				<div class="Card ui-fluid">
					<div class="DispBlock OvHidden">
						<div class="Container100">
							<p:accordionPanel multiple="true" activeIndex="0,1,2,3,4">
								<p:tab
									title="#{i18n['seriesDocumentation.medicalDiagnosis.label']}">
									<h:outputText
										value="#{selectedClient.selectedSeriesDocumentation.medicalDiagnosis}" />
								</p:tab>
								<p:tab title="Therapeutische Diagnose">
									<h:outputText
										value="#{selectedClient.selectedSeriesDocumentation.therapeuticalDiagnosis.location}" />
								</p:tab>
								<p:tab title="Befundung">
									<h:outputText
										value="#{selectedClient.selectedSeriesDocumentation.findingNote}" />
								</p:tab>
								<p:tab
									title="#{i18n['seriesDocumentation.shorttermOutcome.label']}">
									<h:outputText
										value="#{selectedClient.selectedSeriesDocumentation.shorttermOutcome}" />
								</p:tab>
								<p:tab
									title="#{i18n['seriesDocumentation.longtermOutcome.label']}">
									<h:outputText
										value="#{selectedClient.selectedSeriesDocumentation.longtermOutcome}" />
								</p:tab>
							</p:accordionPanel>
						</div>
					</div>
				</div>
			</div>
			<!-- SERIES CONTEXT END -->

			<!-- SESSION NOTE START -->
			<div class="Container33 Responsive Flex">
				<div class="Card ui-fluid">
					<div class="DispBlock OvHidden">
						<h:form>
							<p:accordionPanel
								value="#{sessionDocumentationEditController.top2SessionDocumentations}"
								var="sessionDocumentation" multiple="true" dynamic="true"
								cache="true" activeIndex="0,1">
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{sessionDocumentation.startDate}">
											<f:convertDateTime dateStyle="short" timeStyle="short"
												type="both" />
										</h:outputText>
									</f:facet>
									<p:inputTextarea value="#{sessionDocumentation.sessionText}" />
								</p:tab>
							</p:accordionPanel>
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank">
								<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
									value="#{i18n['action.save.name']}"
									styleClass="DarkgrayButton"
									actionListener="#{sessionDocumentationEditController.doSave}" />
								<p:commandButton icon="#{TagAttribute.ICON_BACK}"
									value="#{i18n['action.back.name']}" styleClass="DarkgrayButton"
									immediate="true" ajax="false"
									action="#{sessionDocumentationEditController.doBack}" />
							</p:panelGrid>
						</h:form>
					</div>
				</div>
			</div>
			<!-- SESSION NOTE END -->

		</div>
		<!-- 2ND ROW END -->

		<!-- 3RD ROW START -->
		<div class="Container100 NoIndent Flex FlexWrap">

			<!-- KPI CHART START -->
			<div class="Container50 Responsive50 Flex">
				<div class="Card ui-fluid">
					<div class="DispBlock OvHidden">
						<div class="EmptyBox20"></div>
						<div class="Container40">
							<h:outputText value="Key Performance Indicators (KPI)"
								styleClass="blue Fs24 FontRalewaySemiBold" />
						</div>
						<p:panelGrid columns="2" layout="grid"
							styleClass="ui-panelgrid-blank">
							<h:form>
								<p:commandButton icon="#{TagAttribute.ICON_ADD} white"
									styleClass="DarkgrayButton" style="float: right;" type="button"
									onclick="PF('kpiItemEdit').show()" />
							</h:form>
							<p:outputPanel />
						</p:panelGrid>
					</div>
					<div class="DispBlock OvHidden">
						<div class="Container100">
							<h:form>
								<p:chart id="kpiChart" type="line"
									model="#{sessionDocumentationEditController.kpiModel}"
									responsive="true" />
								<p:dialog widgetVar="kpiItemEdit" header="KPI" modal="true"
									resizable="false" width="700">
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="ui-grid-col-3 lineHeight60,ui-grid-col-9 TexAlCenter">
										<c:forEach items="#{KpiType.ALL_VALUES}"
											var="kpiType">
											<p:outputLabel for="kpiPain_#{kpiType}"
												value="#{i18n['kpiType.range.'+=kpiType+='.name']}" />
											<p:outputPanel>
												<h:outputText id="kpiPainOutput_#{kpiType}"
													styleClass="Fs24 FontRalewaySemiBold"
													value="#{sessionDocumentationEditController.kpiItemByType.get(kpiType).kpiValue}" />
												<p:slider id="kpiPain_#{kpiType}"
													for="kpiPainInput_#{kpiType}"
													display="kpiPainOutput_#{kpiType}"
													displayTemplate="{value}" minValue="0" maxValue="10"
													highlight="true" />
												<h:inputHidden id="kpiPainInput_#{kpiType}"
													value="#{sessionDocumentationEditController.kpiItemByType.get(kpiType).kpiValue}" />
											</p:outputPanel>
										</c:forEach>
									</p:panelGrid>
									<f:facet name="footer">
										<div class="DispBlock OvHidden">
											<div class="Container30">
												<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
													value="#{i18n['action.save.name']}"
													styleClass="DarkgrayButton" update="kpiChart"
													actionListener="#{sessionDocumentationEditController.doSave}"
													oncomplete="PF('kpiItemEdit').hide()" />
											</div>
											<div class="Container30">
												<p:commandButton icon="#{TagAttribute.ICON_CANCEL}"
													value="#{i18n['action.cancel.name']}"
													styleClass="DarkgrayButton" type="button" immediate="true"
													onclick="PF('kpiItemEdit').hide()" />
											</div>
											<div class="Container40"></div>
										</div>
									</f:facet>
								</p:dialog>
							</h:form>
						</div>
					</div>
				</div>
			</div>
			<!-- KPI CHART END -->

		</div>
		<!-- 3RD ROW END -->

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		    	loadBodymap("#{not empty selectedClient ? selectedClient.gender : '' }");
		   	});
			
			function onCompleteItemSelectClient(xhr,status,args) {
				if (args.validationFailed === true) {
					return;
				}
				loadBodymap(args.gender);
			}
	        
			function loadBodymap(gender) {
				var $body = $('#innerBodymapDiv');
				
			    $body.svg('destroy');

				if (gender === undefined || gender === null) {
					return;
				}
				if (gender !== 'FEMALE' && gender !== 'MALE') {
					return;
				}

				var mapPath = "#{resource['/images/anatomyBody/AnatomyBody_FEMALE.svg']}";
				if (gender === 'MALE') {
					mapPath = mapPath.replace('_FEMALE', '_MALE');
				}

				$body.svg({
		    		loadURL:mapPath
		    	});
			}
			//]]>
		</h:outputScript>

	</ui:define>

</ui:composition>
