<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jstl/core"	
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:accordionPanel multiple="true" dynamic="true" cache="true">
		<p:tab title="Wo?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.whereNote}"/>
		</p:tab>
		<p:tab title="Wann?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.whenNote}"/>
        </p:tab>
        <p:tab title="Wie?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.howNote}"/>
		</p:tab>
		<p:tab title="Was?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.whatNote}"/>
		</p:tab>
		<p:tab title="Bisherige Behandlungen?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.previousTreatmentNote}"/>
		</p:tab>
		<p:tab title="Was lindert die Beschwerden?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.whatMakesProblemsEasierNote}"/>
		</p:tab>
		<p:tab title="Was verschlimmert die Beschwerden?">
			<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.whatMakesProblemsWorserNote}"/>
		</p:tab>
	</p:accordionPanel>
                  
    <div class="EmptyBox10"></div>
                  
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
      			 columnClasses="ui-grid-col-3,ui-grid-col-4,ui-grid-col-5">
		<p:outputLabel value="Medikation"/>
		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
					 columnClasses="ui-grid-col-2,ui-grid-col-10">
			<p:selectBooleanCheckbox id="anamnesisMedicationBloodCoagulation" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.medicationBloodCoagulation}"/>
        	<p:outputLabel for="anamnesisMedicationBloodCoagulation" 
        				   value="Blutgerinnung"/>
			<p:selectBooleanCheckbox id="anamnesisMedicationPainKiller" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.medicationPainKiller}"/>
        	<p:outputLabel for="anamnesisMedicationPainKiller" 
        				   value="Schmerzmittel"/>
			<p:selectBooleanCheckbox id="anamnesisMedicationSleepingDrug" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.medicationSleepingDrug}"/>
        	<p:outputLabel for="anamnesisMedicationSleepingDrug"
        				   value="Schlafmittel"/>
		</p:panelGrid>
		<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.medicationNote}"/>											
	</p:panelGrid>

	<div class="EmptyBox10"></div>
	
	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
       			 columnClasses="ui-grid-col-3,ui-grid-col-4,ui-grid-col-5">
 	  	<p:outputLabel value="Krankheiten"/>
        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
        			columnClasses="ui-grid-col-2,ui-grid-col-10">
			<p:selectBooleanCheckbox id="anamnesisDiseaseDiabetes" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.diseaseDiabetes}"/>
            <p:outputLabel for="anamnesisDiseaseDiabetes" 
            			   value="Diabetes"/>
			<p:selectBooleanCheckbox id="anamnesisDiseaseAids" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.diseaseAids}"/>
            <p:outputLabel for="anamnesisDiseaseAids" 
            			   value="Aids"/>
			<p:selectBooleanCheckbox id="anamnesisDiseaseHeartPacemaker" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.diseaseHeartPacemaker}"/>
           	<p:outputLabel for="anamnesisDiseaseHeartPacemaker"
            			   value="Herzschrittmacher"/>
		</p:panelGrid>
		<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.diseaseNote}"/>											
	</p:panelGrid>

	<div class="EmptyBox10"></div>

    <p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
    		 	 columnClasses="ui-grid-col-3,ui-grid-col-4,ui-grid-col-5">
		<p:outputLabel value="Frauenspezifisch"/>
        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
           			 columnClasses="ui-grid-col-2,ui-grid-col-10">
			<p:selectBooleanCheckbox id="anamnesisWomenPregnancy" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.womenPregnancy}"/>
            <p:outputLabel for="anamnesisWomenPregnancy" 
            			   value="Schwangerschaft"/>
			<p:selectBooleanCheckbox id="anamnesisWomenCoil" 
									 value="#{seriesDocumentation.therapeuticalAnamnesis.womenCoil}"/>
			<p:outputLabel for="anamnesisWomenCoil" 
            			   value="Spirale"/>
		</p:panelGrid>
		<p:inputTextarea value="#{seriesDocumentation.therapeuticalAnamnesis.womenNote}"/>
	</p:panelGrid>

</ui:composition>