<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jstl/core"	
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:accordionPanel widgetVar="#{widgetVar}" multiple="true" dynamic="true" cache="true">
		<p:tab title="#{i18n['seriesDocumentation.medicalDiagnosis.label']}">
			<p:inputTextarea value="#{seriesDocumentation.medicalDiagnosis}"/>
		</p:tab>
        <p:tab title="Therapeutische Diagnose">
	        <p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
	        			 columnClasses="ui-grid-col-3,ui-grid-col-9">
              	<p:outputLabel for="therapeuticalDiagnosisLocation" value="Ort"/>
				<p:inputText id="therapeuticalDiagnosisLocation" value="#{seriesDocumentation.therapeuticalDiagnosis.location}"/>
              	<p:outputLabel for="therapeuticalDiagnosisMethod" value="Art"/>
				<p:inputText id="therapeuticalDiagnosisMethod" value="#{seriesDocumentation.therapeuticalDiagnosis.method}"/>
              	<p:outputLabel for="therapeuticalDiagnosisDirection" value="Richtung"/>
				<p:inputText id="therapeuticalDiagnosisDirection" value="#{seriesDocumentation.therapeuticalDiagnosis.direction}"/>
              	<p:outputLabel for="therapeuticalDiagnosisQuality" value="Qualität"/>
				<p:inputText id="therapeuticalDiagnosisQuality" value="#{seriesDocumentation.therapeuticalDiagnosis.quality}"/>
              	<p:outputLabel for="therapeuticalDiagnosisLevel" value="Grad"/>
				<p:inputText id="therapeuticalDiagnosisLevel" value="#{seriesDocumentation.therapeuticalDiagnosis.level}"/>
              	<p:outputLabel for="therapeuticalDiagnosisActivity" value="Aktivität"/>
				<p:inputText id="therapeuticalDiagnosisActivity" value="#{seriesDocumentation.therapeuticalDiagnosis.activity}"/>
              	<p:outputLabel for="therapeuticalDiagnosisParticipation" value="Partizipation"/>
				<p:inputText id="therapeuticalDiagnosisParticipation" value="#{seriesDocumentation.therapeuticalDiagnosis.participation}"/>
			</p:panelGrid>
		</p:tab>
		<p:tab title="Befundung">
			<p:inputTextarea value="#{seriesDocumentation.findingNote}"/>
		</p:tab>
		<p:tab title="#{i18n['seriesDocumentation.shorttermOutcome.label']}">
			<p:inputTextarea value="#{seriesDocumentation.shorttermOutcome}"/>
		</p:tab>
		<p:tab title="#{i18n['seriesDocumentation.longtermOutcome.label']}">
			<p:inputTextarea value="#{seriesDocumentation.longtermOutcome}"/>
		</p:tab>
    </p:accordionPanel>

</ui:composition>