<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{publicViewController.locale}">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<meta name="theme-color"
				content="#{guestPreferences.themeColors[guestPreferences.themeColor]}" />
		</f:facet>
		<title><ui:insert name="title">Synaptos Smart Therapy</ui:insert></title>
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['/images/synaptos-logo-s.ico']}" />
		<!-- Poseidon JS Scripts -->
		<h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
		<h:outputScript name="js/swipe.js" library="poseidon-layout" />

		<!-- Custom JS Scripts -->
		<h:outputScript name="js/utils.js" />
		<h:outputScript name="js/ripple.js" />
		<h:outputScript name="js/overrides-layout.js" />
		<h:outputScript name="js/overrides-schedule.js" />
		<h:outputScript name="js/overrides-texteditor.js" />
	</h:head>

	<h:body styleClass="main-body">
		<p:importEnum type="at.synaptos.synapphys.model.Gender" />
		<p:importEnum type="at.synaptos.synapphys.model.KpiType" />
		<p:importEnum type="at.synaptos.synapphys.model.BillingType" />
		<p:importEnum type="at.synaptos.synapphys.model.BillingStatus" />
		<p:importEnum type="at.synaptos.synapphys.model.PaymentMethod" />
		<p:importEnum type="at.synaptos.synapphys.model.ServiceTypeCategory" />
		<p:importEnum type="at.synaptos.synapphys.model.Priority" />

		<p:importConstants type="at.synaptos.synapphys.utils.PageUrl" />
		<p:importConstants type="at.synaptos.synapphys.utils.TagAttribute" />

		<h:form>
			<p:remoteCommand name="logout" process="@this" immediate="true"
				actionListener="#{userViewController.logout}" />
		</h:form>

		<div class="layout-wrapper #{guestPreferences.menuLayout}">
			<ui:include src="./topbar.xhtml" />
			<ui:include src="./menu.xhtml" />

			<div class="layout-main">
				<ui:insert name="content" />
			</div>
		</div>

		<p:ajaxStatus
			style="width: 32px; height: 32px; position:fixed; right: 7px; bottom: 7px">
			<f:facet name="start">
				<i class="fa fa-circle-o-notch fa-spin ajax-loader"
					aria-hidden="true"></i>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>

		<!-- Poseidon Layout CSS -->
		<h:outputStylesheet name="css/nanoscroller.css"
			library="poseidon-layout" />
		<h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
		<h:outputStylesheet
			name="css/layout-#{guestPreferences.themeColor}.css"
			library="poseidon-layout" />

		<!-- Custom Layout CSS -->
		<h:outputStylesheet name="css/ripple.css" />
		<h:outputStylesheet
			name="css/overrides-#{guestPreferences.themeColor}.css" />
	</h:body>
</f:view>

</html>
