<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pp="http://primefaces.org/poseidon">

	<h:form id="menuform">
		<div class="layout-menu-container">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<pp:menu widgetVar="me">
						<p:menuitem id="um_clientSelect"
							value="#{i18n['menu.home.label']}"
							icon="#{TagAttribute.ICON_HOME} fa-fw"
							outcome="#{PageUrl.CLIENT_SELECT}" />

						<p:menuitem id="um_invoicing"
							value="#{i18n['menu.invoicing.label']}"
							icon="#{TagAttribute.ICON_INVOICING} fa-fw"
							outcome="#{PageUrl.INVOICE_LIST}" />

						<p:submenu id="um_receipting"
							label="#{i18n['menu.receipting.label']}"
							icon="#{TagAttribute.ICON_RECEIPTING} fa-fw">
							<p:menuitem id="um_receipts"
								value="#{i18n['billing.receipts.label']}"
								outcome="#{PageUrl.RECEIPT_LIST}" />
							<p:menuitem id="um_cashbox"
								value="#{i18n['billing.receipt.label']}"
								outcome="#{PageUrl.RECEIPT_EDIT}" />
						</p:submenu>

						<p:submenu id="um_masterdata"
							label="#{i18n['menu.masterdata.label']}"
							icon="#{TagAttribute.ICON_MASTERDATA} fa-fw">
							<p:menuitem id="um_clients"
								value="#{i18n['clients.label']}"
								outcome="#{PageUrl.CLIENT_LIST}" />
							<p:menuitem id="um_physicians"
								value="#{i18n['physicians.label']}"
								outcome="#{PageUrl.PHYSICIAN_LIST}" />
							<p:menuitem id="um_serviceTypes"
								value="#{i18n['serviceTypes.label']}"
								outcome="#{PageUrl.SERVICE_TYPE_LIST}" />
							<p:menuitem id="um_healthInsurances"
								value="#{i18n['healthInsurances.label']}"
								outcome="#{PageUrl.HEALTH_INSURANCE_LIST}" />
						</p:submenu>

						<p:menuitem id="um_settings"
							value="#{i18n['menu.settings.label']}"
							icon="#{TagAttribute.ICON_SETTINGS} fa-fw"
							outcome="#{PageUrl.SETTINGS_MAIN}" />
					</pp:menu>

					<div class="layout-menu-footer"></div>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>