<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:po="http://primefaces.org/poseidon">

	<div class="topbar clearfix">
		<div class="topbar-left">
			<div class="logo"></div>
		</div>

		<div class="topbar-right">
			<a id="menu-button" href="#" class="circle"> <i
				style="margin-left: 15px; color: white; line-height: 40px; font-size: 30px; font-weight: bold;"
				class="fa fa-angle-left"></i>
			</a>

			<c:if test="#{not empty selectedClient}">
				<c:if test="#{topbarClientController.rightView()}">
					<div id="menu-client">
						<p:outputPanel style="display: table; margin-left: 100px">
							<p:graphicImage styleClass="imgAvatar"
								value="#{resource[selectedClient
									.textKeyForGender('/images/avatar/Avatar-','.png')]}"
								style="vertical-align: middle; margin-right: 12px"
								rendered="#{not empty selectedClient.gender}" />
							<span class="imageText Fs20">#{selectedClient.fullname}</span>
						</p:outputPanel>
					</div>
				</c:if>
			</c:if>

			<a id="topbar-menu-button" href="#"> <i class="fa fa-bars"></i>
			</a>

			<ul class="topbar-items fadeInDown animated">
				<li><a href="#"> <i
						class="topbar-icon #{TagAttribute.ICON_USER} fa-fw"></i> <span
						class="topbar-item-name">Benutzer</span>
				</a>
					<ul class="poseidon-menu animated">
						<li role="menuitem">
							<div style="text-align: center; opacity: 0.7">
								<p:outputPanel styleClass="Fs20" style="margin-top: 20px">
								#{usermetaContext.fullname}
							</p:outputPanel>
								<p:outputPanel style="margin-top: 20px">
								#{i18n['menu.user.lastlogin.label']}
							</p:outputPanel>
								<p:outputPanel style="margin-bottom: 20px">
									<h:outputText value="#{configContext.lastloginDate}">
										<f:convertDateTime dateStyle="short" timeStyle="short"
											type="both" />
									</h:outputText>
								</p:outputPanel>
							</div>
						</li>

						<p:outputPanel
							rendered="#{not empty userViewController.accountUrl}">
							<li role="menuitem"><a
								href="#{userViewController.accountUrl}"> <i
									class="#{TagAttribute.ICON_PROFILE} fa-fw"></i><span>#{i18n['menu.user.account.label']}</span>
							</a></li>
						</p:outputPanel>

						<li role="menuitem"><a href="#" onclick="logout()"> <i
								class="#{TagAttribute.ICON_LOGOUT} fa-fw"></i><span>#{i18n['action.logout.name']}</span>
						</a></li>
					</ul></li>
				<li><a
					href="#{request.contextPath}#{PageUrl.CLIENT_SELECT}.jsf"> <i
						class="topbar-icon #{TagAttribute.ICON_HOME} fa-fw"></i><span
						class="topbar-item-name">PatientInnen</span>
				</a></li>
			</ul>
		</div>
	</div>

</ui:composition>