<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<o:tagAttribute name="tag" />
	<o:tagAttribute name="address" />

	<sy:inputText id="addressSteetInput_#{tag}" value="#{address.street}"
		label="#{i18n['address.street.label']}">
		<ui:insert name="addressSteetInput" />
	</sy:inputText>

	<sy:inputText id="addressPostcodeInput_#{tag}"
		value="#{address.postcode}" label="#{i18n['address.postcode.label']}">
		<ui:insert name="addressPostcodeInput" />
	</sy:inputText>

	<sy:inputText id="addressCityInput_#{tag}" value="#{address.city}"
		label="#{i18n['address.city.label']}">
		<ui:insert name="addressCityInput" />
	</sy:inputText>

</ui:composition>