<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<o:tagAttribute name="tag" />
	<o:tagAttribute name="contact" />

	<sy:inputText id="contactPhone2_#{tag}" value="#{contact.phone2}"
		label="#{i18n['contact.phone2.label']}"
		placeholder="&#xf095;&#160;&#160;#{i18n['contact.phone2.placeholder']}"
		styleClass="icon">
	</sy:inputText>

	<sy:inputText id="contactFax_#{tag}" value="#{contact.fax}"
		label="#{i18n['contact.fax.label']}"
		placeholder="&#xf1ac;&#160;&#160;#{i18n['contact.fax.placeholder']}"
		styleClass="icon">
	</sy:inputText>

	<sy:inputText id="contactEmail_#{tag}" value="#{contact.email}"
		label="#{i18n['contact.email.label']}"
		placeholder="&#xf0e0;&#160;&#160;#{i18n['contact.email.placeholder']}"
		styleClass="icon">
	</sy:inputText>

</ui:composition>