<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
		columnClasses="TextAlCenter,TextAlCenter">

		<p:outputPanel>
			<div style="height: 60px;">
				<h:outputText value="#{i18n['settings.pause.pauseTime.label']}" />
			</div>
			<p:panelGrid columns="2" styleClass="ui-panel-textCentered"
				layout="grid" columnClasses="TextAlCenter">
				<h:outputText id="output"
					value="Pause: #{settingsScheduleController.officeBreaks.breakMins} Minuten" />
				<h:inputHidden id="sliderPause"
					value="#{settingsScheduleController.officeBreaks.breakMins}" />
				<p:slider for="sliderPause" display="output" style="width: 200px"
					displayTemplate="Pause: {value} Minuten" step="5" maxValue="60"
					minValue="0">
					<p:ajax event="slideEnd"
						listener="#{settingsScheduleController.doSave()}" process="" />
				</p:slider>
			</p:panelGrid>
		</p:outputPanel>

		<p:outputPanel>
			<div style="height: 60px;">
				<h:outputText
					value="#{i18n['settings.pause.afterPeriodOfTime.label']}" />
			</div>
			<p:panelGrid columns="2" columnClasses="Wid40, Wid60" layout="grid" styleClass="ui-panel-textCentered" >
			<sy:spinner value="#{settingsScheduleController.officeBreaks.afterPeriodOfHours}"
			listenerMinus="#{settingsScheduleController.officeBreaks.decreaseAfterPeriodOfHours()}"
			listenerPlus="#{settingsScheduleController.officeBreaks.increaseAfterPeriodOfHours()}"
			action="#{settingsScheduleController.doSave()}"
			/>
			<p:outputLabel value=" "/>
			</p:panelGrid>
		</p:outputPanel>
	</p:panelGrid>


</ui:composition>