<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<p:messages id="messages" showDetail="true" autoUpdate="true"
		closable="true" />

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank ui-responsive"
		columnClasses="TexAlCenter Wid10,TexAlCenter Wid45,TexAlCenter Wid45">
		<h:panelGroup>
			<h:graphicImage value="/resources/images/icon/day_icon.ico"
				width="50" height="50" style="vertical-align: middle;" />
			<h:outputText value="#{i18n['settings.day.label']}" />
		</h:panelGroup>
		<h:panelGroup>
			<h:graphicImage value="/resources/images/icon/sunrise_icon.ico"
				width="50" height="50" style="vertical-align: middle;" />
			<h:outputText value="&#160;#{i18n['settings.morning.label']}"
				style="vertical-align: middle;" />
		</h:panelGroup>
		<h:panelGroup>
			<h:graphicImage value="/resources/images/icon/sunset_icon.ico"
				width="50" height="50" style="vertical-align: middle;" />
			<h:outputText value="&#160;#{i18n['settings.afternoon.label']}"
				style="vertical-align: middle;" />
		</h:panelGroup>
	</p:panelGrid>

	<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
		columnClasses="Wid10 MarTop20 bold, Wid45,Wid45">
		<c:forEach items="#{of:createArray(5)}" varStatus="loop">

			<h:outputText
				value="#{settingsScheduleController.dayOfWeekName(loop.index)}" />

			<p:panelGrid columns="3" layout="grid"
				styleClass="ui-panelgrid-blank ui-panel-textCentered" columnClasses="Wid30 MarTop5, Wid30 MarTop5, Wid40">
				<p:calendar id="morningDateStart_#{loop.index}"
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornStartDate}"
					pattern="HH:mm" timeOnly="true" stepMinute="15" minHour="0"
					maxHour="12" validator="mornStartDateValidator">
					<p:ajax event="dateSelect"
						listener="#{settingsScheduleController.doSave()}" />
				</p:calendar>
				<p:calendar id="morningDateEnd_#{loop.index}"
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornEndDate}"
					pattern="HH:mm" timeOnly="true" stepMinute="15" minHour="0"
					maxHour="12" validator="mornEndDateValidator">
					<p:ajax event="dateSelect"
						listener="#{settingsScheduleController.doSave()}" />
				</p:calendar>
				<sy:spinner
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornWeighting}"
					listenerMinus="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).decreaseMornWeighting()}"
					listenerPlus="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).increaseMornWeighting()}"
					action="#{settingsScheduleController.doSave()}" />
			</p:panelGrid>

			<p:panelGrid columns="3" layout="grid"
				styleClass="ui-panelgrid-blank ui-panel-textCentered" columnClasses="Wid30 MarTop5, Wid30 MarTop5, Wid40">
				<p:calendar id="afternoonDateStart_#{loop.index}"
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnStartDate}"
					pattern="HH:mm" timeOnly="true" stepMinute="15" minHour="12"
					maxHour="23" validator="aftnStartDateValidator">
					<p:ajax event="dateSelect"
						listener="#{settingsScheduleController.doSave()}" />
				</p:calendar>
				<p:calendar id="afternoonDateEnd_#{loop.index}"
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnEndDate}"
					pattern="HH:mm" timeOnly="true" stepMinute="15" minHour="12"
					maxHour="23" validator="aftnEndDateValidator">
					<p:ajax event="dateSelect"
						listener="#{settingsScheduleController.doSave()}" />
				</p:calendar>

				<sy:spinner
					value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnWeighting}"
					listenerMinus="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).decreaseAftnWeighting()}"
					listenerPlus="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).increaseAftnWeighting()}"
					action="#{settingsScheduleController.doSave()}" />

			</p:panelGrid>

		</c:forEach>
	</p:panelGrid>
</ui:composition>