<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<o:tagAttribute name="tag" />
	<o:tagAttribute name="person" />

	<sy:inputText id="personLastname_#{tag}" value="#{person.lastname}"
		label="#{i18n['person.lastname.label']}" required="true">
	</sy:inputText>

	<sy:inputText id="personFirstname_#{tag}" value="#{person.firstname}"
		label="#{i18n['person.firstname.label']}" />

	<sy:inputText id="personTitle_#{tag}" value="#{person.title}"
		label="#{i18n['person.title.label']}" />

	<sy:inputText id="contactPhone1_#{tag}"
		value="#{person.homeContact.phone1}"
		label="#{i18n['contact.phone1.label']}"
		placeholder="&#xf095;&#160;&#160;#{i18n['contact.phone1.placeholder']}"
		styleClass="icon">
	</sy:inputText>

</ui:composition>