<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">

	<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
		columnClasses="Wid15 MarTop10,Wid85">
		<p:outputLabel for="scheduleSheetMinTime" value="Minimale Zeit" />
		<p:calendar id="scheduleSheetMinTime"
			value="#{settingsScheduleController.scheduleMinTime}" pattern="HH:mm"
			timeOnly="true" stepMinute="15" minHour="0" maxHour="12">
			<p:ajax event="dateSelect"
				listener="#{settingsScheduleController.doSave()}" />
		</p:calendar>

		<p:outputLabel for="scheduleSheetMaxTime" value="Maximale Zeit" />
		<p:calendar id="scheduleSheetMaxTime"
			value="#{settingsScheduleController.scheduleMaxTime}" pattern="HH:mm"
			timeOnly="true" stepMinute="15" minHour="13" maxHour="23">
			<p:ajax event="dateSelect"
				listener="#{settingsScheduleController.doSave()}" />
		</p:calendar>
	</p:panelGrid>

</ui:composition>