<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets">


	<p:panelGrid columns="2" styleClass="ui-panelgrid-blank " layout="grid"
		columnClasses="Wid80 MarTop5 , Wid20 ui-panel-textCentered">

		<h:outputText value="#{i18n['settings.patientOnSameDay.label']}" />
		<sy:spinner 
			value="#{settingsScheduleController.scheduleWeightings.sameDayOfWeek}"
			listenerMinus="#{settingsScheduleController.scheduleWeightings.decreaseSameDayOfWeek}"
			listenerPlus="#{settingsScheduleController.scheduleWeightings.increaseSameDayOfWeek}"
			action="#{settingsScheduleController.doSave}" />

		<h:outputText value="#{i18n['settings.patientAtSameTime.label']}" />
		
			<sy:spinner value="#{settingsScheduleController.scheduleWeightings.sameTimeOfDay}"
			listenerMinus="#{settingsScheduleController.scheduleWeightings.decreaseSameTimeOfDay()}"
			listenerPlus="#{settingsScheduleController.scheduleWeightings.increaseSameTimeOfDay()}"
			action="#{settingsScheduleController.doSave()}"
			/>

		<h:outputText
			value="#{i18n['settings.appointmentCloseToPrevious.label']}" />
			
			<sy:spinner value="#{settingsScheduleController.scheduleWeightings.followPrevious}"
			listenerMinus="#{settingsScheduleController.scheduleWeightings.decreaseFollowPrevious()}"
			listenerPlus="#{settingsScheduleController.scheduleWeightings.increaseFollowPrevious()}"
			action="#{settingsScheduleController.doSave()}"
			/>

	</p:panelGrid>

</ui:composition>