<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['menu.home.label']}" />
	</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{guestPreferences.init}" onPostback="false" />
		</f:metadata>

		<div class="layout-main-content">
			<div class="ui-g ui-fluid">
				<div class="ui-g-12">
					<div class="card">
						<h:form id="clientForm">
							<p:outputPanel>
								<p:panelGrid id="clientFilter" columns="4" layout="grid"
									styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
									<h:outputText value="#{i18n['menu.home.label']}"
										styleClass="Fs24" />

									<p:outputPanel>
										<p:commandButton icon="#{TagAttribute.ICON_FILTER}"
											value="#{i18n['client.patientStatus.current']}"
											styleClass="clientFilterCurrent" process="@this"
											resetValues="true"
											action="#{clientSelectController.doLoadClientsBySelectedSearchKey}"
											oncomplete="onCompleteClientFilter(xhr,status,args)">
											<f:setPropertyActionListener
												target="#{clientSelectController.selectedSearchKey}"
												value="#{TagAttribute.CLIENT_SEARCH_KEY_CURRENT}" />
										</p:commandButton>
									</p:outputPanel>

									<p:outputPanel>
										<p:commandButton icon="#{TagAttribute.ICON_FILTER}"
											value="#{i18n['client.patientStatus.bookmarked']}"
											process="@this" resetValues="true"
											action="#{clientSelectController.doLoadClientsBySelectedSearchKey}"
											oncomplete="onCompleteClientFilter(xhr,status,args)">
											<f:setPropertyActionListener
												target="#{clientSelectController.selectedSearchKey}"
												value="#{TagAttribute.CLIENT_SEARCH_KEY_BOOKMARKED}" />
										</p:commandButton>
									</p:outputPanel>

									<p:outputPanel>
										<p:commandButton icon="#{TagAttribute.ICON_ADD}"
											value="Neue PatientIn" ajax="false"
											action="#{clientSelectController.doAddClient}">
										</p:commandButton>
									</p:outputPanel>
								</p:panelGrid>
							</p:outputPanel>

							<p:outputPanel>
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:selectOneButton
										value="#{clientSelectController.selectedSearchKey}"
										styleClass="selectedSearchKey Fs24">
										<p:ajax event="change" process="@this" resetValues="true"
											listener="#{clientSelectController.doLoadClientsBySelectedSearchKey}" />
										<f:selectItems value="#{clientSelectController.searchItems}"
											var="searchKey" itemLabel="#{searchKey[0]}"
											itemValue="#{searchKey[0]}">
										</f:selectItems>
									</p:selectOneButton>
								</p:panelGrid>
							</p:outputPanel>

							<p:outputPanel>
								<p:dataTable id="clients"
									value="#{clientSelectController.filteredClients}" var="client"
									widgetVar="clients" rowKey="#{client.id}"
									rowIndexVar="rowIndex" sortBy="#{client.fullname}"
									sortOrder="ascending"
									emptyMessage="#{i18n['emptyMessage.text']}" reflow="true"
									selectionMode="single"
									selection="#{clientSelectController.selectedClient}">
									<p:ajax event="rowSelect"
										listener="#{clientSelectController.onRowSelectClient}" />

									<p:rowExpansion>
										<p:outputPanel styleClass="DivBorder TexColor"
											rendered="#{not empty client.contactNote}">
											<h:outputText value="#{client.contactNote}" escape="false" />
										</p:outputPanel>
									</p:rowExpansion>

									<p:column style="width: 12px">
										<p:rowToggler rendered="#{not empty client.contactNote}" />
									</p:column>

									<p:column headerText="#{i18n['person.fullname.label']}"
										styleClass="Wid35" sortBy="#{client.fullname}"
										filterBy="#{client.fullname}" filterMatchMode="contains">
										<f:facet name="filter">
											<p:inputText styleClass="icon clientFullnameFilter"
												placeholder="&#xf002;&#160;&#160;#{i18n['globalFilter.placeholder']}"
												onkeyup="PF('clients').filter()" />
										</f:facet>
										<p:outputPanel style="display: table">
											<p:graphicImage styleClass="imgAvatar"
												value="#{resource[client
													.textKeyForGender('/images/avatar/Avatar-','.png')]}"
												style="vertical-align: middle; margin-right: 12px"
												onclick="PF('clients').selectRow(#{rowIndex}, false)"
												rendered="#{not empty client.gender}" />

											<h:outputText value="#{client.fullname}&#160;&#160;"
												styleClass="imageText Fs18" style="font-weight: bold" />
												
											<p:outputPanel style="padding-top: 8px">
												<p:commandLink style="vertical-align: middle" ajax="false"
													process="@this" onclick="onClickStopPropagation(event)"
													action="#{clientSelectController.doEditClient(client)}">
													<p:outputPanel styleClass="DivBorder HoverEffect">
														<h:outputText styleClass="fa fa-edit Fs18" />
													</p:outputPanel>
												</p:commandLink>
											</p:outputPanel>
										</p:outputPanel>
									</p:column>

									<p:column headerText="#{i18n['client.birthDate.label']}"
										styleClass="TexAlCenter">
										<h:outputText
											value="#{publicViewController.asString(client.birthDate)}" />
									</p:column>

									<p:column styleClass="TexAlCenter">
										<f:facet name="header">
											<h:outputText styleClass="#{TagAttribute.ICON_PHONE}" />
										</f:facet>
										<h:outputText value="#{client.phone}" />
									</p:column>

									<p:column styleClass="Wid20 TexAlCenter">
										<f:facet name="header">
											<h:outputText value="#{i18n['client.patientStatus']}" />
										</f:facet>

										<h:panelGroup
											rendered="#{empty clientSelectController.filteredByPatientStatus}">
											<h:panelGroup rendered="#{client.current}">
												<h:outputText
													value="in Behandlung seit #{client.patientStatusSinceDays == 0 ? 'heute' :
													(client.patientStatusSinceDays == 1 ? '1 Tag' : 
													client.patientStatusSinceDays+=' Tagen')}" />
												<h:panelGroup style="font-weight: bold; display: block"
													rendered="#{not empty client.lastSeriesDocumentation}">
													<h:outputText
														value="#{client.lastSeriesDocumentation.sessionDocumentations.size()}" />
													<h:outputText
														value="&#160;#{client.lastSeriesDocumentation.sessionDocumentations
															.size() == 1 ? 'Termin' : 'Termine'}" />
												</h:panelGroup>
											</h:panelGroup>

											<h:panelGroup rendered="#{client.bookmarked}">
												<h:outputText
													value="auf Warteliste seit #{client.patientStatusSinceDays == 0 ? 'heute' :
													(client.patientStatusSinceDays == 1 ? '1 Tag' : 
													client.patientStatusSinceDays+=' Tagen')}" />
											</h:panelGroup>

											<p:selectBooleanButton value="#{client.bookmarked}"
												onLabel="seit #{client.patientStatusSinceDays == 0 ? 'heute' :
													(client.patientStatusSinceDays == 1 ? '1 Tag' :
													client.patientStatusSinceDays+=' Tagen')}"
												offLabel="&#160;" onIcon="#{TagAttribute.ICON_BOOKMARK_ON}"
												offIcon="#{TagAttribute.ICON_BOOKMARK_OFF}"
												rendered="#{empty client.patientStatus}">
												<p:ajax process="@this"
													listener="#{clientSelectController.doSaveBookmarkClient(client)}" />
											</p:selectBooleanButton>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{clientSelectController.filteredByPatientStatusCurrent}">
											<h:outputText
												value="in Behandlung seit #{client.patientStatusSinceDays == 0 ? 'heute' :
												(client.patientStatusSinceDays == 1 ? '1 Tag' : 
												client.patientStatusSinceDays+=' Tagen')}" />
											<h:panelGroup style="font-weight: bold; display: block"
												rendered="#{not empty client.lastSeriesDocumentation}">
												<h:outputText
													value="#{client.lastSeriesDocumentation.sessionDocumentations.size()}" />
												<h:outputText
													value="&#160;#{client.lastSeriesDocumentation.sessionDocumentations
														.size() == 1 ? 'Termin' : 'Termine'}" />
											</h:panelGroup>
										</h:panelGroup>

										<h:panelGroup
											rendered="#{clientSelectController.filteredByPatientStatusBookmarked}">
											<p:selectBooleanButton value="#{client.bookmarked}"
												onLabel="seit #{client.patientStatusSinceDays == 0 ? 'heute' :
													(client.patientStatusSinceDays == 1 ? '1 Tag' :
													client.patientStatusSinceDays+=' Tagen')}"
												offLabel="&#160;" onIcon="#{TagAttribute.ICON_BOOKMARK_ON}"
												offIcon="#{TagAttribute.ICON_BOOKMARK_OFF}"
												rendered="#{client.bookmarked}">
												<p:ajax process="@this" update="@widgetVar(clients)"
													listener="#{clientSelectController.doSaveBookmarkClientForBookmarked(client)}" />
											</p:selectBooleanButton>
										</h:panelGroup>
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('.clientFilterCurrent').focus();
		    })

			function onCompleteClientFilter(xhr,status,args) {
				var $active = $('.selectedSearchKey').find('div.ui-state-active');
				if ($active.length) {
					$active.removeClass('ui-state-active');
				}
			};
			//]]>
		</h:outputScript>
	</ui:define>

</ui:composition>