html {
    height: 100%;
}
 
body {
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    padding:0;
    margin:0;
    height: 100%;

    &.main-body {
        background-color: #D9E0E7;
    }
    
    a {
        color: $primaryColor;
        text-decoration: none;
	
        &:hover {
            color: lighten($primaryColor, 10%);
        }
	}
}

.layout-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #6b8a99;
    @include opacity(.7);
    top: 0;
    left: 0;
    z-index: 999999997;
}

.layout-wrapper {
    
    .topbar {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 75px;
        background-color: #ffffff;
        box-shadow: 0 0 4px rgba(0,0,0,.3);
        
        .logo {
            display: inline-block;
            vertical-align: middle;
            width: 226px;
            height: 78px;
            background: url("\#{resource['/images/synaptos-logo-white.png']}") top left no-repeat;
            background-size: 226px 78px;
        }
        
        .topbar-left {
            box-sizing: border-box;
            padding: 12px 20px 0px 35px;
            height: 75px;
            width: 250px;
            background-color: $primaryColor;
            float: left;
            @include transition(background-color .3s);
        }
        
        .topbar-right {
            padding: 15px 20px 15px 270px;
            
            #menu-button {
                display: inline-block;
                vertical-align: middle;
                height: 36px;
                margin-right: 10px;
                position: relative;
                top: 3px;
                color: $textColor;
                @include transition(all .3s);
                
                &:hover {
                    @include scale(1.2);
                }
                
                i {
                    @include transition(all .3s);
                    font-size: 36px;
                }
            }
            
            #topbar-menu-button {
                display: none;
                float: right;
                color: $textColor;
                vertical-align: middle;
                height: 36px;
                margin: 5px 5px 0 0;
                @include transition(all .3s);
                                
                i {
                    font-size: 36px;
                }
            }
        }
    }
    
    .layout-menu-container {
        overflow: auto;
        position: fixed;
        width: 250px;
        z-index: 99;
        top: 75px;
        height: 100%;
        background-color: #6b8a99;
        @include transition(margin-left .3s);
                
        > .nano {            
            > .nano-content {
                &.menu-scroll-content {
                    display: block;
                    height: 100%;
                    position: relative;
                    overflow: scroll;
                    overflow-x: hidden;
                }  
                
                > ul:last-child {
                    margin-top: 16px;
                    padding-bottom: 120px;
                }
            }
            
            .nano-pane {
                .nano-slider {
                    background-color: #aaaaaa;
                    @include opacity(.3);
                }
            }
        }
        
        .search-input {
            padding: 32px 16px 8px 16px;
            text-align: center;
            position: relative;
            
            input {
                padding: 10px 30px 10px 15px;
                background-color: #42494f;
                border: 1px solid #75787b;
                @include border-radius(2px);
                font-size: 14px;
                color: #f0f3f5;
                box-sizing: border-box;
                width: 100%;
                @include transition(border-color .3s);
                @include placeholder {
                    color: #a8acb1;
                }
                 
                &:focus {
                    outline: 0 none;
                    border: 1px solid $primaryColor;
                    @include border-shadow();
                }
            }
            
            .fa-search {
                position: absolute;
                right: 24px;
                top: 40px;
                font-size: 22px;
                color: #a8acb1;
            }
        }
        
        .layout-menu-footer {
            width: 100%;
            box-sizing: border-box;
            padding: 8px 14px 120px;
            color: #a8acb1;
            margin-top: 20px;
            font-size: 12px;
            
            .layout-menu-footer-title {
                width: 100%;
                font-size: 14px;
                display: block;
                border-bottom: 1px solid #86898d;
            }
            
            .ui-progressbar {
                height: 5px;
                border: 0 none;
                margin: 16px 0 4px 0;
            }
        }
    }
        
    &.menu-layout-overlay {
        .layout-menu-container {
            margin-left: -250px;
        }
        
        .layout-main {
            margin-left: 0px;
        }
        
        &.layout-menu-overlay-active {
            .layout-menu-container {
                z-index: 999999999;
                margin-left: 0px;
            }
            
            .topbar {
                .topbar-left {
                    background-color: $primaryColor;
                    
                    .logo {
                        background-image: url("\#{resource['/images/synaptos-logo-white.png']}");
                    }
                }
            }
        }  
        
        .topbar {
            z-index: 999999998;
            
            .topbar-left {
                background-color: #f0f3f5;
                
                .logo {
                    background-image: url("\#{resource['/images/synaptos-logo.png']}");
                }
            }
            
            .topbar-right {                
                #menu-button {
                    i {
                        @include rotate(180deg);
                    }
                    
                    &.menu-button-rotate {
                        i {
                            @include rotate(0deg);
                        }
                    }
                }
            }
            
        }      
    }

    .layout-main {        
        padding: 75px 0 15px 0;
        @include transition(margin-left .3s);
        
        .routebar {
            padding: 5px 20px 5px 25px;
            background-color: #f0f3f5;
            font-size: 20px;
            
            .fa {
                margin-right: 2px;
            }
        }
        
        .layout-main-content {
            padding: 15px;
        }
    }
    
    .layout-menu {
        margin: 0;
        padding: 0;
        list-style: none;
                
        li {
            a {
                display: block;
                padding: 8px 16px;
                color: #ffffff;
                width: 100%;
                line-height: $fontSize;
                box-sizing: border-box;
                @include transition(background-color .3s);
                overflow: hidden;
                
                i {
                    color: #ffffff;
                }
                
                i:first-child {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 12px;
                    font-size: 18px;
                }
                
                i:last-child {
                    float: right;
                    font-size: 20px;
                    margin-top: 2px;
                    margin-right: -3px;
                    @include transition(transform .3s);
                }
                                
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                
                &:hover {
                    background-color: #444d56;
                }
            }
            
            &.active-menuitem {
                > a {
                    color: $primaryColor;
                    
                    i {
                        color: $primaryColor;
                        
                        &:last-child {
                            @include rotate(-180deg);
                        }
                    }
                }
            }
            
            ul {
                background-color: darken(#6b8a99,10%);
                display: none;
                padding: 0 0 0 20px;
                margin: 0;
                list-style: none;
            }
        }
        
        > li {
            &.active-menuitem {
                > a {
                    background-color: $primaryColor;
                    color: #ffffff;
                    
                    i {
                        color: #ffffff;
                        
                        &:last-child {
                            @include rotate(-180deg);
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        padding: .5em;
        
        .footer-text-left {
            float: left;
        }
        
        .footer-text-right {
            color: $textSecondaryColor;
            float: right;
            
            span {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    
    #right-sidebar-button-open {
        float: right;
        color: $textColor;
        font-size: 24px;
        line-height: 24px;
        margin-top: -2px;
        width: 20px;
        @include transition(all .3s);
        
        &:hover {
            @include scale(1.2);
        }
    }
    
    .right-sidebar {
        position: fixed;
        right: -250px;
        width: 250px;
        top: 75px;
        z-index: 999999999;
        @include transition(right .3s);
        background-color: #f0f3f5;
        height: 100%;
        box-sizing: border-box;
        -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        overflow: auto;
        
        .right-sidebar-header {
            padding: $headerPadding;
            font-weight: bold;
            background-color: $dividerColor;
            color: $textColor;
            
            i, span {
                vertical-align: middle;
                display: inline-block;
            }
            
            #right-sidebar-button-close {
                float: right;
                color: $textColor;
                font-size: 24px;
                width: 20px;
                line-height: 24px;
                color: #ffffff;
                margin: -4px 0 0 0;
                color: $textColor;
                @include transition(all .3s);
                
                &:hover {
                    @include scale(1.2);
                }
            }
        }
        
        &.right-sidebar-active {
            right: 0px;
        }
        
        .ui-accordion {
            padding-bottom: 140px;
            
            .ui-accordion-content {
                padding: 0;
            }
        }
        
        .contact-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            
            li {
                border-bottom: 1px solid $dividerColor;
                
                a {
                    padding: 9px;
                    width: 100%;
                    box-sizing: border-box;
                    text-decoration: none;
                    position: relative;
                    display: block;
                    @include border-radius(2px);
                    @include transition(background-color .2s);
                    
                    .name {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        font-size: 16px;
                        color: $textColor;
                    }
                    
                    .email {
                        position: absolute;
                        right: 10px;
                        top: 30px;
                        font-size: 12px;
                        color: $textSecondaryColor;
                    }
                    
                    &:hover {
                        cursor: pointer;
                        background-color: $listItemHoverBgColor;
                    }
                }
                
                &:last-child {
                    border: 0;
                }
            }
        }
        
        .note-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            li {
                padding: 8px 16px;
                border-bottom: 1px solid $dividerColor;
                
                &:first-child {
                    margin-top: 10px;
                }
            }
            
            .ui-chkbox {
                vertical-align: middle;
                margin-right: 5px;
            }
            
            .task-name {
                vertical-align: middle;
            }
            
            i {
                color: $textSecondaryColor;
                float: right;
                font-size: 16px;
                margin-top: 5px;
            }
        }
        
        .contact-form {
            padding: $contentPadding;
        }
        
        > .nano {
            > .nano-content {
                &.sidebar-scroll-content {
                    display: block;
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    position: relative;
                }
            }
            
            > .nano-pane {
                .nano-slider {
                    background-color: #aaaaaa;
                    opacity: 0.4;
                }
            }
        }
    }
}

.ajax-loader {
    font-size: 32px;
    color: $primaryColor;
}

@media (min-width: 1025px) {
    
    .layout-wrapper {
        
        &.menu-layout-static {            
            .layout-menu-container{
                margin-left: 0;
            }
            
            .layout-main {
                margin-left: 250px;
            }
            
            &.layout-menu-static-inactive {
                .topbar {
                    .topbar-left {
                        background-color: #f0f3f5;
                        
                        .logo {
                            background-image: url("\#{resource['/images/synaptos-logo.png']}");
                        }
                    }
                    
                    .topbar-right {                
                        #menu-button {                            
                            &.menu-button-rotate {
                                i {
                                    @include rotate(180deg);
                                }
                            }
                        }
                    }
                }
                .layout-menu-container{
                    margin-left: -250px;
                }
                
                .layout-main {
                    margin-left: 0px;
                }
            }
            
            .layout-mask {
                display: none;
            }
        }
        
        &.menu-layout-horizontal {
            .topbar {
                @include no-shadow();
                
                .topbar-left {
                    @include no-shadow();
                    background-color: #ffffff;
                    
                    .logo {
                        background-image: url("\#{resource['/images/synaptos-logo.png']}");
                    }
                }
                
                .topbar-right {
                    #menu-button {
                        display: none;
                    }
                }
            }
            
            .layout-menu-container {            
                overflow: visible;
                position: fixed;
                width: 100%;
                top: 75px;
                height: auto;
                padding-left: 18px;
                background-color: $hmenuBGColor;
                -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                
                > .nano {  
                    overflow: visible;
                                                                             
                    .nano-content {
                        &.menu-scroll-content {
                            display: inherit;
                            height: auto;
                            position: static;
                            overflow: visible;
                            overflow-x: visible;
                        }  
                        
                        ul:last-child {
                            margin-top: 0px;
                            padding-bottom: 0px;
                        }
                    }
                    
                    .nano-pane {
                        display: none !important;
                    }
                }
                
                .search-input {
                    display: none;
                }
                
                .layout-menu {                    
                    > li {
                        float: left;
                        position: relative;
                        
                        > a {
                            text-align: center;
                            color: $textColor;
                            
                            i:first-child {
                                color: $textColor;
                                width: 100%;
                                margin: 4px 0;
                            }
                            
                            i:last-child {
                                display: none;
                            }
                            
                            &:hover {
                                background-color: #c9cdd2;
                            }
                        }
                        
                        > ul {
                            z-index: 100;
                            position: absolute;
                            top: 56px;
                            left: 0px;
                            display: none;
                            width: 250px;
                            padding: 0;
                            background-color: $hmenuBGColor;
                            -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
                            -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
                            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
                            
                            li {
                                a {
                                    color: $textColor;
                                    padding: 10px 16px;
                                    
                                    i {
                                        color: $textColor;
                                    }
                                    
                                    &:hover {
                                        background-color: #c9cdd2;
                                    }
                                }
                                
                                ul {
                                    padding: 0 0 0 20px;
                                    position: static;
                                    background-color: $hmenuBGColor;
                                }
                                
                                &.active-menuitem {
                                    > a {
                                        color: $primaryColor;
                                        background-color: #e8e8e8;
                                    }
                                }
                            }
                        }
                        
                        &.active-menuitem {
                            > a {
                                background-color: $primaryColor;
                                color: #ffffff;
                                
                                i {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
                
                .layout-menu-footer {
                    display: none;
                }
            }
            
            .layout-main {
                padding-top: 130px;
                margin-left: 0px;
                
                .routebar {
		            padding: 10px 20px 5px 25px;
                    background-color: #f0f3f5;
		        	font-size: 20px;
                }
            }
            
            .layout-mask {
                display: none;
            }
        }
    }
}

@media (min-width: 1001px) {
    
    .layout-wrapper {
        
        .topbar-items {
            float: right;
            margin: 0;
            padding: 5px 0 0 0;
            list-style-type: none;
            
            > li {
                float: right;
                position: relative;
                margin-left: 25px;
                
                > a {
                    position: relative;
                    display: block;
                    color: $textColor;
                    
                    .topbar-item-name {
                        display: none;
                    }
                    
                    .topbar-badge {
                        position: absolute;
                        right: -5px;
                        top: -5px;
                        background-color: $primaryColor;
                        color: #ffffff;
                        @include border-radius(50%);
                        padding: 2px 4px;
                        display: block;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }

                .topbar-icon {
                    font-size: 36px;
                    @include transition(color .3s);
                    
                    &:hover {
                        color: $primaryColor;
                    }
                }
                
                &.profile-item {
                    .profile-image {
                        width: 36px;
                        height: 36px;
                        background: url("\#{resource['poseidon-layout:images/avatar.png']}") top left no-repeat;
                        background-size: 36px 36px;
                    }
                }
                
                > ul {
                    position: absolute;
                    top: 57px;
                    right: 5px;
                    display: none;
                    width: 250px;
                    background-color: #ffffff;
                    -webkit-animation-duration: .5s;
                    -moz-animation-duration: .5s;
                    animation-duration: .5s;
                    list-style-type: none;
                    margin: 0;
                    padding: 8px 0;
                    @include overlay-shadow();
                    
                    a {
                        padding: 8px 16px;
                        display: block;
                        width: 100%;
                        box-sizing: border-box;
                        color: $textColor;
                        
                        .fa {
                            margin-right: 8px;
                        }
                        
                        &:hover {
                            background-color: $listItemHoverBgColor;
                            @include transition(background-color .3s);
                        }
                    }
                }
                
                &.active-top-menu {
                    > ul {
                        display: block;
                    }
                }
                
                .topbar-message {
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .layout-wrapper {
	
        &.menu-layout-static {
			.topbar {
                .topbar-left {
                    background-color: #f0f3f5;
                    
                    .logo {
                        background-image: url("\#{resource['/images/synaptos-logo.png']}");
                    }
                }
                .topbar-right {
                    #menu-button {
                        i {
                            @include rotate(180deg);
                        }
                    }
                }
            }
            .layout-menu-container{
                margin-left: -265px;
            }
            
            .layout-main {
                margin-left: 0px;
            }
            
            &.layout-menu-static-active {	
                .layout-menu-container {
                    margin-left: 0;
                    z-index: 999999999;
                }
                
                .topbar {
                    z-index: 999999998;
                    
                    .topbar-right {
                        #menu-button {                            
                            i {
                                @include rotate(0);
                            }
                        }
                    }
                }
                
                .layout-main {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .layout-wrapper {

		.topbar {
            .topbar-right {
                #topbar-menu-button {
                    display: block;
                }
                
                .topbar-items {
                    position: absolute;
                    top: 77px;
                    right: 15px;
                    width: 275px;
                    -webkit-animation-duration: .5s;
                    -moz-animation-duration: .5s;
                    animation-duration: .5s;
                    display: none;
                    background-color: #ffffff;
                    list-style-type: none;
                    margin: 0;
                    padding: 8px 0;
                    @include overlay-shadow();
                    
                    > li {
                        > a {
                            width: 100%;
                            display: block;
                            box-sizing: border-box;
                            padding: 8px 16px;
                            color: $textColor;
                            position: relative;
                            
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 8px;
                                font-size: 24px;
                            }
                            
                            &:hover {
                                background-color: $listItemHoverBgColor;
                            }
                            
                            .topbar-item-name {
                                display: inline-block;
                                vertical-align: middle;
                            }
                                            
                            .topbar-badge {
                                position: absolute;
                                left: 30px;
                                top: 10px;
                                background-color: orange;
                                color: yellow;
                                @include border-radius(50%);
                                padding: 2px 4px;
                                display: block;
                                font-size: 12px;
                                line-height: 12px;
                            }
                        }
                        
                        > ul {
                            display: none;
                            list-style-type: none;
                            padding: 0 0 0 20px;
                            margin: 0;
                            
                            li {
                                a {
                                    padding: 8px 16px 8px 24px;
                                    display: block;
                                    width: 100%;
                                    box-sizing: border-box;
                                    color: $textColor;
                                    
                                    span, img, .fa {
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                    
                                    img {
                                        width: 1.28571429em;
                                        margin-right: 8px;
                                    }
                                    
                                    .fa {
                                        margin-right: 8px;
                                    }
                                    
                                    &:hover {
                                        background-color: $listItemHoverBgColor;
                                        @include transition(background-color .3s);
                                    }
                                }
                            }
                        }
                        
                        &.active-top-menu {
                            > a {
                                background-color: $primaryColor;
                                color: #ffffff;
                            }
                            
                            > ul {
                                display: block;
                            }
                        }
                        
                        &.profile-item {
                            .profile-image {
                                display: inline-block;
                                vertical-align: middle;
                                width: 24px;
                                height: 24px;
                                background: url("\#{resource['poseidon-layout:images/avatar.png']}") top left no-repeat;
                                background-size: 24px 24px;
                                margin-right: 8px;
                                margin-left: 4px;
                            }
                            
                            span {
                                vertical-align: middle;
                                display: inline-block;
                            }
                        }
                    }
                    
                    &.topbar-items-visible {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .layout-wrapper.menu-layout-static,
    .layout-wrapper.menu-layout-overlay,
    .layout-wrapper.menu-layout-overlay.layout-menu-overlay-active {
        .topbar {
            .topbar-left {
                float: none;
                margin: 0 auto;
                background-color: #ffffff;
                
                .logo {
                    background-image: url("\#{resource['/images/synaptos-logo.png']}");
                }
            }
            
            .topbar-right {
                position: relative;
                top: -75px;
                padding: 15px 20px 15px 25px;
                
                #menu-button {
                    font-size: 44px;
                    
                    i {
                        vertical-align: top;
                    }
                }
            }
        }
    }
    
}