/* Common */
$fontSize:16px;
$textColor:#5f666c;
$textSecondaryColor:lighten($textColor,20%);
$borderRadius:2px;
$dividerColor:lighten(#78b431,10%); /*#c9cdd2*/
$iconWidth:16px;
$iconHeight:16px;

/* Headers */
$headerPadding:6px 12px;
$headerBgColor:#6b8a99;
$headerTextColor:#ffffff;
$headerHoverBgColor:darken($headerBgColor,10%);

/* Contents */
$contentPadding:6px 12px;
$contentBorderColor:#c9cdd2;

/* Forms */
$inputPadding:5px;
$inputBorderColor:#a8acb1;
$inputHoverBorderColor:#5f666c;
$inputInvalidBorderColor:#f06364;

/* List Items */
$listItemPadding:6px 12px;
$listItemHoverBgColor:#f0f3f5;
$listItemHoverTextColor:#5f666c;

/* Messages */
$infoMessageBgColor:#2f8ee5;
$infoMessageTextColor:#ffffff;
$warnMessageBgColor:#f1b263;
$warnMessageTextColor:#ffffff;
$errorMessageBgColor:#f06364;
$errorMessageTextColor:#ffffff;
$fatalMessageBgColor:#6b8a99;
$fatalMessageTextColor:#ffffff;

/* Horizontal Menu */
$hmenuBGColor: #f0f3f5;

/* Gender Colors */
$genderFemaleBGColor: #d7a0ed;
$genderMaleBGColor: #13aec0;

/* Predefined Colors */
$turquoise:#00acac;
$blue:#2f8ee5;
$orange:#efa64c;
$purple:#650087; /*#6c76af*/
$deepPurple:#7e57c2;
$pink:#f16383;
$green:#78b431;
$black:#6b8a99; /*#2d353c*/
$red:darken(red,10%); /*#d0525d|#ce5051*/
$gray:#a6bac6;
$blueGray:#607d8b;
$white:#ffffff;
