<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['clients.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="layout-main-content">
				<!-- CLIENTS BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank"
								columnClasses="ui-grid-col-11 TexAlLeft,ui-grid-col-1">
								<p:outputPanel>
									<h:outputText
										styleClass="#{TagAttribute.ICON_MASTERDATA} fa-fw Fs24" />
									<h:outputText value="#{i18n['clients.label']}"
										styleClass="Fs24" />
								</p:outputPanel>
								<p:commandButton icon="#{TagAttribute.ICON_ADD}" ajax="false"
									action="#{clientListController.doAdd}" />
							</p:panelGrid>
							
							<div class="EmptyBox10"></div>
							
							<p:dataTable value="#{clientListController.clients}" var="client"
								widgetVar="clients" rowKey="#{client.id}"
								sortBy="#{client.fullname}" sortOrder="ascending"
								emptyMessage="#{i18n['emptyMessage.text']}" reflow="true"
								paginator="true" paginatorAlwaysVisible="false"
								paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
								rowsPerPageTemplate="#{TagAttribute.DATATABLE_ROWS_TEMPLATE}"
								rows="#{TagAttribute.DATATABLE_ROWS}">
								<p:column headerText="#{i18n['person.fullname.label']}"
									styleClass="WWbreak" sortBy="#{client.fullname}"
									filterBy="#{client.fullname}" filterMatchMode="contains">
									<f:facet name="filter">
										<p:inputText styleClass="icon"
											placeholder="&#xf002;&#160;&#160;#{i18n['globalFilter.placeholder']}"
											onkeyup="PF('clients').filter()" />
									</f:facet>
									<p:commandLink value="#{client.fullname}" immediate="true"
										ajax="false" action="#{clientListController.doEdit(client)}" />
								</p:column>

								<p:column styleClass="TexAlCenter Wid15"
									sortBy="#{client.gender}">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_GENDER}" />
									</f:facet>
									<p:graphicImage
										value="#{resource['/images/gender/Gender_'+=client.gender+='.png']}"
										rendered="#{not empty client.gender}" />
									<h:outputText
										value=" #{i18n['client.gender.range.'+=client.gender+='.name']}"
										rendered="#{not empty client.gender}" />
								</p:column>

								<p:column sortBy="#{client.phone}"
									styleClass="TexAlCenter WWbreak">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_PHONE}" />
									</f:facet>
									<h:outputText value="#{client.phone}" />
								</p:column>

								<p:column headerText="#{i18n['client.healthInsuranceNo.label']}"
									styleClass="TexAlCenter" sortBy="#{client.healthInsuranceNo}">
									<h:outputText value="#{client.healthInsuranceNo}" />
								</p:column>

								<p:column styleClass="TexAlCenter Wid10"
									sortBy="#{client.healthInsurance.code}">
									<f:facet name="header">
										<h:outputText
											styleClass="#{TagAttribute.ICON_HEALTH_INSURANCE}" />
									</f:facet>
									<h:outputText value="#{client.healthInsurance.code}" />
								</p:column>

								<p:column styleClass="TexAlCenter Wid10">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
									</f:facet>
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="gray-btn" process="@this"
										update="@widgetVar(clients)"
										actionListener="#{clientListController.doDelete(client)}">
										<p:confirm icon="#{TagAttribute.ICON_ALERT} red"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
				<!-- CLIENTS END -->
			</div>
		</h:form>

		<sc:editConfirmDialog />
	</ui:define>

</ui:composition>