<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['client.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:growl for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}" />

			<div class="layout-main-content">
				<!-- CLIENT BEGIN -->
				<div class="ui-fluid">
					<div class="ui-g">
						<div class="ui-g-12">
							<p:outputPanel>
								<i class="#{TagAttribute.ICON_MASTERDATA} fa-fw"></i>
								<h:outputText value="&#160;#{i18n['client.label']}" />
							</p:outputPanel>
						</div>

						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<ui:decorate template="/includes/personIdEdit.xhtml">
										<ui:param name="tag" value="client" />
										<ui:param name="person" value="#{preparedClient}" />
									</ui:decorate>
								</p:panelGrid>
							</div>
						</div>
	
						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel for="clientGender"
										value="#{i18n['client.gender.label']}" />
									<p:outputPanel>
										<p:selectOneRadio id="clientGender"
											value="#{preparedClient.gender}" layout="custom">
											<f:selectItem itemValue="#{Gender.ALL_VALUES[0]}" />
											<f:selectItem itemValue="#{Gender.ALL_VALUES[1]}" />
										</p:selectOneRadio>
										<p:panelGrid columns="2" layout="grid"
											styleClass="ui-panelgrid-blank">
											<p:outputPanel>
												<p:radioButton for="clientGender" itemIndex="0" />
												<p:graphicImage
													value="#{resource['/images/gender/Gender_'+=Gender.ALL_VALUES[0]+='.png']}"
													style="margin-left: 4px;" />
											</p:outputPanel>
											<p:outputPanel>
												<p:radioButton for="clientGender" itemIndex="1" />
												<p:graphicImage
													value="#{resource['/images/gender/Gender_'+=Gender.ALL_VALUES[1]+='.png']}"
													style="margin-left: 4px;" />
											</p:outputPanel>
										</p:panelGrid>
									</p:outputPanel>
									<p:message for="clientGender"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
	
									<sy:dateSelect id="clientBirthDate"
										value="#{preparedClient.birthDate}"
										label="#{i18n['client.birthDate.label']}" />
								</p:panelGrid>
							</div>
						</div>

						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<sy:inputText id="clientHealthInsuranceNo"
										value="#{preparedClient.healthInsuranceNo}"
										label="#{i18n['client.healthInsuranceNo.label']}">
									</sy:inputText>
	
									<c:if test="#{preparedClient.coInsuredClients.size() == 0}">
										<p:outputLabel for="mainInsuredClientSelect"
											value="#{i18n['mainInsuredClient.label']}" />
										<p:outputPanel>
											<p:autoComplete id="mainInsuredClientSelect"
												placeholder="#{i18n['selectItem.placeholder']}"
												value="#{preparedClient.mainInsuredClient}"
												completeMethod="#{clientEditController.queryMainInsuredClients}"
												var="client" itemLabel="#{client.fullname}"
												itemValue="#{client}" converter="clientConverter"
												forceSelection="true" cache="true" minQueryLength="0"
												autoHighlight="false" scrollHeight="250">
												<p:ajax process="@this" update="editMainInsuredClient" />
												<p:ajax event="itemSelect" process="@this"
													update="editMainInsuredClient,clientHealthInsurance,physicianSelect"
													listener="#{clientEditController.onItemSelectMainInsuredClient}" />
											</p:autoComplete>
											<p:panelGrid columns="2" layout="grid"
												styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
												<p:commandButton id="editMainInsuredClient"
													icon="#{TagAttribute.ICON_EDIT}" process="@this"
													ajax="false"
													action="#{clientEditController.doEditMainInsuredClient}"
													disabled="#{empty preparedClient.mainInsuredClient}" />
												<p:commandButton icon="#{TagAttribute.ICON_ADD}"
													process="@this" ajax="false"
													action="#{clientEditController.doAddMainInsuredClient}" />
											</p:panelGrid>
										</p:outputPanel>
										<p:message for="mainInsuredClientSelect"
											display="#{TagAttribute.MESSAGE_DISPLAY}" />
									</c:if>
	
									<p:outputLabel for="clientHealthInsurance"
										value="#{i18n['healthInsurance.label']}" />
									<p:selectOneMenu id="clientHealthInsurance"
										value="#{preparedClient.healthInsurance}">
										<f:selectItem itemLabel="#{i18n['selectItem.placeholder']}" />
										<f:selectItems value="#{clientEditController.healthInsurances}"
											var="healthInsurance" itemValue="#{healthInsurance}"
											itemLabel="#{healthInsurance.code}" />
									</p:selectOneMenu>
									<p:message for="clientHealthInsurance"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
								</p:panelGrid>
	
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel for="physicianSelect"
										value="#{i18n['physician.label']}" />
									<p:outputPanel id="physicianSelect">
										<p:autoComplete placeholder="#{i18n['selectItem.placeholder']}"
											value="#{preparedClient.physician}"
											completeMethod="#{clientEditController.queryPhysicians}"
											var="physician" itemLabel="#{physician.fullname}"
											itemValue="#{physician}" converter="physicianConverter"
											forceSelection="true" cache="true" minQueryLength="0"
											autoHighlight="false" scrollHeight="250">
											<p:ajax process="@this" update="editPhysician" />
											<p:ajax event="itemSelect" process="@this"
												update="editPhysician" />
										</p:autoComplete>
										<p:panelGrid columns="2" layout="grid"
											styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
											<p:commandButton id="editPhysician"
												icon="#{TagAttribute.ICON_EDIT}" process="@this" ajax="false"
												action="#{clientEditController.doEditPhysician}"
												disabled="#{empty preparedClient.physician}" />
											<p:commandButton icon="#{TagAttribute.ICON_ADD}"
												process="@this" ajax="false"
												action="#{clientEditController.doAddPhysician}" />
										</p:panelGrid>
									</p:outputPanel>
									<p:message for="physicianSelect"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
								</p:panelGrid>
							</div>
						</div>
	
						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:outputLabel for="clientVip"
										value="#{i18n['client.vip.label']}" />
									<p:selectBooleanCheckbox id="clientVip"
										value="#{preparedClient.vip}"
										style="margin-top: 4px; margin-bottom: 1px;" />
									<p:message for="clientVip"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
	
									<p:outputLabel for="clientProfession"
										value="#{i18n['client.profession.label']}" />
									<p:inputText id="clientProfession"
										value="#{preparedClient.profession}" />
									<p:message for="clientProfession"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
	
									<p:outputLabel for="clientContactNote"
										value="#{i18n['person.contactNote.label']}" />
									<p:textEditor id="clientContactNote"
										widgetVar="clientContactNote"
										value="#{preparedClient.contactNote}" maxlength="2000">
										<f:facet name="toolbar">
											<span class="ql-formats">
												<button class="ql-bold"></button>
												<button class="ql-italic"></button>
												<button class="ql-underline"></button>
												<button class="ql-strike"></button>
											</span>
											<span class="ql-formats"> <select class="ql-color"></select>
												<select class="ql-background"></select>
											</span>
											<span class="ql-formats">
												<button class="ql-script" value="sub"></button>
												<button class="ql-script" value="super"></button>
											</span>
											<span class="ql-formats">
												<button class="ql-list" value="ordered"></button>
												<button class="ql-list" value="bullet"></button>
												<button class="ql-indent" value="-1"></button>
												<button class="ql-indent" value="+1"></button>
											</span>
											<span class="ql-formats"> <p:button
													icon="fa fa-undo TexColor"
													onclick="PF('clientContactNote').undo(); return false" />
												<p:button icon="fa fa-repeat TexColor"
													onclick="PF('clientContactNote').redo(); return false" />
											</span>
											<span class="ql-formats">
												<button class="ql-clean"></button>
											</span>
										</f:facet>
									</p:textEditor>
									<p:message for="clientContactNote"
										display="#{TagAttribute.MESSAGE_DISPLAY}" />
								</p:panelGrid>
							</div>
						</div>
	
						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<ui:decorate template="/includes/addressEdit.xhtml">
										<ui:param name="tag" value="client" />
										<ui:param name="address" value="#{preparedClient.address}" />
									</ui:decorate>
								</p:panelGrid>
							</div>
						</div>
	
						<div class="ui-g-12 ui-md-6 Flex">
							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<ui:decorate template="/includes/contactEdit.xhtml">
										<ui:param name="tag" value="client" />
										<ui:param name="contact" value="#{preparedClient.homeContact}" />
									</ui:decorate>
								</p:panelGrid>
							</div>
						</div>
	
						<div class="ui-g-12 ui-g-nopad">
							<p:panelGrid columns="4" layout="grid"
								styleClass="ui-panelgrid-blank PadLeft4 PadRight4">
								<p:commandButton value="#{i18n['action.save.name']}"
									icon="#{TagAttribute.ICON_SAVE}" process="@form" update="@form"
									actionListener="#{clientEditController.doSave}" />
	
								<p:commandButton value="#{i18n['action.back.name']}"
									icon="#{TagAttribute.ICON_BACK}" ajax="false" immediate="true"
									action="#{clientEditController.doBack}"
									rendered="#{not empty clientEditController.doBack()}" />
		
								<p:commandButton value="Auf Warteliste"
									icon="#{TagAttribute.ICON_ADD}" ajax="false"
									action="#{clientEditController.doAddBookmarkClient}"
									rendered="#{empty preparedClient.patientStatus}" />
	
								<p:commandButton value="Behandlungen"
									icon="#{TagAttribute.ICON_SERIES}" ajax="false"
									action="#{clientEditController.doEditSessionDocumentation}" />
		
								<p:commandButton value="Weitere PatientIn"
									icon="#{TagAttribute.ICON_ADD}" process="@form" update="@form"
									actionListener="#{clientEditController.doAddClient}" />	
							</p:panelGrid>
						</div>
					</div>
				</div>
				<!-- CLIENT END -->
			</div>
		</h:form>
				
	</ui:define>

</ui:composition>