<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['healthInsurance.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:growl for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}" />
		
			<div class="routebar sticky-top ui-fluid">
				<div style="width: 70%;">
					<p:panelGrid columns="3" layout="grid"
						styleClass="ui-panelgrid-blank">
						<p:outputPanel>
							<i class="#{TagAttribute.ICON_MASTERDATA} fa-fw"></i>
							<h:outputText value="#{i18n['healthInsurance.label']}" />
						</p:outputPanel>

						<p:commandButton value="#{i18n['action.save.name']}"
							icon="#{TagAttribute.ICON_SAVE}" process="@form" update="@form"
							actionListener="#{healthInsuranceEditController.doSave}" />

						<p:commandButton value="#{i18n['action.back.name']}"
							icon="#{TagAttribute.ICON_BACK}" ajax="false" immediate="true"
							action="#{healthInsuranceEditController.doBack}"
							rendered="#{not empty healthInsuranceEditController.doBack()}" />
					</p:panelGrid>
				</div>
			</div>

			<div class="layout-main-content" style="padding-top: 62px">
				<!-- HEALTH INSURANCE BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<sy:inputText id="healthInsuranceName"
									value="#{preparedHealthInsurance.name}"
									label="#{i18n['healthInsurance.name.label']}"
									placeholder="#{i18n['healthInsurance.name.placeholder']}"
									required="true" />
								<sy:inputText id="healthInsuranceCode"
									value="#{preparedHealthInsurance.code}"
									label="#{i18n['healthInsurance.code.label']}"
									placeholder="#{i18n['healthInsurance.code.placeholder']}"
									required="true" />
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<sy:inputText id="contactPhone1_healthInsurance"
									value="#{preparedHealthInsurance.contact.phone1}"
									label="#{i18n['contact.phone1.label']}"
									placeholder="&#xf095;&#160;&#160;#{i18n['contact.phone1.placeholder']}"
									styleClass="icon">
								</sy:inputText>
								<ui:decorate template="/includes/contactEdit.xhtml">
									<ui:param name="tag" value="healthInsurance" />
									<ui:param name="contact"
										value="#{preparedHealthInsurance.contact}" />
								</ui:decorate>
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<p:outputLabel for="healthInsuranceContactNote"
									value="#{i18n['healthInsurance.contactNote.label']}" />
								<p:inputTextarea id="healthInsuranceContactNote"
									value="#{preparedHealthInsurance.contactNote}">
									<f:passThroughAttribute name="placeholder"
										value="#{i18n['healthInsurance.contactNote.placeholder']}" />
								</p:inputTextarea>
								<p:message for="healthInsuranceContactNote"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<ui:decorate template="/includes/addressEdit.xhtml">
									<ui:param name="tag" value="healthInsurance" />
									<ui:param name="address"
										value="#{preparedHealthInsurance.address}" />
								</ui:decorate>
							</p:panelGrid>
						</div>
					</div>
				</div>
				<!-- HEALTH INSURANCE END -->
			</div>
		</h:form>
	</ui:define>

</ui:composition>