<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['healthInsurances.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="layout-main-content">
				<!-- HEALTH INSURANCES BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank"
								columnClasses="ui-grid-col-11 TexAlLeft,ui-grid-col-1">
								<p:outputPanel>
									<h:outputText
										styleClass="#{TagAttribute.ICON_MASTERDATA} fa-fw Fs24" />
									<h:outputText value="#{i18n['healthInsurances.label']}"
										styleClass="Fs24" />
								</p:outputPanel>
								<p:commandButton icon="#{TagAttribute.ICON_ADD}" ajax="false"
									action="#{healthInsuranceListController.doAdd}" />
							</p:panelGrid>
							
							<div class="EmptyBox10"></div>
													
							<p:dataTable
								value="#{healthInsuranceListController.healthInsurances}"
								var="healthInsurance" widgetVar="healthInsurances"
								rowKey="#{healthInsurance.id}" sortBy="#{healthInsurance.name}"
								sortOrder="ascending" emptyMessage="#{i18n['emptyMessage.text']}"
								reflow="true" paginator="true" paginatorAlwaysVisible="false"
								paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
								rowsPerPageTemplate="#{TagAttribute.DATATABLE_ROWS_TEMPLATE}"
								rows="#{TagAttribute.DATATABLE_ROWS}">
								<p:column headerText="#{i18n['healthInsurance.name.label']}"
									styleClass="WWbreak" sortBy="#{healthInsurance.name}"
									filterBy="#{healthInsurance.name}" filterMatchMode="contains"
									filterStyle="display: none">
									<p:commandLink value="#{healthInsurance.name}" immediate="true"
										ajax="false"
										action="#{healthInsuranceListController.doEdit(healthInsurance)}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter WWbreak"
									sortBy="#{healthInsurance.contact.phone1}"
									filterBy="#{healthInsurance.contact.phone1}"
									filterMatchMode="contains" filterStyle="display: none">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_PHONE}" />
									</f:facet>
									<h:outputText value="#{healthInsurance.contact.phone1}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter WWbreak"
									sortBy="#{healthInsurance.contact.fax}"
									filterBy="#{healthInsurance.contact.fax}"
									filterMatchMode="contains" filterStyle="display: none">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_FAX}" />
									</f:facet>
									<h:outputText value="#{healthInsurance.contact.fax}" />
								</p:column>
	
								<p:column headerText="#{i18n['healthInsurance.code.label']}"
									styleClass="TexAlCenter Wid10" sortBy="#{healthInsurance.code}"
									filterBy="#{healthInsurance.code}" filterMatchMode="contains"
									filterStyle="display: none">
									<h:outputText value="#{healthInsurance.code}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter Wid10">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
									</f:facet>
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="gray-btn" process="@this"
										update="@widgetVar(healthInsurances)"
										actionListener="#{healthInsuranceListController.doDelete(healthInsurance)}">
										<p:confirm icon="#{TagAttribute.ICON_ALERT} red"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
				<!-- HEALTH INSURANCES END -->
			</div>
		</h:form>

		<sc:editConfirmDialog />
	</ui:define>

</ui:composition>