<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- CLIENT BEGIN -->
		<div class="Container100 Responsive100">
			<div class="Card ui-fluid">
				<h:outputText value="#{i18n['mainInsuredClient.label']}"
					styleClass="Fs20" />
					
				<div class="EmptyBox20"></div>
				
				<o:form>
					<div class="DispBlock OvHidden">
						<div class="Container100">
							<p:panelGrid columns="6" layout="grid"
								styleClass="ui-panelgrid-blank">
								<p:outputPanel>
									<p:commandButton value="#{i18n['action.save.name']}"
										icon="fa fa-check white Fs16"
										ajax="false"
										action="#{mainInsuredClientEditController.doSave}" />
								</p:outputPanel>
								<p:outputPanel>
									<p:commandButton value="#{i18n['action.cancel.name']}"
										icon="fa fa-times white Fs16"
										ajax="false" immediate="true"
										action="#{mainInsuredClientEditController.doBack}"
										rendered="#{not empty mainInsuredClientEditController.doBack()}" />
								</p:outputPanel>
							</p:panelGrid>

							<div class="EmptyBox20"></div>

							<p:separator />

							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<ui:decorate template="/includes/personIdEdit.xhtml">
									<ui:param name="tag" value="client" />
									<ui:param name="person" value="#{preparedMainInsuredClient}" />
								</ui:decorate>

								<p:outputLabel for="clientGender"
									value="#{i18n['client.gender.label']}" />
								<p:outputPanel>
									<p:selectOneRadio id="clientGender"
										value="#{preparedMainInsuredClient.gender}" layout="custom">
										<f:selectItem itemValue="#{Gender.ALL_VALUES[0]}" />
										<f:selectItem itemValue="#{Gender.ALL_VALUES[1]}" />
									</p:selectOneRadio>
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
										<p:outputPanel>
											<p:radioButton for="clientGender" itemIndex="0" />
											<p:graphicImage
												value="#{resource['/images/gender/Gender_'+=Gender.ALL_VALUES[0]+='.png']}"
												style="margin-left: 4px;" />
										</p:outputPanel>
										<p:outputPanel>
											<p:radioButton for="clientGender" itemIndex="1" />
											<p:graphicImage
												value="#{resource['/images/gender/Gender_'+=Gender.ALL_VALUES[1]+='.png']}"
												style="margin-left: 4px;" />
										</p:outputPanel>
									</p:panelGrid>
								</p:outputPanel>
								<p:message for="clientGender"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />

								<sy:dateSelect id="clientBirthDate"
									value="#{preparedMainInsuredClient.birthDate}"
									label="#{i18n['client.birthDate.label']}" />
							</p:panelGrid>

							<p:separator />

							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<sy:inputText id="clientHealthInsuranceNo"
									value="#{preparedMainInsuredClient.healthInsuranceNo}"
									label="#{i18n['client.healthInsuranceNo.label']}">
								</sy:inputText>

								<p:outputLabel for="clientHealthInsurance"
									value="#{i18n['healthInsurance.label']}" />
								<p:selectOneMenu id="clientHealthInsurance"
									value="#{preparedMainInsuredClient.healthInsurance}">
									<f:selectItem itemLabel="#{i18n['selectItem.placeholder']}" />
									<f:selectItems
										value="#{mainInsuredClientEditController.healthInsurances}"
										var="healthInsurance" itemValue="#{healthInsurance}"
										itemLabel="#{healthInsurance.code}" />
								</p:selectOneMenu>
								<p:message for="clientHealthInsurance"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
							</p:panelGrid>

							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<p:outputLabel for="physicianSelect"
									value="#{i18n['physician.label']}" />
								<p:outputPanel>
									<p:autoComplete id="physicianSelect"
										placeholder="#{i18n['selectItem.placeholder']}"
										value="#{preparedMainInsuredClient.physician}"
										completeMethod="#{mainInsuredClientEditController.queryPhysicians}"
										var="physician" itemLabel="#{physician.fullname}"
										itemValue="#{physician}" converter="physicianConverter"
										forceSelection="true" cache="true" minQueryLength="0"
										autoHighlight="false" scrollHeight="250">
									</p:autoComplete>
									<p:commandButton icon="fa fa-edit green Fs16"
										styleClass="DarkgrayButton" style="width: 15%" ajax="false"
										process="@this"
										action="#{mainInsuredClientEditController.doEditPhysician}" />
									<p:commandButton icon="fa fa-plus green Fs16"
										styleClass="DarkgrayButton" style="width: 15%" ajax="false"
										process="@this"
										action="#{mainInsuredClientEditController.doAddPhysician}" />
								</p:outputPanel>
								<p:message for="physicianSelect"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />

								<p:outputLabel for="clientContactNote"
									value="#{i18n['person.contactNote.label']}" />
								<p:inputTextarea id="clientContactNote"
									value="#{preparedMainInsuredClient.contactNote}" />
								<p:message for="clientContactNote"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
							</p:panelGrid>

							<p:separator />

							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<ui:decorate template="/includes/addressEdit.xhtml">
									<ui:param name="tag" value="client" />
									<ui:param name="address"
										value="#{preparedMainInsuredClient.address}" />
								</ui:decorate>
							</p:panelGrid>

							<p:separator />

							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid40">
								<ui:decorate template="/includes/contactEdit.xhtml">
									<ui:param name="tag" value="client" />
									<ui:param name="contact"
										value="#{preparedMainInsuredClient.homeContact}" />
								</ui:decorate>
							</p:panelGrid>
						</div>
					</div>
				</o:form>
			</div>
		</div>
		<!-- CLIENT END -->

	</ui:define>

</ui:composition>