<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['physicians.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="layout-main-content">
				<!-- PHYSICIANS BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">					
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank"
								columnClasses="ui-grid-col-11 TexAlLeft,ui-grid-col-1">
								<p:outputPanel>
									<h:outputText
										styleClass="#{TagAttribute.ICON_MASTERDATA} fa-fw Fs24" />
									<h:outputText value="#{i18n['physicians.label']}"
										styleClass="Fs24" />
								</p:outputPanel>
								<p:commandButton icon="#{TagAttribute.ICON_ADD}" ajax="false"
									action="#{physicianListController.doAdd}" />
							</p:panelGrid>
							
							<div class="EmptyBox10"></div>
							
							<p:dataTable value="#{physicianListController.physicians}"
								var="physician" widgetVar="physicians" rowKey="#{physician.id}"
								sortBy="#{physician.fullname}" sortOrder="ascending"
								emptyMessage="#{i18n['emptyMessage.text']}" reflow="true"
								paginator="true" paginatorAlwaysVisible="false"
								paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
								rowsPerPageTemplate="#{TagAttribute.DATATABLE_ROWS_TEMPLATE}"
								rows="#{TagAttribute.DATATABLE_ROWS}">
								<p:column headerText="#{i18n['person.fullname.label']}"
									styleClass="WWbreak" sortBy="#{physician.fullname}"
									filterBy="#{physician.fullname}" filterMatchMode="contains"
									filterStyle="display: none">
									<p:commandLink value="#{physician.fullname}" immediate="true"
										ajax="false"
										action="#{physicianListController.doEdit(physician)}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter" sortBy="#{physician.phone}"
									filterBy="#{physician.phone}" filterMatchMode="contains"
									filterStyle="display: none">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_PHONE}" />
									</f:facet>
									<h:outputText value="#{physician.phone}" />
								</p:column>
	
								<p:column headerText="#{i18n['physician.speciality.label']}"
									styleClass="TexAlCenter" sortBy="#{physician.speciality}"
									filterBy="#{physician.speciality}" filterMatchMode="contains"
									filterStyle="display: none">
									<h:outputText value="#{physician.speciality}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter Wid10">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
									</f:facet>
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="gray-btn" process="@this"
										update="@widgetVar(physicians)"
										actionListener="#{physicianListController.doDelete(physician)}">
										<p:confirm icon="#{TagAttribute.ICON_ALERT} red"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
				<!-- PHYSICIANS END -->
			</div>
		</h:form>

		<sc:editConfirmDialog />
	</ui:define>

</ui:composition>