<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['physician.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:growl for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}" />
		
			<div class="routebar sticky-top ui-fluid">
				<div style="width: 70%;">
					<p:panelGrid columns="3" layout="grid"
						styleClass="ui-panelgrid-blank">
						<p:outputPanel>
							<i class="#{TagAttribute.ICON_MASTERDATA} fa-fw"></i>
							<h:outputText value="#{i18n['physician.label']}" />
						</p:outputPanel>

						<p:commandButton value="#{i18n['action.save.name']}"
							icon="#{TagAttribute.ICON_SAVE}" process="@form" update="@form"
							actionListener="#{physicianEditController.doSave}" />

						<p:commandButton value="#{i18n['action.back.name']}"
							icon="#{TagAttribute.ICON_BACK}" ajax="false" immediate="true"
							action="#{physicianEditController.doBack}"
							rendered="#{not empty physicianEditController.doBack()}" />
					</p:panelGrid>
				</div>
			</div>

			<div class="layout-main-content" style="padding-top: 62px">
				<!-- PHYSICIAN BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<ui:include src="/includes/personIdEdit.xhtml">
									<ui:param name="tag" value="physician" />
									<ui:param name="person" value="#{preparedPhysician}" />
								</ui:include>
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<sy:inputText id="specialityInput"
									value="#{preparedPhysician.speciality}"
									label="#{i18n['physician.speciality.label']}" />
								<p:outputLabel for="physicianContactNote"
									value="#{i18n['person.contactNote.label']}" />
								<p:inputTextarea id="physicianContactNote"
									value="#{preparedPhysician.contactNote}" />
								<p:message for="physicianContactNote"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<ui:include src="/includes/addressEdit.xhtml">
									<ui:param name="tag" value="physician" />
									<ui:param name="address" value="#{preparedPhysician.address}" />
								</ui:include>
							</p:panelGrid>
						</div>

						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<ui:include src="/includes/contactEdit.xhtml">
									<ui:param name="tag" value="pysician" />
									<ui:param name="contact"
										value="#{preparedPhysician.homeContact}" />
								</ui:include>
							</p:panelGrid>
						</div>
					</div>
				</div>
				<!-- PHYSICIAN END -->
			</div>
		</h:form>
	</ui:define>

</ui:composition>