<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['serviceTypes.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<div class="layout-main-content">
				<!-- SERVICE TYPES BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">					
							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank"
								columnClasses="ui-grid-col-11 TexAlLeft,ui-grid-col-1">
								<p:outputPanel>
									<h:outputText
										styleClass="#{TagAttribute.ICON_MASTERDATA} fa-fw Fs24" />
									<h:outputText value="#{i18n['serviceTypes.label']}"
										styleClass="Fs24" />
								</p:outputPanel>
								<p:commandButton icon="#{TagAttribute.ICON_ADD}" ajax="false"
									action="#{serviceTypeListController.doAdd}" />
							</p:panelGrid>
							
							<div class="EmptyBox10"></div>
							
							<p:dataTable value="#{serviceTypeListController.serviceTypes}"
								var="serviceType" widgetVar="serviceTypes"
								rowKey="#{serviceType.id}" sortBy="#{serviceType.name}"
								sortOrder="ascending" emptyMessage="#{i18n['emptyMessage.text']}"
								reflow="true" paginator="true" paginatorAlwaysVisible="false"
								paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
								rowsPerPageTemplate="#{TagAttribute.DATATABLE_ROWS_TEMPLATE}"
								rows="#{TagAttribute.DATATABLE_ROWS}">
								<p:column headerText="#{i18n['serviceType.name.label']}"
									styleClass="WWbreak" sortBy="#{serviceType.name}"
									filterBy="#{serviceType.name}" filterMatchMode="contains"
									filterStyle="display: none">
									<p:commandLink value="#{serviceType.name}" immediate="true"
										ajax="false"
										action="#{serviceTypeListController.doEdit(serviceType)}" />
								</p:column>
	
								<p:column headerText="#{i18n['serviceType.category.label']}"
									styleClass="TexAlCenter"
									sortBy="#{i18n['serviceTypeCategory.range.'+=serviceType.category+='.name']}"
									filterBy="#{i18n['serviceTypeCategory.range.'+=serviceType.category+='.name']}"
									filterMatchMode="contains" filterStyle="display: none">
									<h:outputText
										value="#{i18n['serviceTypeCategory.range.'+=serviceType.category+='.name']}" />
								</p:column>
	
								<p:column headerText="#{publicViewController.currencySymbol}"
									styleClass="TexAlCenter Wid10" sortBy="#{serviceType.amount}"
									filterBy="#{of:formatNumber(serviceType.amount,'#,##0.00')}"
									filterMatchMode="contains" filterStyle="display: none">
									<h:outputText
										value="#{of:formatNumber(serviceType.amount,'#,##0.00')}" />
								</p:column>
	
								<p:column headerText="#{i18n['serviceType.code.label']}"
									styleClass="TexAlCenter Wid10" sortBy="#{serviceType.code}"
									filterBy="#{serviceType.code}" filterMatchMode="contains"
									filterStyle="display: none">
									<h:outputText value="#{serviceType.code}" />
								</p:column>
	
								<p:column styleClass="TexAlCenter Wid10">
									<f:facet name="header">
										<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
									</f:facet>
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="gray-btn" process="@this"
										update="@widgetVar(serviceTypes)"
										actionListener="#{serviceTypeListController.doDelete(serviceType)}">
										<p:confirm icon="#{TagAttribute.ICON_ALERT} red"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</div>
					</div>
				</div>
				<!-- SERVICE TYPES END -->
			</div>
		</h:form>

		<sc:editConfirmDialog />
	</ui:define>

</ui:composition>