<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['serviceType.label']}" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:growl for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}" />
		
			<div class="routebar sticky-top ui-fluid">
				<div style="width: 70%;">
					<p:panelGrid columns="3" layout="grid"
						styleClass="ui-panelgrid-blank">
						<p:outputPanel>
							<i class="#{TagAttribute.ICON_MASTERDATA} fa-fw"></i>
							<h:outputText value="#{i18n['serviceType.label']}" />
						</p:outputPanel>

						<p:commandButton value="#{i18n['action.save.name']}"
							icon="#{TagAttribute.ICON_SAVE}" process="@form" update="@form"
							actionListener="#{serviceTypeEditController.doSave}" />

						<p:commandButton value="#{i18n['action.back.name']}"
							icon="#{TagAttribute.ICON_BACK}" ajax="false" immediate="true"
							action="#{serviceTypeEditController.doBack}"
							rendered="#{not empty serviceTypeEditController.doBack()}" />
					</p:panelGrid>
				</div>
			</div>

			<div class="layout-main-content" style="padding-top: 62px">
				<!-- SERVICE TYPE BEGIN -->
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="card">
							<p:panelGrid columns="3" layout="grid"
								styleClass="ui-panelgrid-blank">
								<sy:inputText id="servcieTypeName"
									value="#{preparedServiceType.name}"
									label="#{i18n['serviceType.name.label']}" required="true" />
								<p:outputLabel for="servcieTypeCategory"
									value="#{i18n['serviceType.category.label']}" />
								<p:selectOneRadio id="servcieTypeCategory" columns="1"
									value="#{preparedServiceType.category}" layout="responsive"
									style="margin:6px 0 6px 0" required="true">
									<f:selectItem
										itemLabel="#{i18n['serviceTypeCategory.range.C10_THERAPY.name']}"
										itemValue="#{ServiceTypeCategory.C10_THERAPY}" />
									<f:selectItem
										itemLabel="#{i18n['serviceTypeCategory.range.C20_ADMIN.name']}"
										itemValue="#{ServiceTypeCategory.C20_ADMIN}" />
									<f:selectItem
										itemLabel="#{i18n['serviceTypeCategory.range.C30_PRODUCT.name']}"
										itemValue="#{ServiceTypeCategory.C30_PRODUCT}" />
								</p:selectOneRadio>
								<p:message for="servcieTypeCategory"
									display="#{TagAttribute.MESSAGE_DISPLAY}" />
								<sy:inputText id="servcieTypeValue"
									value="#{preparedServiceType.amount}"
									label="#{i18n['serviceType.amount.label']}&#160;#{publicViewController
										.currencySymbol}"
									size="10" required="true" style="white-space: nowrap">
									<f:convertNumber pattern="#,##0.00" />
								</sy:inputText>
								<sy:inputText id="serviceTypeCode"
									value="#{preparedServiceType.code}"
									label="#{i18n['serviceType.code.label']}" required="true" />
							</p:panelGrid>
						</div>
					</div>
				</div>
				<!-- SERVICE TYPE END -->
			</div>
		</h:form>
	</ui:define>

</ui:composition>