<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['menu.settings.label']}" />
	</ui:define>

	<ui:define name="content">
		<div class="routebar sticky-top ui-fluid">
			<div style="width: 70%;">
				<p:panelGrid columns="3" layout="grid"
					styleClass="ui-panelgrid-blank">
					<p:outputPanel>
						<i class="#{TagAttribute.ICON_SETTINGS} fa-fw"></i>
						<h:outputText value="#{i18n['menu.settings.label']}" />
					</p:outputPanel>
				</p:panelGrid>
			</div>
		</div>

		<div class="layout-main-content" style="padding-top: 62px">
			<!-- SERVICE TYPE BEGIN -->
			<div class="ui-g ui-fluid">
				<div class="ui-g-12">
					<p:tabView orientation="left">
						<p:tab>
							<f:facet name="title">
								<h:outputText value="Honorarnote" />
							</f:facet>

							<h:form>
								<p:growl for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}" />

								<div class="card">
									<p:panelGrid columns="1" layout="grid"
										styleClass="ui-panelgrid-blank">
										<p:outputLabel for="billingShowPreview"
											value="#{i18n['billing.showPreview.label']}&#160;" />
										<p:selectBooleanCheckbox id="billingShowPreview"
											value="#{configContext.billingShowPreview}" />

										<p:outputLabel for="billingFirstname"
											value="#{i18n['person.firstname.label']}" />
										<p:inputText id="billingFirstname"
											value="#{usermetaContext.billingFirstname}" required="true">
										</p:inputText>

										<p:outputLabel for="billingLastname"
											value="#{i18n['person.lastname.label']}" />
										<p:inputText id="billingLastname"
											value="#{usermetaContext.billingLastname}" required="true" />

										<p:outputLabel for="billingCompany"
											value="#{i18n['company.label']}" />
										<p:inputText id="billingCompany"
											value="#{usermetaContext.billingCompany}" />

										<p:outputLabel for="billingAddressStreet1"
											value="#{i18n['address.street.label']}" />
										<p:inputText id="billingAddressStreet1"
											value="#{usermetaContext.billingAddressStreet1}" />

										<div class="EmptyBox10"></div>
										<p:outputLabel for="billingAddressStreet2" />
										<p:inputText id="billingAddressStreet2"
											value="#{usermetaContext.billingAddressStreet2}" />

										<p:outputLabel for="billingAddressPostcode"
											value="#{i18n['address.postcode.label']}" />
										<p:inputText id="billingAddressPostcode"
											value="#{usermetaContext.billingAddressPostcode}" />

										<p:outputLabel for="billingAddressCity"
											value="#{i18n['address.city.label']}" />
										<p:inputText id="billingAddressCity"
											value="#{usermetaContext.billingAddressCity}" />

										<p:outputLabel for="billingEmail"
											value="#{i18n['contact.email.label']}" />
										<p:inputText id="billingEmail"
											value="#{usermetaContext.billingEmail}" />

										<p:outputLabel for="billingPhone"
											value="#{i18n['contact.phone.label']}" />
										<p:inputText id="billingPhone"
											value="#{usermetaContext.billingPhone}" />

										<p:outputLabel for="billingHeader"
											value="#{i18n['billing.header.label']}" />
										<p:inputText id="billingHeader"
											value="#{configContext.billingHeader}" />

										<p:outputLabel for="billingFooter"
											value="#{i18n['billing.footer.label']}" />
										<p:inputText id="billingFooter"
											value="#{configContext.billingFooter}" />
									</p:panelGrid>

									<p:fieldset legend="#{i18n['bankAccount.label']}"
										toggleable="true" toggleSpeed="500" style="margin-top: 20px">
										<p:panelGrid columns="1" layout="grid"
											styleClass="ui-panelgrid-blank">
											<p:outputLabel for="billingBankAccountIban"
												value="#{i18n['bankAccount.iban.label']}" />
											<h:panelGroup>
												<p:inputText id="billingBankAccountIban"
													value="#{configContext.billingBankAccountIban}"
													validatorMessage="#{i18n['settings.bankAccount.iban.ERROR']}">
													<f:validateRegex pattern="[A-Z]{2}[0-9]{2}[0-9a-zA-Z ]{16,37}" />
												</p:inputText>
												<p:message for="billingBankAccountIban" />
											</h:panelGroup>

											<p:outputLabel for="billingBankAccountBic"
												value="#{i18n['bankAccount.bic.label']}" />
											<p:inputText id="billingBankAccountBic"
												value="#{configContext.billingBankAccountBic}" />

											<p:outputLabel for="billingBankAccountBankname"
												value="#{i18n['bankAccount.bankname.label']}" />
											<p:inputText id="billingBankAccountBankname"
												value="#{configContext.billingBankAccountBankname}" />

										</p:panelGrid>
									</p:fieldset>

									<p:panelGrid columns="4" layout="grid"
										styleClass="ui-panelgrid-blank" style="margin-top: 20px">
										<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
											value="#{i18n['action.save.name']}" process="@form"
											update="@form"
											actionListener="#{settingsBillingController.doSave}" />
										<p:outputLabel />
										<p:outputLabel />
										<p:outputLabel />
									</p:panelGrid>
								</div>
							</h:form>
						</p:tab>

						<p:tab>
							<f:facet name="title">
								<h:outputText value="#{i18n['logo.label']}" />
							</f:facet>

							<h:form>
								<div class="card">
									<p:panelGrid columns="1" layout="grid"
										styleClass="ui-panelgrid-blank">
										<p:graphicImage value="#{configContext.logoUrl}"
											style="max-width: 140px;" />
										<p:fileUpload label="#{i18n['action.upload.name']}"
											update="@form"
											fileUploadListener="#{settingsBillingController.handleLogoUpload}"
											mode="advanced" auto="true" dragDropSupport="true"
											sizeLimit="5120000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
											invalidSizeMessage="#{i18n['fileUpload.fileSize.INVALID']}"
											invalidFileMessage="#{i18n['fileUpload.fileType.INVALID']}" />
									</p:panelGrid>
									<p:panelGrid columns="4" layout="grid"
										styleClass="ui-panelgrid-blank" style="margin-top: 20px">
										<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
											value="#{i18n['action.delete.name']}" styleClass="gray-btn"
											process="@form" update="@form"
											actionListener="#{settingsBillingController.doDeleteLogo}"
											rendered="#{not empty configContext.logoUrl}" />
										<p:outputPanel />
										<p:outputPanel />
										<p:outputPanel />
									</p:panelGrid>
								</div>
							</h:form>
						</p:tab>

						<p:tab>
							<f:facet name="title">
								<h:outputText value="Farbauswahl" />
							</f:facet>

							<div class="card">
								<h:form>
									<p:panelGrid columns="1" layout="grid"
										styleClass="ui-panelgrid-blank">
										<p:commandLink styleClass="Fs20 green"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeThemeColor('green')}">
											Grün (Standard)
										</p:commandLink>

										<p:commandLink styleClass="Fs20 turquoise"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeThemeColor('turquoise')}">
											Türkis
										</p:commandLink>

										<p:commandLink styleClass="Fs20 blue"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeThemeColor('blue')}">
											Blau
										</p:commandLink>

										<p:commandLink styleClass="Fs20 purple"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeThemeColor('purple')}">
											Violett
										</p:commandLink>

										<p:commandLink styleClass="Fs20 pink"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeThemeColor('pink')}">
											Pink
										</p:commandLink>
									</p:panelGrid>
								</h:form>
							</div>
						</p:tab>

						<p:tab>
							<f:facet name="title">
								<h:outputText value="Menüart" />
							</f:facet>

							<div class="card">
								<h:form>
									<p:panelGrid columns="1" layout="grid"
										styleClass="ui-panelgrid-blank">
										<p:commandLink styleClass="Fs20"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeMenuLayout('static')}">
											Statisch
										</p:commandLink>

										<p:commandLink styleClass="Fs20"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeMenuLayout('overlay')}">
											Überlagernd
										</p:commandLink>

										<p:commandLink styleClass="Fs20"
											style="text-decoration: underline" process="@this"
											ajax="false"
											actionListener="#{settingsLayoutController.doChangeMenuLayout('horizontal')}">
											Horizontal
										</p:commandLink>
									</p:panelGrid>
								</h:form>
							</div>
						</p:tab>

						<p:tab>
							<f:facet name="title">
								<h:outputText value="#{i18n['settings.about.label']}" />
							</f:facet>

							<div class="card">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<h:outputText value="#{i18n['version.info.label']}" />
									<h:outputText value="#{publicViewController.version}" />
								</p:panelGrid>
							</div>
						</p:tab>
					</p:tabView>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>