<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:of="http://omnifaces.org/functions"
   	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"    
    template="/templates/default.xhtml">

    <ui:define name="content">
            
		<div class="Container50 Responsive100 NoIndent">

        	<!-- OFFICE HOURS START -->
			<div class="Container100">
				<div class="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<h:outputText styleClass="fa fa-gear orange FaFsSmall"/>
						<h:outputText styleClass="fa fa-calendar orange FaFsSmall MarLeft10"/>
						<h:outputText value="Arbeitszeiten" styleClass="orange Fs20 MarLeft10"/>
                    </div>

					<div class="EmptyBox20"></div>

					<div class="DispBlock OvHidden">
						<h:form>
							<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" 
										 columnClasses="TexAlCenter Wid10,TexAlCenter Wid45,TexAlCenter Wid45">
								<h:outputText value="Tag"/>
								<h:outputText value="Vormittag (von/bis/Gewichtung)"/>
								<h:outputText value="Nachmittag (von/bis/Gewichtung)"/>
							</p:panelGrid>
							<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
										 columnClasses="TexAlCenter Wid10 MarTop20,TexAlCenter Wid45,TexAlCenter Wid45">
								<c:forEach items="#{of:createArray(5)}" varStatus="loop">
									<h:outputText value="#{settingsScheduleController.dayOfWeekName(loop.index)}"/>
									<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank"
												 columnClasses="MarTop10,MarTop10">
		                            	<p:calendar value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornStartDate}" pattern="HH:mm" timeOnly="true"
		                            				stepMinute="15" minHour="0" maxHour="12"/>
		                            	<p:calendar value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornEndDate}" pattern="HH:mm" timeOnly="true"
		                            				stepMinute="15" minHour="0" maxHour="12"/>
									    <p:knob max="5" step="1" width="90%" value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).mornWeighting}"/>
									</p:panelGrid>
									<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" 
												 columnClasses="MarTop10,MarTop10">
		                            	<p:calendar value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnStartDate}" pattern="HH:mm" timeOnly="true"
		                            				stepMinute="15" minHour="12" maxHour="23"/>
		                            	<p:calendar value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnEndDate}" pattern="HH:mm" timeOnly="true"
		                            				stepMinute="15" minHour="12" maxHour="23"/>
									    <p:knob max="5" step="1" width="90%" value="#{settingsScheduleController.officeHours.hoursPerDay(loop.index).aftnWeighting}"/>
									</p:panelGrid>
								 </c:forEach>
							</p:panelGrid>
							<sc:editActionPanel controller="#{settingsScheduleController}"/>
						</h:form>
					</div>

				</div>
			</div>
	       	<!-- OFFICE HOURS END -->
        
        	<!-- OFFICE BREAKS START -->
        	<div class="Container100">
    	    	<div class="Card ui-fluid">

					<div class="DispBlock OvHidden">
						<h:outputText styleClass="fa fa-gear orange FaFsSmall"/>
						<h:outputText styleClass="fa fa-calendar orange FaFsSmall MarLeft10"/>
						<h:outputText value="Pausen" styleClass="orange Fs20 MarLeft10"/>
					</div>

					<div class="EmptyBox20"></div>

					<div class="DispBlock OvHidden">
						<h:form>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
										 columnClasses="Wid50,Wid50">
								<p:outputPanel>
									<div style="height: 60px;">
										<h:outputText value="für eine Zeit von (0 = keine Pause)"/>
									</div>	
								    <p:knob max="60" step="15" labelTemplate="{value}m"
								    		value="#{settingsScheduleController.officeBreaks.breakMins}"/>
								</p:outputPanel>
								<p:outputPanel>
									<div style="height: 60px;">
										<h:outputText value="Nach einer Zeitdauer von (0 = Pause nach jeder Sitzung)"/>
									</div>
								    <p:knob max="5" step="1" labelTemplate="{value}h" 
								    		value="#{settingsScheduleController.officeBreaks.afterPeriodOfHours}"/>
								</p:outputPanel>
							</p:panelGrid>
							<sc:editActionPanel controller="#{settingsScheduleController}"/>
						</h:form>
					</div>

				</div>
	   		</div>
        	<!-- OFFICE BREAKS END -->
        	
        </div>
         	
		<div class="Container50 Responsive100 NoIndent">
	
			<!-- WEIGHTING CRIT START -->
	       	<div class="Container100">
				<div class="Card ui-fluid">
	       
					<div class="DispBlock OvHidden">
						<h:outputText styleClass="fa fa-gear green FaFsSmall"/>
						<h:outputText styleClass="fa fa-calendar green FaFsSmall MarLeft10"/>
						<h:outputText value="Terminvorschlag" styleClass="green Fs20 MarLeft10"/>
                   	</div>
	
					<div class="EmptyBox20"></div>

					<div class="DispBlock OvHidden">
						<h:form>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
										 columnClasses="Wid15,Wid85 MarTop20">
							    <p:knob max="5" step="1" width="92%" value="#{settingsScheduleController.scheduleWeightings.sameTimeOfDay}"/>
								<p:outputPanel style="margin-top: 10px;">
									<h:outputText value="Patient möglichst immer zur selben Zeit"/>
								</p:outputPanel>
							    <p:knob max="5" step="1" width="92%" value="#{settingsScheduleController.scheduleWeightings.sameDayOfWeek}"/>
								<p:outputPanel style="margin-top: 10px;">
									<h:outputText value="Patient möglichst immer am selben Tag"/>
								</p:outputPanel>
							    <p:knob max="5" step="1" width="92%" value="#{settingsScheduleController.scheduleWeightings.followPrevious}"/>
								<p:outputPanel style="margin-top: 10px;">
									<h:outputText value="Angrenzend an vorhergehenden Termin"/>
								</p:outputPanel>
							</p:panelGrid>
							<sc:editActionPanel controller="#{settingsScheduleController}"/>
						</h:form>
					</div>
					
				</div>
			</div>
			<!-- WEIGHTING CRIT END -->
			
			<!-- SCHEDULE SHEET START -->
	       	<div class="Container100">
				<div class="Card ui-fluid">
	       
					<div class="DispBlock OvHidden">
						<h:outputText styleClass="fa fa-gear green FaFsSmall"/>
						<h:outputText styleClass="fa fa-calendar green FaFsSmall MarLeft10"/>
						<h:outputText value="Kalenderansicht" styleClass="green Fs20 MarLeft10"/>
                   	</div>
	
					<div class="EmptyBox20"></div>

					<div class="DispBlock OvHidden">
						<h:form>
							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank"
										 columnClasses="Wid15,Wid85 MarTop20">
								<p:outputLabel for="scheduleSheetMinTime" value="Minimale Zeit"/>										 
	                           	<p:calendar id="scheduleSheetMinTime" value="#{settingsScheduleController.scheduleMinTime}" pattern="HH:mm" timeOnly="true"
	                           				stepMinute="15" minHour="0" maxHour="12"/>
								<p:outputLabel for="scheduleSheetMaxTime" value="Maximale Zeit"/>										 
	                           	<p:calendar id="scheduleSheetMaxTime" value="#{settingsScheduleController.scheduleMaxTime}" pattern="HH:mm" timeOnly="true"
	                           				stepMinute="15" minHour="13" maxHour="23"/>
							</p:panelGrid>
							<sc:editActionPanel controller="#{settingsScheduleController}"/>
						</h:form>
					</div>
					
				</div>
			</div>
			<!-- SCHEDULE SHEET END -->
			
		</div>
 
		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuSettings').addClass('active');
		    })
			//]]>
		</h:outputScript>			
        
    </ui:define>

</ui:composition>