<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
   	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"    
    template="/templates/default.xhtml">

    <ui:define name="content">
		
        <!-- CASH REGISTER BEGIN -->
		<div class="Container100 Responsive100 ui-fluid">
			<div class="Card" style="padding: 0;">

				<div style="padding: 1rem;" class="DispBlock AquaBack OvHidden">
					<h:outputText value="#{i18n['billing.receipt.label']}" styleClass="white Fs24"/>					
                </div>

				<div style="padding:1rem;" class="DispBlock OvHidden ui-fluid">
 					<h:form>
 					
	              		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank ui-fluid">

                        	<p:outputLabel for="showPaymentMethods" value="#{i18n['billing.paymentMethods.label']}"/>
		                    <p:selectManyCheckbox id="showPaymentMethods" value="#{configContext.showPaymentMethods}"
		                    					  layout="responsive" columns="2">
 		                        <f:selectItem itemLabel="#{i18n['paymentMethod.range.MC.name']}" itemValue="#{PaymentMethod.MC}" />
		                        <f:selectItem itemLabel="#{i18n['paymentMethod.range.CC.name']}" itemValue="#{PaymentMethod.CC}" />
						    </p:selectManyCheckbox>
    
	                    	<div class="EmptyBox10"></div>

                        	<p:outputLabel for="billingShowPreview" value="#{i18n['billing.showPreview.label']}"/>
                        	<p:selectBooleanCheckbox id="billingShowPreview" value="#{configContext.billingShowPreview}" />
                        	
	                    	<div class="EmptyBox10"></div>			  

                        	<p:outputLabel for="billingFirstname" value="#{i18n['person.firstname.label']}"/>
	                        <p:inputText id="billingFirstname" value="#{usermetaContext.billingFirstname}" required="true"/>

                        	<p:outputLabel for="billingLastname" value="#{i18n['person.lastname.label']}"/>
	                        <p:inputText id="billingLastname" value="#{usermetaContext.billingLastname}" required="true"/>

                        	<p:outputLabel for="billingCompany" value="#{i18n['company.label']}"/>
	                        <p:inputText id="billingCompany" value="#{usermetaContext.billingCompany}"/>

                        	<p:outputLabel for="billingAddressStreet1" value="#{i18n['address.street.label']}"/>
	                        <p:inputText id="billingAddressStreet1" value="#{usermetaContext.billingAddressStreet1}"/>

                        	<p:outputLabel for="billingAddressStreet2"/>
	                        <p:inputText id="billingAddressStreet2" value="#{usermetaContext.billingAddressStreet2}"/>

                        	<p:outputLabel for="billingAddressPostcode" value="#{i18n['address.postcode.label']}"/>
	                        <p:inputText id="billingAddressPostcode" value="#{usermetaContext.billingAddressPostcode}"/>

                        	<p:outputLabel for="billingAddressCity" value="#{i18n['address.city.label']}"/>
	                        <p:inputText id="billingAddressCity" value="#{usermetaContext.billingAddressCity}"/>
	                        	                        
                        	<p:outputLabel for="billingEmail" value="#{i18n['contact.email.label']}"/>
	                        <p:inputText id="billingEmail" value="#{usermetaContext.billingEmail}"/>

                        	<p:outputLabel for="billingPhone" value="#{i18n['contact.phone.label']}"/>
	                        <p:inputText id="billingPhone" value="#{usermetaContext.billingPhone}"/>

	                    	<div class="EmptyBox10"></div>			  

                        	<p:outputLabel for="billingHeader" value="#{i18n['billing.header.label']}"/>
	                        <p:inputText id="billingHeader" value="#{configContext.billingHeader}"/>

                        	<p:outputLabel for="billingFooter" value="#{i18n['billing.footer.label']}"/>
	                        <p:inputText id="billingFooter" value="#{configContext.billingFooter}"/>
	
	                    </p:panelGrid>
	                    
						<sc:editActionPanel controller="#{settingsReceiptController}"/>

					</h:form>					
				</div>

			</div>
		</div>
       	<!-- CASH REGISTER END -->
               	
        <!-- LOGO UPLOAD BEGIN -->
		<div class="Container100 Responsive100 ui-fluid">
			<div class="Card" style="padding: 0;">

				<div style="padding: 1rem;" class="DispBlock OrangeBack OvHidden">
					<h:outputText value="#{i18n['logo.label']}" styleClass="white Fs18"/>
                   </div>

				<div style="padding:1rem;" class="DispBlock OvHidden ui-fluid">
 					<h:form> 					
	              		<p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank">
	                    	
	                    	<p:graphicImage id="billingLogo" value="#{configContext.logoUrl}" style="max-width:140px"/>
							
							<div class="EmptyBox20"></div>
	                    	
	                    	<p:fileUpload label="#{i18n['action.upload.name']}" update="billingLogo"
	                    				  fileUploadListener="#{settingsReceiptController.handleFileUpload}"
	                    				  mode="advanced" auto="true" dragDropSupport="true" sizeLimit="128000"
	                    				  allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
	                    				  	
	                    </p:panelGrid>
					</h:form>					
				</div>

			</div>
		</div>
       	<!-- LOGO UPLOAD END -->

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuSettings').addClass('active');
		    })
			//]]>
		</h:outputScript>			
        
    </ui:define>

</ui:composition>