<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
   	xmlns:sc="http://xmlns.jcp.org/jsf/composite/cc/crud"    
    template="/templates/default.xhtml">

    <ui:define name="content">
    
		<div class="Container50 Responsive100 NoIndent">

	        <!-- COMMON START -->
			<div class="Container100 ui-fluid">
				<div class="Card" style="padding: 0;">

					<div style="padding: 1rem;" class="DispBlock AquaBack OvHidden">
						<h:outputText value="Allgemein" styleClass="white Fs18"/>
                    </div>

					<div style="padding:1rem;" class="DispBlock OvHidden ui-fluid">
	              		<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
	              		
	              			<p:outputPanel styleClass="Fright">
	              				#{i18n['version.info.label']}:
	              			</p:outputPanel> 
	   					
	   						<h:outputText value="#{publicViewController.version}"/>
	   						
	                    </p:panelGrid>
					</div>

				</div>
			</div>
	       	<!-- COMMON END -->
                	
        </div>

		<h:outputScript>
			//<![CDATA[
		    $(function() {
		        $('#layout-topbar-menu').find('#menuSettings').addClass('active');
		    })
			//]]>
		</h:outputScript>			
        
    </ui:define>

</ui:composition>