<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

	<cc:interface>
		<cc:attribute name="controller"
			type="at.synaptos.synapphys.controller.AbstractEditController" />
	</cc:interface>

	<cc:implementation>
		<p:panelGrid columns="6" layout="grid" styleClass="ui-panelgrid-blank">
			<p:outputPanel>
				<p:commandButton value="#{i18n['action.save.name']}"
					icon="#{TagAttribute.ICON_CHECK}" ajax="false"
					action="#{cc.attrs.controller.doSave()}" />
			</p:outputPanel>
			<p:outputPanel>
				<p:commandButton value="#{i18n['action.cancel.name']}"
					icon="#{TagAttribute.ICON_CANCEL}" ajax="false" immediate="true"
					action="#{cc.attrs.controller.doCancel}"
					rendered="#{not empty cc.attrs.controller.doCancel()}" />
			</p:outputPanel>
		</p:panelGrid>
	</cc:implementation>

</ui:composition>