<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">

	<cc:interface>
	</cc:interface>

	<cc:implementation>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true">
			<p:commandButton value="#{i18n['button.yes.label']}"
				icon="#{TagAttribute.ICON_CHECK}" type="button"
				styleClass="ui-confirmdialog-yes" />
			<p:commandButton value="#{i18n['button.no.label']}"
				icon="#{TagAttribute.ICON_CANCEL}" type="button"
				styleClass="ui-confirmdialog-no" />
		</p:confirmDialog>
	</cc:implementation>

</ui:composition>