<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite">
	
	<cc:interface>
		<cc:attribute name="value" type="java.lang.Integer" required="true" />
	</cc:interface>
	
	<cc:implementation>
		<p:panelGrid columns="3" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="Wid30,Wid25,Wid45">
			<p:commandButton type="button" icon="fa fa-minus white" onclick="spinner_decrement.call(this,event)"/>
		
			<h:panelGroup>
				<h:outputText id="number" value="#{cc.attrs.value}" styleClass="VertAlMiddle FontBold" />
				<p:inputText id="numberHidden" value="#{cc.attrs.value}" type="hidden"/>
			</h:panelGroup>
		
			<p:commandButton  type="button" icon="fa fa-plus white" onclick="spinner_increment.call(this,event)"/>
		</p:panelGrid>

		<h:outputScript name="js/spinner.js" target="head"/>
	</cc:implementation>
	

</ui:composition>