<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud">

	<div class="layout-main-content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form>
						<p:dataTable widgetVar="billings"
							value="#{billingListController.billings}" var="billing"
							rowKey="#{billing.id}" sortBy="#{billing.billingDate}"
							sortOrder="descending"
							emptyMessage="#{i18n['emptyMessage.text']}" reflow="true"
							filteredValue="#{billingListController.filteredBillings}">
							<f:facet name="header">
								<p:panelGrid columns="4" layout="grid"
									styleClass="ui-panelgrid-blank"
									columnClasses="ui-grid-col-1 TexAlLeft,ui-grid-col-5,
										ui-grid-col-5,ui-grid-col-1">
									<h:outputText styleClass="#{TagAttribute.ICON_BILLING} Fs20" />
									<h:outputText
										value="#{i18n[billingListController.textKeyForBillingType('s.label')]}"
										styleClass="Fs20" />
									<p:panelGrid columns="3" layout="grid"
										styleClass="ui-panelgrid-blank">
										<p:commandButton id="billingDateDecr"
											icon="fa fa-chevron-left" process="@this"
											update="@widgetVar(billings)"
											actionListener="#{billingListController.doBillingDateDecr}" />

										<p:outputPanel style="padding-top: 10px">
											<h:outputText
												value="#{billingListController.filteredStartDate}"
												styleClass="TexAlCenter" style="font-weight: bold">
												<f:convertDateTime type="date" pattern="MMMM yy" />
											</h:outputText>
										</p:outputPanel>

										<p:commandButton id="billingDateIncr"
											icon="fa fa-chevron-right" process="@this"
											update="@widgetVar(billings)"
											actionListener="#{billingListController.doBillingDateIncr}" />
									</p:panelGrid>
								</p:panelGrid>
							</f:facet>

							<p:column headerText="#{i18n['billing.billingDate.label']}"
								sortBy="#{billing.billingDate}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}"
									style="text-align: center">
									<h:outputText value="#{billing.billingDate}">
										<f:convertDateTime dateStyle="short" type="date" />
									</h:outputText>
								</p:outputPanel>
							</p:column>

							<p:column
								headerText="#{i18n[billingListController.textKeyForBillingType('.referenceNo.label')]}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}"
									style="text-align: center">
									<h:outputText value="#{billing.referenceNo}" />
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{publicViewController.currencySymbol}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}"
									style="text-align: right">
									<h:outputText
										value="#{of:formatNumber(billing.total,'#,##0.00')}" />
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{i18n['billing.paymentMethod.label']}"
								rendered="#{billingListController.billingType != BillingType.INVOICE}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}"
									style="text-align: center">
									<h:outputText value="#{i18n['paymentMethod.range.CASH.name']}"
										rendered="#{billing.paymentMethod == PaymentMethod.CASH}" />
									<h:outputText value="#{i18n['paymentMethod.range.MC.name']}"
										rendered="#{billing.paymentMethod == PaymentMethod.MC}" />
									<h:outputText value="#{i18n['paymentMethod.range.CC.name']}"
										rendered="#{billing.paymentMethod == PaymentMethod.CC}" />
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{i18n['client.label']}" styleClass="Wid10"
								rendered="#{billingListController.billingType == BillingType.INVOICE}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}">
									<h:outputText
										value="#{billing.seriesDocumentation.client.fullname}" />
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{i18n['billing.billingNote.label']}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}">
									<h:outputText value="#{billing.billingNote}" escape="false" />
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{i18n['billing.dueDate.label']}"
								styleClass="TexAlCenter"
								rendered="#{billingListController.billingType == BillingType.INVOICE}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}">
									<h:outputText value="#{billing.dueDate}">
										<f:convertDateTime type="date" dateStyle="short" />
									</h:outputText>
								</p:outputPanel>
							</p:column>

							<p:column headerText="#{i18n['billing.paymentDate.label']}"
								styleClass="TexAlCenter"
								rendered="#{billingListController.billingType == BillingType.INVOICE}">
								<p:outputPanel
									styleClass="#{billing.deleted ? 'LineThrough' : ''}">
									<h:outputText value="#{billing.paymentDate}">
										<f:convertDateTime type="date" dateStyle="short" />
									</h:outputText>
								</p:outputPanel>
							</p:column>

							<p:column headerText="Status" styleClass="TexAlCenter"
								filterBy="#{billing.billingStatus}" filterMatchMode="equals"
								rendered="#{billingListController.billingType == BillingType.INVOICE}">
								<f:facet name="filter">
									<p:selectOneButton styleClass="billingStatusFilter"
										onchange="PF('billings').filter()"
										converter="billingStatusConverter">
										<f:selectItem itemLabel="" itemValue="" />
										<f:selectItem itemLabel="" itemValue="#{BillingStatus.OPEN}" />
										<f:selectItem itemLabel="" itemValue="#{BillingStatus.PAID}" />
										<f:selectItem itemLabel=""
											itemValue="#{BillingStatus.CANCELED}" />
									</p:selectOneButton>
								</f:facet>
								<h:outputText
									styleClass="fa fa-flag Fs20 #{billing.billingStatus.flagStyleClass}" />
							</p:column>

							<p:column styleClass="Wid10">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
										styleClass="gray-btn" disabled="#{billing.deleted}"
										process="@this" update="@widgetVar(billings)"
										actionListener="#{billingListController.doCancel(billing)}">
										<p:confirm icon="ui-icon-alert"
											header="#{i18n['itemAction.delete.CONFIRM.header']}"
											message="#{i18n['itemAction.delete.CONFIRM.text']}" />
									</p:commandButton>

									<p:commandButton icon="#{TagAttribute.ICON_EDIT}"
										styleClass="gray-btn" disabled="#{billing.deleted}"
										process="@this"
										update="@widgetVar(billingPaymentDateEdit):billingPaymentDateGrid"
										actionListener="#{billingListController.doSelect(billing)}"
										oncomplete="PF('billingPaymentDateEdit').show()" />

									<p:commandButton icon="#{TagAttribute.ICON_PRINT}"
										styleClass="gray-btn" disabled="#{billing.deleted}"
										process="@this" update="@(.billingReceiptPrint)"
										actionListener="#{billingListController.doPrint(billing)}"
										onstart="onStartBillingReceiptPrint"
										oncomplete="onCompleteBillingReceiptPrint(xhr,status,args)" />

									<p:outputPanel />
								</p:panelGrid>
							</p:column>
						</p:dataTable>

						<p:dialog widgetVar="billingPaymentDateEdit" showHeader="false"
							modal="true" draggable="false" resizable="false"
							responsive="true" positionType="absolute" position="center,top">
							<p:outputPanel style="padding: 12px">
								<p:panelGrid id="billingPaymentDateGrid" columns="1"
									layout="grid" styleClass="ui-panelgrid-blank">
									<p:outputLabel for="billingPaymentDate"
										value="#{i18n['billing.paymentDate.label']}" />
									<p:calendar id="billingPaymentDate"
										value="#{selectedBilling.paymentDate}" mode="inline" />
								</p:panelGrid>
							</p:outputPanel>

							<f:facet name="footer">
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
										value="#{i18n['action.save.name']}"
										update="@widgetVar(billings)"
										actionListener="#{billingListController.doSave}"
										oncomplete="PF('billingPaymentDateEdit').hide()" />
									<p:commandButton icon="#{TagAttribute.ICON_BACK}"
										value="#{i18n['action.cancel.name']}" type="button"
										onclick="PF('billingPaymentDateEdit').hide()" />
								</p:panelGrid>
							</f:facet>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</div>

	<ui:include
		src="#{billingListController.textKeyForBillingType('','Print.xhtml')}" />

	<sc:editConfirmDialog />

	<h:outputScript>
        //<![CDATA[
        $(function() {
            $('.billingStatusFilter div:nth-child(1) span').addClass('fa fa-asterisk black');
            $('.billingStatusFilter div:nth-child(2) span').addClass('fa fa-flag green');
            $('.billingStatusFilter div:nth-child(3) span').addClass('fa fa-flag blue');
            $('.billingStatusFilter div:nth-child(4) span').addClass('fa fa-flag blueGray');
        })
        //]]>
	</h:outputScript>

</ui:composition>