<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"	
	xmlns:p="http://primefaces.org/ui">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Synaptos Smart Therapy Barbeleg</title>
	</head>

	<h:body>
		<p>
			DAS IST EIN TEST!!!
		</p>
		
		<p>
			Der Beleg ist nicht vollständig, sondern zeigt NUR das Konzept!
		</p>
		
		<h:outputText value="#{usermetaContext.billingCompany}"
			styleClass="Fs20" />
			
		<p:outputPanel
		 	rendered="#{not empty selectedBilling}">
			<p:panelGrid columns="3"
				styleClass="ui-panelgrid-blank Wid100"
				columnClasses="TexAlLeft,TexAlCenter,TexAlRight">
				<p:outputPanel style="padding-left: 6px">
					<h:outputText
						value="#{i18n['billing.receipt.referenceNo.label']}:&#160;"
						styleClass="Fs16" />
					<h:outputText value="#{selectedBilling.referenceNo}"
						styleClass="Fs16 " />
				</p:outputPanel>

				<p:outputPanel>
					<h:outputText value="BARBELEG" styleClass="Fs24" />
				</p:outputPanel>

				<p:outputPanel style="padding-right: 6px">
					<h:outputText
						value="#{i18n['billing.billingDateDay.label']}:&#160;"
						styleClass="Fs16" />
					<h:outputText value="#{selectedBilling.billingDate}"
						styleClass="Fs16">
						<f:convertDateTime dateStyle="short" type="date" />
					</h:outputText>
				</p:outputPanel>
			</p:panelGrid>
		</p:outputPanel>
	</h:body>

</html>
