<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui">

	<div class="layout-main-content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12 ui-md-8 ui-lg-8">
				<h:form id="billingForm">
					<ui:include src="headerText.xhtml" />
					<ui:include src="footerText.xhtml" />
					<ui:include src="billingNote.xhtml" />
					<c:forEach items="#{of:createArray(2)}" varStatus="loop">
						<p:dataTable
							value="#{loop.first ? billingViewController.preparedBilling.billingItems : billingViewController.billingItems0}"
							rowIndexVar="rowIndex" var="billingItem"
							widgetVar="billingItems#{loop.first ? '' : '0'}"
							emptyMessage="#{i18n['emptyMessage.text']}"
							styleClass="#{loop.first ? '' : ' DispNone'}" reflow="true"
							paginator="true"
							paginatorPosition="#{TagAttribute.DATATABLE_PAGINATOR_POSITION}"
							paginatorAlwaysVisible="false"
							rows="#{billingViewController.maxRows}"
							first="#{billingViewController.firstRowIndex}">
							<f:facet name="header">
								<p:outputPanel rendered="#{loop.first}">
									<h:outputText value="#{i18n['billing.invoice.label']}"
										styleClass="Fs20"
										rendered="#{billingViewController.preparedBilling.invoice}" />
									<h:outputText value="#{i18n['billing.receipt.label']}"
										styleClass="Fs20"
										rendered="#{billingViewController.preparedBilling.receipt}" />
								</p:outputPanel>
							</f:facet>

							<p:columnGroup type="header">
								<p:row>
									<p:column rowspan="2" styleClass="Wid15" headerText="Position" />
									<p:column colspan="1"
										headerText="#{i18n['billingItem.subject.label']}" />
									<p:column rowspan="2" styleClass="Wid20"
										headerText="#{i18n['billingItem.total.label']}" />
									<p:column rowspan="2" styleClass="Wid10" />
								</p:row>
								<p:row>
									<p:column colspan="1"
										headerText="#{i18n['billingItem.quantity.label']} / #{i18n['billingItem.amount.label']} / #{i18n['billingItem.vat.label']}" />
								</p:row>
							</p:columnGroup>

							<p:column>
								<p:outputPanel id="billingItemRowNo" styleClass="TexAlCenter">
					        		#{rowIndex+1}
					        	</p:outputPanel>
								<h:outputText value="#{billingItem.serviceDate}"
									rendered="#{billingViewController.preparedBilling.invoice}">
									<f:convertDateTime dateStyle="short" type="date" />
								</h:outputText>
							</p:column>

							<p:column>
								<p:outputPanel id="billingItemSubject" styleClass="WWbreak">
					        		#{billingItem.subject}
					        	</p:outputPanel>

								<p:panelGrid columns="3" layout="grid"
									styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
									columnClasses="Wid40,TexAlRight Wid40,TexAlRight Wid20">
									<p:panelGrid columns="3" layout="grid"
										styleClass="ui-panelgrid-blank" columnClasses=",TexAlCenter">
										<p:commandButton id="billingItemQuantityDecr" type="button"
											icon="fa fa-minus"
											onclick="onClickDoCancelBillingItem();
												PF('billingItems').decrRowQuantity(this.id)"
											onfocus="$(this).addClass('ui-state-focus')"
											onblur="$(this).removeClass('ui-state-focus')"
											disabled="#{billingItem.quantity lt 2}">
											<c:if test="#{billingItem.quantity ge 2}">
												<f:attribute name="onmouseover"
													value="$(this).addClass('ui-state-hover')" />
												<f:attribute name="onmouseout"
													value="$(this).removeClass('ui-state-hover')" />
											</c:if>
										</p:commandButton>

										<p:outputPanel style="padding-top: 6px">
											<h:outputText id="billingItemQuantity"
												value="#{billingItem.quantity}" style="font-weight: bold" />
										</p:outputPanel>

										<p:commandButton id="billingItemQuantityIncr" type="button"
											icon="fa fa-plus"
											onclick="onClickDoCancelBillingItem();PF('billingItems').incrRowQuantity(this.id)"
											onmouseover="$(this).addClass('ui-state-hover')"
											onmouseout="$(this).removeClass('ui-state-hover')"
											onfocus="$(this).addClass('ui-state-focus')"
											onblur="$(this).removeClass('ui-state-focus')" />
									</p:panelGrid>

									<p:outputPanel>
										<p:outputPanel id="billingItemAmount" styleClass="DispNone">
							        		#{billingItem.amount}
							        	</p:outputPanel>
										<p:outputPanel id="billingItemAmountDisplayed"
											style="padding-top: 10px">
						        			#{of:formatNumber(billingItem.amount,'#,##0.00')}&#160;#{publicViewController
						        				.currencySymbol}
							        	</p:outputPanel>
									</p:outputPanel>

									<p:outputPanel>
										<p:outputPanel id="billingItemVat" styleClass="DispNone">
							        		#{empty billingItem.vat ? 0 : billingItem.vat}
							        	</p:outputPanel>
										<p:outputPanel id="billingItemVatDisplayed"
											style="padding-top: 10px">
							        		#{billingItem.vat}<h:outputText
												value="#{not empty billingItem.vat ? ' %' : ''}" />
										</p:outputPanel>
									</p:outputPanel>
								</p:panelGrid>
							</p:column>

							<p:column>
								<p:outputPanel id="billingItemTotal" styleClass="DispNone">
					        		#{billingItem.total}
					        	</p:outputPanel>
								<p:outputPanel id="billingItemTotalDisplayed"
									styleClass="TexAlRight WSnowrap" style="font-weight:bold">
					        		#{of:formatNumber(billingItem.total,'#,##0.00')}&#160;#{publicViewController
					        			.currencySymbol}
					        	</p:outputPanel>
							</p:column>

							<p:column>
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
									<p:commandButton id="billingItemDoDelete"
										icon="#{TagAttribute.ICON_DELETE}" process="@this"
										update="@widgetVar(billingItems)"
										actionListener="#{billingViewController.doDeleteBillingItem(rowIndex)}"
										onmouseover="$(this).addClass('ui-state-hover')"
										onmouseout="$(this).removeClass('ui-state-hover')"
										onfocus="$(this).addClass('ui-state-focus')"
										onblur="$(this).removeClass('ui-state-focus')"
										onclick="onClickDoCancelBillingItem()" />
									<p:commandButton id="billingItemDoEdit"
										icon="#{TagAttribute.ICON_EDIT}" process="@this"
										update="@widgetVar(billingItemEdit)"
										actionListener="#{billingViewController.doEditBillingItem(rowIndex)}"
										onmouseover="$(this).addClass('ui-state-hover')"
										onmouseout="$(this).removeClass('ui-state-hover')"
										onfocus="$(this).addClass('ui-state-focus')"
										onblur="$(this).removeClass('ui-state-focus')"
										oncomplete="onCompleteDoEditBillingItem(xhr,status,args)" />
								</p:panelGrid>
							</p:column>

							<c:if test="#{loop.first}">
								<p:columnGroup type="footer">
									<p:row>
										<p:column colspan="2">
											<f:facet name="footer">
												<p:outputPanel styleClass="Fs18 TexAlRight"
													style="font-weight: bold">
									        		#{i18n['billing.total.label']}
									        	</p:outputPanel>
											</f:facet>
										</p:column>

										<p:column colspan="1">
											<f:facet name="footer">
												<p:outputPanel id="billingTotal"
													styleClass="Fs18 TexAlRight WSnowrap"
													style="font-weight:bold">
									        		#{of:formatNumber(billingViewController.preparedBilling
									        			.total,'#,##0.00')}&#160;#{publicViewController.currencySymbol}
									        	</p:outputPanel>
											</f:facet>
										</p:column>

										<p:column>
											<f:facet name="footer">
												<p:outputPanel id="billingActions"
													styleClass="TexAlCenter #{billingViewController.preparedBilling
														.billingItems.size() > 0 ? '' : 'DispNone'}">
													<p:commandButton icon="fa fa-remove" styleClass="Wid50"
														process="@this" update="@widgetVar(billingItems)"
														actionListener="#{billingViewController.doAddBilling}"
														onclick="onClickDoCancelBillingItem()" />
												</p:outputPanel>
											</f:facet>
										</p:column>
									</p:row>
								</p:columnGroup>
							</c:if>
						</p:dataTable>
					</c:forEach>

					<div class="EmptyBox20"></div>

					<p:panelGrid id="billingEdit" columns="1" layout="grid"
						styleClass="ui-panelgrid-blank">
						<p:outputLabel for="billingPaymentMethod"
							value="#{i18n['billing.paymentMethod.label']}"
							rendered="#{billingViewController.preparedBilling.receipt}" />
						<p:selectOneRadio id="billingPaymentMethod"
							columns="#{billingViewController.showPaymentMethods.size()}"
							layout="responsive"
							value="#{billingViewController.preparedBilling.paymentMethod}"
							rendered="#{billingViewController.preparedBilling.receipt}">
							<f:selectItems
								value="#{billingViewController.showPaymentMethods}"
								var="paymentMethod"
								itemLabel="#{i18n['paymentMethod.range.'+=paymentMethod+='.name']}"
								itemValue="#{paymentMethod}" />
						</p:selectOneRadio>

						<h:panelGroup id="headerInput"
							rendered="#{billingViewController.preparedBilling.invoice}">
							<p:outputLabel for="headerNote"
								value="#{i18n['billing.headerNote.label']}&#160;" />
							<p:commandLink value="#{i18n['edit.label']}" id="headerNote"
								process="@this" onclick="PF('headerText').show(); return false" />
							<p:commandLink onclick="PF('headerText').show()">
								<p:outputPanel styleClass="DivBorder TexColor"
									rendered="#{not empty billingViewController.preparedBilling.headerNote}">
									<h:outputText escape="false"
										value="#{billingViewController.preparedBilling.headerNote}" />
								</p:outputPanel>
							</p:commandLink>
						</h:panelGroup>

						<h:panelGroup id="footerInput"
							rendered="#{billingViewController.preparedBilling.invoice}">
							<p:outputLabel for="footerNote"
								value="#{i18n['billing.footerNote.label']}&#160;" />
							<p:commandLink value="#{i18n['edit.label']}" id="footerNote"
								process="@this" onclick="PF('footerText').show()" />
							<p:commandLink onclick="PF('footerText').show()">
								<p:outputPanel styleClass="DivBorder TexColor"
									rendered="#{not empty billingViewController.preparedBilling.footerNote}">
									<h:outputText escape="false"
										value="#{billingViewController.preparedBilling.footerNote}" />
								</p:outputPanel>
							</p:commandLink>
						</h:panelGroup>

						<h:panelGroup id="noteInput">
							<p:outputLabel for="billingNote"
								value="#{i18n['billing.billingNote.label']}&#160;" />
							<p:commandLink value="#{i18n['edit.label']}" id="billingNote"
								process="@this" onclick="PF('billingNote').show()" />
							<p:commandLink onclick="PF('billingNote').show()">
								<p:outputPanel styleClass="DivBorder TexColor"
									rendered="#{not empty billingViewController.preparedBilling.billingNote}">
									<h:outputText escape="false"
										value="#{billingViewController.preparedBilling.billingNote}" />
								</p:outputPanel>
							</p:commandLink>
						</h:panelGroup>

						<div class="EmptyBox10"></div>

						<p:panelGrid columns="4" layout="grid"
							styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
							<p:commandButton icon="#{TagAttribute.ICON_PRINT}"
								process="billingEdit"
								update="@form,@(.billingReceiptDoPrint),@(.billingReceiptPrint)"
								actionListener="#{billingViewController.doPrintBilling}"
								onstart="onStartBillingReceiptPrint()"
								oncomplete="onCompleteBillingReceiptPrint(xhr,status,args);onClickDoCancelBillingItem()" />
						</p:panelGrid>
					</p:panelGrid>

					<p:remoteCommand name="changeBillingItemQuantity" process="@this"
						actionListener="#{billingViewController.doChangeBillingItemQuantity}" />
				</h:form>
			</div>

			<div class="ui-g-12 ui-md-4 ui-lg-4">
				<h:form>
					<div id="billingItemServiceType"
						style="padding: 6px; background-color: #ffffff">
						<p:dataGrid value="#{billingViewController.serviceTypes}"
							var="serviceType" layout="grid" columns="2">
							<p:link rendered="#{empty serviceType.id}"
								onclick="onClickServiceType();return false">
								<p:panel styleClass="TexAlCenter BorderedBox HoverEffect">
									<h:outputText value=" ..." styleClass="fa fa-plus Fs24 green" />
								</p:panel>
							</p:link>

							<p:link rendered="#{not empty serviceType.id}"
								onclick="onClickServiceType(#{serviceType.id},\
											'#{of:escapeJS(serviceType.name)}',1,#{serviceType.amount},\
											#{serviceType.category.vat == null ? 'null' : serviceType.category.vat});\
											return false">
								<p:panel
									styleClass="TexAlCenter BorderedBox HoverEffect WSnowrap OvHidden">
									<p:panelGrid columns="1" layout="grid"
										styleClass="ui-panelgrid-blank">
										<h:outputText value="#{serviceType.code}"
											styleClass="Fs20 green"
											rendered="#{serviceType.category == ServiceTypeCategory.C10_THERAPY}" />
									
										<h:outputText value="#{serviceType.code}"
											styleClass="Fs20 gray"
											rendered="#{serviceType.category == ServiceTypeCategory.C20_ADMIN}" />
									
										<h:outputText value="#{serviceType.code}"
											styleClass="Fs20 blue"
											rendered="#{serviceType.category == ServiceTypeCategory.C30_PRODUCT}" />
									
										<h:outputText
											value="#{of:formatNumber(serviceType.amount,'#,##0.00')}&#160;#{publicViewController
												.currencySymbol}"
											style="color: black" />
									</p:panelGrid>
								</p:panel>
							</p:link>
						</p:dataGrid>
					</div>
					
					<div id="billingItemEdit" class="DispNone">
						<p:panel widgetVar="billingItemEdit"
							style="margin: 12px; padding-right: 20px !important">
							<p:panelGrid columns="1" layout="grid"
								styleClass="ui-panelgrid-blank">
								<p:outputLabel for="billingItemServiceDate"
									value="#{i18n['billingItem.serviceDate.label']}"
									rendered="#{billingViewController.preparedBilling.invoice}" />
								<p:calendar id="billingItemServiceDate"
									value="#{billingViewController.preparedBillingItem.serviceDate}"
									showOn="button" showButtonPanel="true" navigator="true"
									size="10"
									rendered="#{billingViewController.preparedBilling.invoice}" />
								<p:message for="billingItemServiceDate"
									rendered="#{billingViewController.preparedBilling.invoice}" />
								<p:outputLabel for="billingItemSubject"
									value="#{i18n['billingItem.subject.label']}" />
								<p:inputTextarea id="billingItemSubject"
									value="#{billingViewController.preparedBillingItem.subject}"
									styleClass="Wid100" rows="3" required="true" />
								<p:message for="billingItemSubject" />
								<p:outputLabel for="billingItemQuantity"
									value="#{i18n['billingItem.quantity.label']}" />
								<p:inputText id="billingItemQuantity"
									value="#{billingViewController.preparedBillingItem.quantity}"
									styleClass="Wid100" required="true">
									<p:ajax event="change" update="billingItemTotal" />
								</p:inputText>
								<p:message for="billingItemQuantity" />
								<p:outputLabel for="billingItemAmount"
									value="#{i18n['billingItem.amount.label']} #{publicViewController.currencySymbol}" />
								<p:inputText id="billingItemAmount"
									value="#{billingViewController.preparedBillingItem.amount}"
									styleClass="Wid100" required="true">
									<p:ajax event="change" update="billingItemTotal" />
									<f:convertNumber pattern="#,##0.00" />
								</p:inputText>
								<p:message for="billingItemAmount" />
								<p:outputLabel for="billingItemVat"
									value="#{i18n['billingItem.vat.label']} %" />
								<p:selectOneMenu id="billingItemVat"
									value="#{billingViewController.preparedBillingItem.vat}"
									styleClass="Wid100">
									<f:selectItem itemLabel="" itemValue="" />
									<f:selectItem itemLabel="20" itemValue="20" />
									<p:ajax event="change" update="billingItemTotal" />
								</p:selectOneMenu>
								<p:message for="billingItemVat" />
								<p:outputLabel for="billingItemTotal"
									value="#{i18n['billingItem.total.label']} #{publicViewController.currencySymbol}" />
								<h:outputText id="billingItemTotal"
									value="#{of:formatNumber(billingViewController.preparedBillingItem.total,'#,##0.00')}"
									styleClass="Fs20" style="font-weight: bold" />
								<div class="EmptyBox10"></div>
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:commandButton id="billingItemDoSave" icon="fa fa-check"
										process="@widgetVar(billingItemEdit)"
										update="@widgetVar(billingItemEdit),@widgetVar(billingItems)"
										actionListener="#{billingViewController.doSaveBillingItem}"
										oncomplete="onCompleteDoSaveBillingItem(xhr,status,args)" />
									<p:commandButton id="billingItemDoCancel" icon="fa fa-remove"
										style="margin: 0 0 10px 10px" type="button"
										onclick="onClickDoCancelBillingItem()" />
								</p:panelGrid>
							</p:panelGrid>
						</p:panel>
					</div>

					<p:remoteCommand name="addBillingItem" process="@this"
						actionListener="#{billingViewController.doAddBillingItem}" />

					<p:remoteCommand name="addBillingItemForEdit" process="@this"
						update="@widgetVar(billingItemEdit)"
						actionListener="#{billingViewController.doAddBillingItemForEdit}"
						resetValues="true"
						oncomplete="onCompleteDoEditBillingItem(xhr,status,args)" />
				</h:form>
			</div>
		</div>
	</div>

	<ui:include
		src="#{billingViewController.textKeyForBillingType('','Print.xhtml')}" />

	<h:outputScript>
		//<![CDATA[
	    $(function() {
	        $.extend(PF('billingItems'), {
	            incrRowQuantity : function(buttonId) {
	            	var rowIndex = parseInt(buttonId.split(':')[2]);
	            	
					if (rowIndex < 0) {
						return false;
					}
	            
					var pfTableRow = this.findRow(rowIndex),
						pfTableRowQuantity = pfTableRow.find('[id$="billingItemQuantity"]');
						
					var quantity = parseInt(pfTableRowQuantity.html());
					
					quantity++;
												
					var pfTableRowAmount = pfTableRow.find('[id$="billingItemAmount"]'),
						pfTableRowVat = pfTableRow.find('[id$="billingItemVat"]');
						
					var	amount = parseFloat(pfTableRowAmount.html()),
						vat = parseInt(pfTableRowVat.html()),
						total = quantity*amount*(1+vat/100);

					pfTableRowQuantity.html(quantity);
					var total = quantity*amount+(quantity*amount*vat/100);
					pfTableRow.find('[id$="billingItemTotal"]').html(total);
					pfTableRow.find('[id$="billingItemTotalDisplayed"]').html(formatToLocaleString(total));

					this.enableTableRowQuantityDecr(pfTableRow);

					this.updateTableTotal();

					changeBillingItemQuantity([{name:'rowIndex',value:rowIndex},{name:'count',value:1}]);
	            },

	            decrRowQuantity : function(buttonId) {
	            	var rowIndex = parseInt(buttonId.split(':')[2]);
	            		
					if (rowIndex < 0) {
						return false;
					}
	            
					var pfTableRow = this.findRow(rowIndex),
						pfTableRowQuantity = pfTableRow.find('[id$="billingItemQuantity"]');
						
					var quantity = parseInt(pfTableRowQuantity.html());
						
					if (quantity < 2) {
						return false;
					}
					
					quantity--;
					
					var pfTableRowAmount = pfTableRow.find('[id$="billingItemAmount"]'),
						pfTableRowVat = pfTableRow.find('[id$="billingItemVat"]');
						
					var	amount = parseFloat(pfTableRowAmount.html()),
						vat = parseInt(pfTableRowVat.html()),
						total = quantity*value*(1+vat/100);

					pfTableRowQuantity.html(quantity);
					var total = quantity*amount+(quantity*amount*vat/100);
					pfTableRow.find('[id$="billingItemTotal"]').html(total);
					pfTableRow.find('[id$="billingItemTotalDisplayed"]').html(formatToLocaleString(total));

					if (quantity < 2) {
						this.disableTableRowQuantityDecr(pfTableRow);
					}
					
					this.updateTableTotal();

					changeBillingItemQuantity([{name:'rowIndex',value:rowIndex},{name:'count',value:-1}]);
	            },

	            appendRow : function(name,quantity,amount,vat) {
	            	if (vat === undefined || vat === null) {
	            		vat = 0;
	            	}
	            
					var pfTableRows = this.tbody.children();
					
					var pfTableLastRowCellRowNo = pfTableRows.last().find('[id$="billingItemRowNo"]');

					var	nextRowIndex = 0;
					if (!pfTableLastRowCellRowNo.length) {
						pfTableRows.last().remove();
					} else {
						nextRowIndex = parseInt(pfTableLastRowCellRowNo.html());
					}

					if (nextRowIndex > 0 && nextRowIndex%#{billingViewController.maxRows} === 0) {
						return {updateId:this.id};
					}			
					
					var pfTable0 = PF('billingItems0'),
						pfTable0Row0 = pfTable0.findRow(0);
					
					var pfTableRowClone = $(pfTable0Row0[0]
						.outerHTML
						.replace(new RegExp('ri="0"','g'),'ri="'+nextRowIndex+'"')
						.replace(new RegExp(pfTable0.id+':0','g'),this.id+':'+nextRowIndex));

					if (nextRowIndex%2 !== 0) {
						pfTableRowClone.removeClass('ui-datatable-even').addClass('ui-datatable-odd');
					}

					this.tbody.append(pfTableRowClone);
							
					pfTableRowClone.find('[id$="billingItemRowNo"]').html(nextRowIndex+1);
					pfTableRowClone.find('[id$="billingItemSubject"]').html(name);
					pfTableRowClone.find('[id$="billingItemQuantity"]').html(quantity);
					pfTableRowClone.find('[id$="billingItemAmount"]').html(amount);
					pfTableRowClone.find('[id$="billingItemAmountDisplayed"]').html(formatToLocaleString(amount));
					pfTableRowClone.find('[id$="billingItemVat"]').html(vat);
					if (vat > 0) {
						pfTableRowClone.find('[id$="billingItemVatDisplayed"]').html(vat+" %");
					}
					var	total = quantity*amount*(1+vat/100);
					pfTableRowClone.find('[id$="billingItemTotal"]').html(total);
					pfTableRowClone.find('[id$="billingItemTotalDisplayed"]').html(formatToLocaleString(total));

					this.disableTableRowQuantityDecr(pfTableRowClone);

					this.updateTableTotal();
					
					return {};
	            },

	            enableTableRowQuantityDecr : function(pfTableRow) {
	            	if (pfTableRow === undefined || pfTableRow === null) {
						$.each(this.tbody.children(),function(){
							$(this)
								.find('[id$="billingItemQuantityDecr"]')
								.removeClass('ui-state-disabled')									
								.attr('disabled',null)
								.attr('aria-disabled',false)
								.attr('onclick',"onClickDoCancelBillingItem();PF('billingItems').decrRowQuantity(this.id)")
								.attr('onmouseover',"$(this).addClass('ui-state-hover')")
								.attr('onmouseout',"$(this).removeClass('ui-state-hover')");
						});
	            	} else {
						pfTableRow
							.find('[id$="billingItemQuantityDecr"]')
							.removeClass('ui-state-disabled')
							.attr('disabled',null)
							.attr('aria-disabled',false)
							.attr('onclick',"onClickDoCancelBillingItem();PF('billingItems').decrRowQuantity(this.id)")
							.attr('onmouseover',"$(this).addClass('ui-state-hover')")
							.attr('onmouseout',"$(this).removeClass('ui-state-hover')");
	            	}
	            },

	            disableTableRowQuantityDecr : function(pfTableRow) {
	            	if (pfTableRow === undefined || pfTableRow === null) {
						$.each(this.tbody.children(),function(){
							$(this)
								.find('[id$="billingItemQuantityDecr"]')
								.removeClass('ui-state-hover')
								.removeClass('ui-state-focus')
								.addClass('ui-state-disabled')
								.attr('disabled','disabled')
								.attr('aria-disabled',true)
								.attr('onclick',null)
								.attr('onmouseover',null)
								.attr('onmouseout',null);
						});
	            	} else {
						pfTableRow
							.find('[id$="billingItemQuantityDecr"]')
							.removeClass('ui-state-hover')
							.removeClass('ui-state-focus')
							.addClass('ui-state-disabled')
							.attr('disabled','disabled')
							.attr('aria-disabled',true)
							.attr('onclick',null)
							.attr('onmouseover',null)
							.attr('onmouseout',null);
	            	}
	            },
	            
	            updateTableTotal : function() {
						var billingTotal = 0;
					$.each(this.tbody.children(),function(){
						var billingItemTotal = parseFloat($(this).find('[id$="billingItemTotal"]').html());
						billingTotal += billingItemTotal;
					});

					if (!this.tfoot) {
						this.tfoot = $(this.jqId+'_foot');
					}
					
					this.tfoot.find('[id$="billingTotal"]').html(formatToLocaleString(billingTotal));
					this.tfoot.find('[id$="billingActions"]').removeClass('DispNone');		            
	            }
	        });		        
	    });

		function isNumeric(n) {
 				return !isNaN(parseFloat(n)) && isFinite(n);
		}
					
		function formatToLocaleString(amount) {
			if (amount === undefined || amount === null || !isNumeric(amount)) {
				return undefined;
			}
           	var localeId = '#{publicViewController.localeId}';
           	var currencySymbol = '#{publicViewController.currencySymbol}';
	    	return amount.toLocaleString(localeId,{minimumFractionDigits:2,maximumFractionDigits:2})+" "+currencySymbol;
	    }
		
		function onClickServiceType(id,name,quantity,amount,vat) {
			if (id === undefined || id === null) {
				addBillingItemForEdit();
			} else {
				var updateData = PF('billingItems').appendRow(name,quantity,amount,vat);

				if (updateData === undefined && updateData === null) {
					return;
				}
				if (updateData.rowIndex === undefined && updateData.rowIndex === null) {
					return;
				}

				var params = [];
				params.push({name:'subject',value:name});
				params.push({name:'quantity',value:quantity});				
				params.push({name:'amount',value:amount});				
				if (vat !== undefined && vat !== null) {
					params.push({name:'vat',value:vat});				
				}
				params.push({name:'updateId',value:updateData.updateId});				
				params.push({name:'rowIndex',value:updateData.rowIndex});

				addBillingItem(params);
			}
		}
		
		function onCompleteDoEditBillingItem(xhr,status,args) {
			if (args.validationFailed === true) {
				return;
			}
			$('#billingItemServiceType').addClass('DispNone');
			$('#billingItemEdit').removeClass('DispNone');
		}

		function onCompleteDoSaveBillingItem(xhr,status,args) {
			if (args.validationFailed === true) {
				return;
			}
			$('#billingItemServiceType').removeClass('DispNone');
			$('#billingItemEdit').addClass('DispNone');
		}			

		function onClickDoCancelBillingItem() {
			onCompleteDoSaveBillingItem(null,null,{validationFailed:false});
		}			
		//]]>
	</h:outputScript>

</ui:composition>