<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"	
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['billing.invoices.label']}" />
	</ui:define>

    <ui:define name="content">    
		<ui:include src="billingList.xhtml">
			<ui:param name="billingListController" value="#{billingInvoiceListController}"/>
		</ui:include>
	</ui:define>

</ui:composition>