<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"	
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="#{i18n['billing.invoice.label']}" />
	</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{billingInvoiceViewController.init}"
				onPostback="false" />
		</f:metadata>
	
		<ui:include src="billingView.xhtml">
			<ui:param name="billingViewController"
				value="#{billingInvoiceViewController}" />
		</ui:include>
	</ui:define>

</ui:composition>