<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">

	<ui:define name="content">

		<!-- 1ST ROW START -->
		<div class="Container100 Flex FlexWrap">
			<div class="Card ui-fluid">
				<div class="Container100 Responsive100 Flex">
					<div class="DispBlock OvHidden">
						<p:messages for="#{TagAttribute.MESSAGE_FOR_EDIT_PANEL}"
							showSummary="true" showDetail="false" autoUpdate="true" />
							
						<div class="EmptyBox10"></div>
						
						<h:form>
							<p:fileUpload label="#{i18n['action.upload.name']}"
								update="@widgetVar(billings),@widgetVar(transfers)"
								fileUploadListener="#{paymentViewController.handleFileUpload}"
								mode="advanced" auto="true" dragDropSupport="true"
								sizeLimit="5120000" allowTypes="/(\.|\/)(csv)$/"
								invalidSizeMessage="#{i18n['fileUpload.fileSize.INVALID']}"
								invalidFileMessage="#{i18n['fileUpload.fileType.INVALID']}" />
						</h:form>
					</div>
				</div>
				
				<div class="Container50 Responsive50 Flex">
					<h:form>
						<p:dataTable widgetVar="billings"
							value="#{paymentViewController.billings}" var="billing"
							rowKey="#{billing.id}" sortBy="#{billing.billingDate}"
							sortOrder="descending"
							emptyMessage="#{i18n['emptyMessage.text']}" styleClass="BBnone"
							reflow="true" selectionMode="single"
							selection="#{paymentViewController.selectedBilling}"
							rowExpandMode="single">
							<p:ajax event="rowSelect"
								listener="#{paymentViewController.onRowSelectBilling}"
								update="@parent" />
						
							<p:column style="width: 16px;">
								<p:rowToggler rendered="#{not empty billing.bankTransfer}" />
							</p:column>
						
							<p:rowExpansion rendered="#{not empty billing.bankTransfer}">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank"
									columnClasses="DashbLabel,DashbCol">
									<h:outputText value="#{i18n['bankTransfer.bookingDate.label']}" />
									<h:outputText value="#{billing.bankTransfer.bookingDate}">
										<f:convertDateTime dateStyle="short" type="date" />
									</h:outputText>
									<h:outputText
										value="#{i18n['bankTransfer.amount.label']} #{publicViewController.currencySymbol}" />
									<h:outputText
										value="#{of:formatNumber(billing.bankTransfer.amount,'#,##0.00')}" />
									<h:outputText value="#{i18n['bankTransfer.bookingNo.label']}" />
									<h:outputText value="#{billing.bankTransfer.bookingNo}" />
									<h:outputText value="#{i18n['bankTransfer.referenceNo.label']}" />
									<h:outputText value="#{billing.bankTransfer.referenceNo}" />
									<h:outputText value="#{i18n['bankTransfer.bookingText.label']}" />
									<h:outputText value="#{billing.bankTransfer.bookingText}" />
									<f:facet name="footer">
										<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
											styleClass="DarkgrayButton" process="@this"
											update="@widgetVar(billings),@widgetVar(transfers)"
											actionListener="#{paymentViewController.doUnmatch(billing)}" />
									</f:facet>
								</p:panelGrid>
							</p:rowExpansion>
							
							<p:column headerText="#{i18n['billing.billingDate.label']}"
								sortBy="#{billing.billingDate}" styleClass="TexAlCenter Wid10">
								<h:outputText value="#{billing.billingDate}">
									<f:convertDateTime dateStyle="short" timeStyle="short"
										type="both" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{i18n['billing.invoice.referenceNo.label']}"
								styleClass="TexAlCenter Wid10">
								<h:outputText value="#{billing.referenceNo}" />
							</p:column>
							
							<p:column
								headerText="#{i18n['billing.total.label']} #{publicViewController.currencySymbol}"
								styleClass="TexAlRight">
								<h:outputText
									value="#{of:formatNumber(billing.total,'#,##0.00')}" />
							</p:column>
							
							<p:column headerText="#{i18n['client.label']}">
								<h:outputText
									value="#{billing.seriesDocumentation.client.fullname}"
									rendered="#{not empty billing.seriesDocumentation}" />
							</p:column>
							
							<p:column headerText="#{i18n['billing.billingNote.label']}">
								<h:outputText value="#{billing.billingNote}" />
							</p:column>
							
							<p:column headerText="#{i18n['billing.dueDate.label']}"
								styleClass="TexAlCenter Wid10">
								<h:outputText value="#{billing.dueDate}">
									<f:convertDateTime type="date" dateStyle="short" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="#{i18n['billing.paymentDate.label']}"
								styleClass="TexAlCenter Wid10">
								<h:outputText value="#{billing.paymentDate}">
									<f:convertDateTime type="date" dateStyle="short" />
								</h:outputText>
							</p:column>
							
							<p:column headerText="Status" styleClass="TexAlCenter">
								<h:outputText
									styleClass="fa fa-flag Fs20 #{billing.billingStatus.flagStyleClass}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
				
				<div class="Container50 Responsive50 Flex">
					<h:form>
						<p:dataTable widgetVar="transfers"
							value="#{paymentViewController.unmatchedBankTransfers}"
							var="transfer" rowKey="#{transfer.bookingNo}"
							sortBy="#{transfer.bookingDate}" sortOrder="descending"
							emptyMessage="#{i18n['emptyMessage.text']}" styleClass="BBnone"
							reflow="true">
							<p:column styleClass="Wid5">
								<p:commandButton icon="fa fa-chevron-left green Fs16"
									styleClass="DarkgrayButton" process="@this"
									update="@widgetVar(billings),@widgetVar(transfers)"
									actionListener="#{paymentViewController.doMatch(transfer)}" />
							</p:column>
							
							<p:column headerText="#{i18n['bankTransfer.bookingDate.label']}"
								sortBy="#{transfer.bookingDate}" styleClass="TexAlCenter Wid10">
								<h:outputText value="#{transfer.bookingDate}">
									<f:convertDateTime dateStyle="short" type="date" />
								</h:outputText>
							</p:column>
							
							<p:column
								headerText="#{i18n['bankTransfer.amount.label']} #{publicViewController.currencySymbol}"
								styleClass="TexAlRight Wid10">
								<h:outputText
									value="#{of:formatNumber(transfer.amount,'#,##0.00')}" />
							</p:column>
							
							<p:column headerText="#{i18n['bankTransfer.bookingNo.label']}"
								styleClass="Wid15 WWbreak">
								<h:outputText value="#{transfer.bookingNo}" />
							</p:column>
							
							<p:column headerText="#{i18n['bankTransfer.referenceNo.label']}"
								styleClass="TexAlCenter Wid10">
								<h:outputText value="#{transfer.referenceNo}" />
							</p:column>
							
							<p:column headerText="#{i18n['bankTransfer.bookingText.label']}"
								styleClass="Wid30 WWbreak">
								<h:outputText value="#{transfer.bookingText}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
				
				<div class="Container100 Responsive100 Flex">
					<div class="DispBlock OvHidden">
						<h:form>
							<p:commandButton icon="#{TagAttribute.ICON_SAVE} white"
								value="#{i18n['action.save.name']}"
								process="@this"
								update="@widgetVar(billings),@widgetVar(transfers)"
								actionListener="#{paymentViewController.doSave}" />
						</h:form>
					</div>
				</div>
			</div>
		</div>
		<!-- 1ST ROW END -->

	</ui:define>

</ui:composition>