<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui">

	<h:outputStylesheet>
		@media print {
			body {
			    background-color: transparent !important;
			}			
			body * {
				visibility: hidden;
			}
			#billingReceiptBox {
				display: table;
			}
			.billingReceiptPrint {
				margin-top: -12px;
				margin-left: 12px;
				visibility: visible;
				position: absolute;
				top: 0;
				left: 0;
				width: 210mm; 
			}
			.billingReceiptPrint * {
				visibility: visible;
			}
		}
		
		@page {
			size: A4;
			margin-top: 40px;
			margin-left: 16px;
		}
	</h:outputStylesheet>

	<h:outputScript name="js/jquery-qrcode-0.14.0.min.js" target="head" />

	<div id="billingReceiptBox" class="layout-main-content DispNone">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card" style="overflow: visible">
					<p:panelGrid columns="12" layout="grid"
						styleClass="ui-panelgrid-blank billingReceiptDoPrint">
						<p:outputPanel>
							<p:commandButton icon="#{TagAttribute.ICON_PRINT}" type="button"
								onclick="onClickBillingReceiptPrint()"
								rendered="#{not selectedBilling.new}" />
						</p:outputPanel>
						<p:commandButton icon="#{TagAttribute.ICON_BACK}" type="button"
							onclick="onClickBillingReceiptBack()" />

						<!-- TODO WQ -->
						<p:outputPanel />
						<h:form rendered="#{userViewController.specialUser}">
							<p:outputPanel>
								<p:commandLink value="PDF Testdruck"
									process="@this" update="billingForm" ajax="false"
									action="#{billingPrintController.doCreatePdf}" />
							</p:outputPanel>
						</h:form>
						<!-- -->
					</p:panelGrid>

					<p:outputPanel class="billingReceiptPrint" style="height: 293mm">
						<div style="height: 100%; position: relative">
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
								style="margin-left: auto; margin-right: auto">
								<p:panelGrid columns="2" styleClass="ui-panelgrid-blank Wid100"
									columnClasses="ui-grid-col-8 TexAlLeft,ui-grid-col-4 TexAlRight">
									<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100"
										columnClasses="NoPad">
										<h:outputText value="#{usermetaContext.billingCompany}"
											styleClass="Fs20" />

										<h:outputText value="#{usermetaContext.billingFullname}" />

										<p:panelGrid columns="2"
											styleClass="ui-panelgrid-blank Wid100"
											columnClasses="NoPad,NoPad">
											<p:outputPanel>
												<h:outputText
													value="#{usermetaContext.billingAddressStreet1}"
													styleClass="Fs14" />
											</p:outputPanel>
											<p:outputPanel styleClass="WSnowrap">
												<h:outputText
													styleClass="#{TagAttribute.ICON_PHONE} fa-fw Fs14"
													rendered="#{not empty usermetaContext.billingPhone}" />
												<h:outputText
													value="&#160;&#160;#{usermetaContext.billingPhone}"
													styleClass="Fs14" />
											</p:outputPanel>

											<p:outputPanel>
												<h:outputText
													value="#{usermetaContext.billingAddressPostcode}&#160;"
													styleClass="Fs14" />
												<h:outputText value="#{usermetaContext.billingAddressCity}" />
											</p:outputPanel>
											<p:outputPanel styleClass="WSnowrap">
												<h:outputText
													styleClass="#{TagAttribute.ICON_EMAIL} fa-fw Fs14"
													rendered="#{not empty usermetaContext.billingEmail}" />
												<h:outputText
													value="&#160;&#160;#{usermetaContext.billingEmail}"
													styleClass="Fs14" />
											</p:outputPanel>
										</p:panelGrid>

										<div class="EmptyBox5"></div>
										<div class="EmptyBox90"></div>

										<p:panelGrid columns="1"
											styleClass="ui-panelgrid-blank Wid100"
											style="margin-left: 30px" columnClasses="NoPad">
											<p:outputPanel styleClass="Fs20"
												rendered="#{empty selectedBilling.seriesDocumentation}">
												<h:outputText value="&#160;" />
											</p:outputPanel>
											<p:outputPanel styleClass="Fs20"
												rendered="#{not empty selectedBilling.seriesDocumentation}">
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.title}&#160;"
													rendered="#{not empty selectedBilling.seriesDocumentation.client.title}" />
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.firstname}&#160;"
													rendered="#{not empty selectedBilling.seriesDocumentation.client.firstname}" />
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.lastname}" />
											</p:outputPanel>

											<div class="EmptyBox10"></div>

											<p:outputPanel
												rendered="#{empty selectedBilling.seriesDocumentation}">
												<h:outputText value="&#160;" />
											</p:outputPanel>
											<p:outputPanel
												rendered="#{not empty selectedBilling.seriesDocumentation}">
												<h:outputText value="&#160;"
													rendered="#{empty selectedBilling.seriesDocumentation.client.address.street}" />
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.address.street}"
													rendered="#{not empty selectedBilling.seriesDocumentation.client.address.street}" />
											</p:outputPanel>

											<p:outputPanel
												rendered="#{empty selectedBilling.seriesDocumentation}">
												<h:outputText value="&#160;" />
											</p:outputPanel>
											<p:outputPanel
												rendered="#{not empty selectedBilling.seriesDocumentation}">
												<h:outputText value="&#160;"
													rendered="#{empty selectedBilling.seriesDocumentation.client.address.postcode}" />
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.address.postcode}&#160;"
													rendered="#{not empty selectedBilling.seriesDocumentation.client.address.postcode}" />
												<h:outputText value="&#160;"
													rendered="#{empty selectedBilling.seriesDocumentation.client.address.city}" />
												<h:outputText
													value="#{selectedBilling.seriesDocumentation.client.address.city}"
													rendered="#{not empty selectedBilling.seriesDocumentation.client.address.city}" />
											</p:outputPanel>
										</p:panelGrid>
									</p:panelGrid>

									<p:graphicImage value="#{configContext.logoUrl}"
										style="max-width: 140px" />
								</p:panelGrid>

								<p:outputPanel>
									<div class="EmptyBox5"></div>
									<div class="EmptyBox60"></div>
									<div>_</div>
									<div class="EmptyBox20"></div>

									<div class="BGlightGray BillingBorder">
										<p:panelGrid columns="3"
											styleClass="ui-panelgrid-blank Wid100"
											columnClasses="TexAlLeft,TexAlCenter,TexAlRight">
											<p:outputPanel style="padding-left: 6px">
												<h:outputText
													value="#{i18n['billing.receipt.referenceNo.label']}:&#160;"
													styleClass="Fs16" />
												<h:outputText value="#{selectedBilling.referenceNo}"
													styleClass="Fs16 " />
											</p:outputPanel>

											<p:outputPanel>
												<h:outputText value="BARBELEG" styleClass="Fs24" />
											</p:outputPanel>

											<p:outputPanel style="padding-right: 6px">
												<h:outputText
													value="#{i18n['billing.billingDateDay.label']}:&#160;"
													styleClass="Fs16" />
												<h:outputText value="#{selectedBilling.billingDate}"
													styleClass="Fs16">
													<f:convertDateTime dateStyle="short" timeStyle="short" type="both" />
												</h:outputText>
											</p:outputPanel>
										</p:panelGrid>
									</div>

									<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
										<p:outputPanel styleClass="Fs14"
											rendered="#{not empty selectedBilling.headerNote}">
											<div class="EmptyBox10"></div>
											<h:outputText value="#{selectedBilling.headerNote}"
												escape="false" />
										</p:outputPanel>
									</p:panelGrid>

									<div class="EmptyBox10"></div>

									<p:panelGrid styleClass="Wid100 ui-panelgrid-blank">
										<f:facet name="header">
											<p:row style="border: none;">
												<p:column styleClass="panelHeader TexAlLeft">
													<h:outputText styleClass="FontBold" value="Position" />
												</p:column>
												<p:column styleClass="panelHeader TexAlLeft">
													<h:outputText styleClass="FontBold" value="Bezeichnung" />
												</p:column>
												<p:column styleClass="panelHeader TexAlCenter">
													<h:outputText styleClass="FontBold" value="Anzahl" />
												</p:column>
												<p:column styleClass="panelHeader TexAlRight">
													<h:outputText styleClass="FontBold" value="Preis" />
												</p:column>
												<p:column styleClass="panelHeader TexAlRight">
													<h:outputText styleClass="FontBold" value="MwSt" />
												</p:column>
												<p:column styleClass="panelHeader TexAlRight">
													<h:outputText styleClass="FontBold" value="Betrag" />
												</p:column>
											</p:row>

										</f:facet>

										<p:row>
											<p:column colspan="6" styleClass="panelHeader">
												<p:separator></p:separator>
											</p:column>
										</p:row>
										
										<c:forEach items="#{selectedBilling.billingItems}"
											var="billingItem" varStatus="loop">
											<p:row>
												<p:column styleClass="Fs14 TexAlLeft">
													#{loop.index+1}
												</p:column>

												<p:column styleClass="Fs14">
							                     	#{billingItem.subject}
							                    </p:column>

												<p:column styleClass="Fs14 TexAlCenter">
													#{billingItem.quantity}
							                    </p:column>

												<p:column styleClass="Fs14 TexAlRight WSnowrap">
							                        #{of:formatNumber(billingItem.amount,'#,##0.00')}&#160;#{publicViewController
							                        	.currencySymbol}
							                    </p:column>

												<p:column styleClass="Fs14 TexAlRight WSnowrap">
							                        #{billingItem.vat}<h:outputText
														value="#{not empty billingItem.vat ? ' %' : ''}" />
												</p:column>

												<p:column styleClass="Fs14 TexAlRight WSnowrap">
							                        #{of:formatNumber(billingItem.total,'#,##0.00')}&#160;#{publicViewController
							                        	.currencySymbol}
												</p:column>
											</p:row>
										</c:forEach>

										<p:row>
											<p:column colspan="7">
												<p:separator />
											</p:column>
										</p:row>

										<p:row style="margin-top: 10px">
											<p:column colspan="5" style="font-weight: bold"
												styleClass="TexAlRight">
						                       	#{i18n['billing.total.label']}
						                    </p:column>
											<p:column styleClass="TexAlRight WSnowrap"
												style="font-weight: bold">
						                       	#{of:formatNumber(selectedBilling.total,'#,##0.00')}&#160;#{publicViewController
						                       		.currencySymbol}
						                    </p:column>
										</p:row>
									</p:panelGrid>

									<p:outputPanel rendered="#{selectedBilling.sumVat20 > 0}">
										<div class="EmptyBox10"></div>

										<p:panelGrid styleClass="Wid80">
											<p:row>
												<p:column>
													<h:outputText value="#{i18n['billingItem.vat.label']}"
														styleClass="Fs14" />
												</p:column>
												
												<p:column styleClass="Fs14 TexAlCenter Wid20">
							                    	20 %
							                    </p:column>
												
												<p:column styleClass="Fs14 TexAlRight">
							                    	#{of:formatNumber(selectedBilling.sumVat20,'#,##0.00')}&#160;#{publicViewController
							                    		.currencySymbol}
							                    </p:column>
												
												<p:column styleClass="Fs14 TexAlRight WSnowrap">
							                       	#{of:formatNumber(selectedBilling.sumVat20/6,'#,##0.00')}&#160;#{publicViewController
							                       		.currencySymbol}
							                    </p:column>
											</p:row>
										</p:panelGrid>
									</p:outputPanel>

									<div class="EmptyBox10"></div>

									<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
										<p:outputPanel styleClass="Fs14"
											rendered="#{not empty selectedBilling.footerNote}">
											<div class="EmptyBox10"></div>
											<h:outputText value="#{selectedBilling.footerNote}"
												escape="false" />
										</p:outputPanel>
									</p:panelGrid>
								</p:outputPanel>
							</p:panelGrid>

							<div
								style="position: absolute; bottom: 0; left: 0; margin-bottom: -8px">
								<p:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">
									<p:outputPanel>
										<input id="billingSignature" type="hidden" value="#{selectedBilling.billingSignature.ftReceiptSignature}"></input>
										<div id="billingQRCode"></div>
									</p:outputPanel>

									<p:outputPanel styleClass="Fs16"
										rendered="#{not empty configContext.billingBankAccountIban}">
										<h:outputText value="#{i18n['bankAccount.label']}:&#160;" />
										<h:outputText
											value="#{configContext.billingBankAccountBankname}&#160;" />
										<h:outputText value="#{configContext.billingBankAccountIban}" />
										<ui:fragment
											rendered="#{not empty configContext.billingBankAccountBic}">
											<h:outputText
												value=",&#160;#{i18n['bankAccount.bic.label']}:&#160;" />
											<h:outputText value="#{configContext.billingBankAccountBic}" />
										</ui:fragment>
									</p:outputPanel>
								</p:panelGrid>
							</div>
						</div>

						<div id="billingPrintReady"></div>
					</p:outputPanel>
				</div>
			</div>
		</div>
	</div>

	<h:outputScript>
		//<![CDATA[		
	    function onStartBillingReceiptPrint() {
			var $printReady = $('#billingPrintReady');
			$printReady.remove();
	    }
	    
	    function onCompleteBillingReceiptPrint(xhr,status,args) {
			if (args.validationFailed === true) {
				return;
			}

			var signature = $('#billingSignature').val();
			if (signature && signature !== '') {
				$('#billingQRCode').qrcode({text: signature});
			}
			
			if (#{configContext.billingShowPreview}) {
	        	$('.layout-main-content:not(#billingReceiptBox)').addClass('DispNone');
	        	$('#billingReceiptBox').removeClass('DispNone');
	        	return;
	        }			
			
			var i = 9;
			var countdown = setInterval(function() {
				var $printReady = $('#billingPrintReady');
				if ($printReady.length || i === 0) {
	            	clearInterval(countdown);
	            	window.print();
	            } else {
	            	i--;
	            }
		    },150);
	    }
	    
		function onClickBillingReceiptPrint(back) {
			window.print();
		}

		function onClickBillingReceiptBack() {
	        $('#billingReceiptBox').addClass('DispNone');
	        $('.layout-main-content:not(#billingReceiptBox)').removeClass('DispNone');
		}
		//]]>
	</h:outputScript>

</ui:composition>