<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{billingReceiptViewController.init}"
				onPostback="false" />
		</f:metadata>

		<ui:include src="billingView.xhtml">
			<ui:param name="billingViewController"
				value="#{billingReceiptViewController}" />
		</ui:include>
	</ui:define>

</ui:composition>