<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<ui:include src="billingList.xhtml">
			<ui:param name="billingListController"
				value="#{billingReceiptListController}" />
		</ui:include>
	</ui:define>

</ui:composition>