<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view locale="#{publicViewController.locale}">
	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<meta name="viewport"
				content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
		</f:facet>
		<title>Synaptos Smart Therapy</title>
		<link rel="shortcut icon" type="image/x-icon"
			href="#{resource['/images/synaptos-logo-s.ico']}" />
		<!-- Custom JS Scripts -->
		<h:outputScript name="js/ripple.js" />
	</h:head>

	<h:body styleClass="exception-body access-page">
		<div class="exception-top">
			<p:graphicImage name="images/icon-access.png"
				library="poseidon-layout" />
		</div>

		<div class="exception-bottom">
			<div class="exception-wrapper">
				<span class="exception-summary">Kein Zugriff</span> <span
					class="exception-detail">Sie haben nicht die erforderliche
					Berechtigung, um diese Seite aufzurufen. Für weitere Fragen steht
					Ihnen der Support gerne zur Verfügung.</span>

				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-panelgrid-blank">
					<p:button icon="fa fa-home" value="PatientInnen"
						styleClass="black-btn" style="margin-bottom: 0"
						outcome="/pages/patient/select.jsf"></p:button>
					<p:button icon="fa fa-external-link" value="Synaptos"
						styleClass="black-btn" href="https://www.synaptos.at" />
				</p:panelGrid>

				<span class="exception-footer">v#{publicViewController.version}</span>
			</div>
		</div>

		<!-- Poseidon Layout CSS -->
		<h:outputStylesheet
			name="css/layout-#{guestPreferences.themeColor}.css"
			library="poseidon-layout" />

		<!-- Custom Layout CSS -->
		<h:outputStylesheet name="css/ripple.css" />
		<h:outputStylesheet
			name="css/overrides-#{guestPreferences.themeColor}.css" />
	</h:body>
</f:view>

</html>