<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/login.xhtml">

	<ui:define name="content">
		<div class="login-panel-content">
			<ui:include src="/pages/start/loginForm.xhtml"/>
		</div>
	</ui:define>

</ui:composition>