<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/login.xhtml">

	<ui:define name="content">
		<div class="login-panel-content">
			<p style="color: red; margin-bottom: 20px;">Benutzername oder
				Passwort sind falsch. Bitte überprüfen Sie Ihre Eingaben.</p>
			<ui:include src="/pages/start/loginForm.xhtml" />
		</div>
	</ui:define>

</ui:composition>