<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	template="/templates/default.xhtml">

	<ui:define name="title">
		<h:outputText value="Behandlungserien" />
	</ui:define>

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{seriesDashboardController.init}"
				onPostback="false" />
		</f:metadata>

		<div class="layout-main-content">
			<div class="ui-g ui-fluid">
				<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
					<div class="card NoPad">
						<div
							class="ui-g-12 ui-g-nopad #{selectedClient.textKeyForGender('BGgender-','')}">
							<div class="white">
								<h:form>
									<div class="ui-g-3 TexAlCenter">
										<p:graphicImage
											value="#{resource[selectedClient.textKeyForGender('/images/avatar/Avatar-','.png')]}"
											rendered="#{not empty selectedClient.gender}" />
									</div>
									<div class="ui-g-7 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText value="#{selectedClient.fullname}"
												styleClass="Fs24 WWbreak" />
										</p:outputPanel>
									</div>
									<div class="ui-g-2">
										<p:outputPanel style="padding: 8px">
											<p:commandLink ajax="false"
												action="#{seriesDashboardController.doEditClient}">
												<p:outputPanel styleClass="DivBorder HoverEffect white">
													<h:outputText styleClass="#{TagAttribute.ICON_EDIT}" />
												</p:outputPanel>
											</p:commandLink>
										</p:outputPanel>
									</div>
								</h:form>
							</div>
						</div>

						<div class="ui-g-12">
							<h:form id="editClientContactNote">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank"
									columnClasses="ui-grid-col-2 TexAlRight,ui-grid-col-10 TexAlLeft">
									<h:outputText
										styleClass="#{TagAttribute.ICON_BIRTH_DATE} fa-fw Fs18"
										rendered="#{not empty selectedClient.birthDate}" />
									<p:outputPanel rendered="#{not empty selectedClient.birthDate}">
										<h:outputText value="#{selectedClient.birthDate}"
											rendered="#{not empty selectedClient.birthDate}">
											<f:convertDateTime dateStyle="short" type="date" />
										</h:outputText>
										<h:outputText value="&#160;&#160;(#{selectedClient.age})" />
									</p:outputPanel>

									<h:outputText
										styleClass="#{TagAttribute.ICON_PHONE} fa-fw Fs18"
										rendered="#{not empty selectedClient.phone}" />
									<h:outputText value="#{selectedClient.phone}"
										rendered="#{not empty selectedClient.phone}" />

									<h:outputText
										styleClass="#{TagAttribute.ICON_HEALTH_INSURANCE} fa-fw Fs18"
										rendered="#{not empty selectedClient.healthInsuranceNo}" />
									<h:outputText
										value="#{selectedClient
											.healthInsurance.code}&#160;#{selectedClient.healthInsuranceNo}"
										rendered="#{not empty selectedClient.healthInsuranceNo}" />

									<h:outputText styleClass="#{TagAttribute.ICON_FLAG} fa-fw Fs18" />
									<p:commandLink value="Erinnerung bearbeiten"
										styleClass="FontBold Underline blue" process="@this"
										update=":seriesDocumentationEdit"
										rendered="#{empty selectedClient.contactNote}">
										<f:setPropertyActionListener
											target="#{seriesDashboardController.currentDialog}"
											value="clientContactNote.xhtml" />
									</p:commandLink>
									<p:commandLink process="@this"
										update=":seriesDocumentationEdit"
										rendered="#{not empty selectedClient.contactNote}">
										<p:outputPanel styleClass="DivBorder TexColor"
											rendered="#{not empty selectedClient.contactNote}">
											<h:outputText value="#{selectedClient.contactNote}"
												escape="false" />
										</p:outputPanel>
										<f:setPropertyActionListener
											target="#{seriesDashboardController.currentDialog}"
											value="clientContactNote.xhtml" />
									</p:commandLink>
								</p:panelGrid>
							</h:form>
						</div>
					</div>
				</div>

				<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
					<div class="card NoPad">
						<div class="ui-g-12 ui-g-nopad BGseries">
							<div class="white">
								<h:form id="editSeriesDocumentation">
									<div class="ui-g-3 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText
												styleClass="#{TagAttribute.ICON_PHYSICIAN} Fs40" />
										</p:outputPanel>
									</div>
									<div class="ui-g-7 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText value="Verordnung" styleClass="Fs24" />
										</p:outputPanel>
									</div>
									<div class="ui-g-2">
										<p:outputPanel style="padding: 8px">
											<p:commandLink process="@this"
												update=":seriesDocumentationEdit"
												disabled="#{empty selectedClient.selectedSeriesDocumentation
													or selectedClient.selectedSeriesDocumentation.invoiced}">
												<p:outputPanel styleClass="DivBorder HoverEffect white">
													<h:outputText styleClass="#{TagAttribute.ICON_EDIT}" />
												</p:outputPanel>
												<f:setPropertyActionListener
													target="#{seriesDashboardController.currentDialog}"
													value="seriesView.xhtml" />
											</p:commandLink>
										</p:outputPanel>
									</div>
								</h:form>
							</div>
						</div>

						<div class="ui-g-12">
							<h:form id="seriesDocumentationPanel">
								<p:outputPanel>
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="ui-grid-col-4 TexAlRight FontBold,
											ui-grid-col-8 TexAlLeft"
										rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
										<h:outputText
											value="#{i18n['seriesDocumentation.approvalDate.label']}" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation.approvalDate}">
											<f:convertDateTime dateStyle="short" type="date" />
										</h:outputText>

										<h:outputText
											value="#{i18n['seriesDocumentation.medicalDiagnosis.label']}" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation
												.medicalDiagnosis}"
											escape="false" />

										<h:outputText
											value="#{i18n['sessionDocumentations.label']} bisher" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation
												.sessionDocumentations.size()}" />
									</p:panelGrid>
								</p:outputPanel>
							</h:form>
						</div>
					</div>
				</div>
			</div>

			<div class="ui-g ui-fluid">
				<div class="ui-g-12">
					<div class="card">
						<h:form id="seriesDocumentationForm">
							<p:panelGrid columns="4" layout="grid"
								styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
								columnClasses="ui-grid-col-7,ui-grid-col-1,ui-grid-col-1,ui-grid-col-3">
								<p:outputPanel>
									<h:outputText value="#{i18n['sessionDocumentations.label']}"
										styleClass="Fs20" />
								</p:outputPanel>

								<p:outputPanel>
									<p:commandButton icon="#{TagAttribute.ICON_BILLING} Fs20"
										styleClass="addInvoice" process="@this" ajax="false"
										action="#{seriesDashboardController.doAddInvoice}"
										rendered="#{not (empty selectedClient.selectedSeriesDocumentation or selectedClient
											.selectedSeriesDocumentation.invoiced)}" />
								</p:outputPanel>

								<p:outputPanel>
									<p:commandButton
										icon="fa #{empty seriesDashboardController.timelineModel
											? 'fa-align-left' : 'fa-folder-open'}"
										process="@this"
										update="@this,@(.addSessionDocumentation),sessionsPanel"
										actionListener="#{seriesDashboardController.doToggleSessionsView}"
										rendered="#{not empty selectedClient.selectedSeriesDocumentation and selectedClient
											.selectedSeriesDocumentation.sessionDocumentations.size() gt 0}" />
								</p:outputPanel>

								<p:commandButton icon="#{TagAttribute.ICON_ADD}"
									value="Neuer Termin" styleClass="addSessionDocumentation"
									process="@this"
									update="@form,:editSeriesDocumentation,:seriesDocumentationPanel,
										@widgetVar(seriesDocumentations)"
									actionListener="#{seriesDashboardController.doAddSessionDocumentation}"
									disabled="#{not empty seriesDashboardController.timelineModel}"
									rendered="#{empty selectedClient.patientStatus or not selectedClient
										.selectedSeriesDocumentation.done}" />
							</p:panelGrid>

							<p:outputPanel id="sessionsPanel"
								rendered="#{not empty selectedClient.selectedSeriesDocumentation and selectedClient
									.selectedSeriesDocumentation.sessionDocumentations.size() gt 0}">
								<p:accordionPanel widgetVar="sessionDocumentations"
									value="#{selectedClient.selectedSeriesDocumentation.sessionDocumentations}"
									var="sessionDocumentation" dynamic="true" cache="true"
									activeIndex="#{seriesDashboardController.sessionDocumentationActiveIndex}"
									rendered="#{empty seriesDashboardController.timelineModel}">
									<p:tab>
										<f:facet name="title">
											<p:panelGrid columns="3" layout="grid"
												styleClass="ui-panelgrid-blank"
												columnClasses="ui-grid-col-2 TexAlLeft,ui-grid-col-8,
													ui-grid-col-2 TexAlRight">
												<p:outputPanel
													style="position: absolute; top: calc(50% - 16px)">
													<h:outputText value="#{sessionDocumentation.startDate}"
														styleClass="Fs24 FontBold#{seriesDashboardController
															.styleClassForSessionOnTimeline(sessionDocumentation,' ')}">
														<f:convertDateTime type="date" pattern="dd.MM." />
													</h:outputText>
												</p:outputPanel>

												<p:panelGrid columns="1" layout="grid"
													styleClass="ui-panelgrid-blank ui-panelgrid-nopad">
													<p:outputPanel>
														<h:outputText
															value="#{sessionDocumentation.primaryServiceDocumentations}"
															styleClass="Fs24 FontBold" />
													</p:outputPanel>
													<p:outputPanel style="padding-bottom: 2px">
														<h:outputText
															value="#{sessionDocumentation.plainSessionText}" />
													</p:outputPanel>
												</p:panelGrid>

												<p:outputPanel
													style="position: absolute; top: calc(50% - 17px); right: 12px">
													<p:panelGrid columns="3" layout="grid"
														styleClass="ui-panelgrid-blank ui-panelgrid-nopad">
														<p:commandLink ajax="false" process="@this"
															immediate="true"
															action="#{seriesDashboardController.doEditBodymap(sessionDocumentation)}"
															onclick="onClickStopPropagation(event)"
															rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
															<p:outputPanel styleClass="DivBorder HoverEffect red">
																<h:outputText styleClass="#{TagAttribute.ICON_BOLT}" />
															</p:outputPanel>
														</p:commandLink>

														<p:commandLink process="@this"
															update=":seriesDocumentationEdit"
															onclick="onClickStopPropagation(event)"
															rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
															<p:outputPanel styleClass="DivBorder HoverEffect">
																<h:outputText styleClass="#{TagAttribute.ICON_EDIT}" />
															</p:outputPanel>
															<f:setPropertyActionListener
																target="#{selectedClient.selectedSessionDocumentation}"
																value="#{sessionDocumentation}" />
															<f:setPropertyActionListener
																target="#{seriesDashboardController.currentDialog}"
																value="sessionDate.xhtml" />
														</p:commandLink>

														<p:commandLink process="@this"
															update="@form,:editSeriesDocumentation,:seriesDocumentationPanel,
																@widgetVar(seriesDocumentations)"
															actionListener="#{seriesDashboardController
																.doDeleteSessionDocumentation(sessionDocumentation)}"
															onclick="onClickStopPropagation(event)"
															rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
															<p:outputPanel styleClass="DivBorder HoverEffect red">
																<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
															</p:outputPanel>
														</p:commandLink>
													</p:panelGrid>
												</p:outputPanel>
											</p:panelGrid>
										</f:facet>

										<div class="ui-g">
											<div class="ui-g-12 ui-md-6 ui-lg-6">
												<p:panelGrid columns="1" layout="grid"
													styleClass="ui-panelgrid-blank">
													<p:outputPanel>
														<p:outputLabel for="sessionText_sessionDocumentation"
															value="#{i18n['sessionDocumentation.sessionText.label']}&#160;"
															styleClass="FontBold" />
														<p:commandLink value="bearbeiten"
															styleClass="FontBold Underline blue" process="@this"
															update=":seriesDocumentationEdit"
															rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
															<f:setPropertyActionListener
																target="#{selectedClient.selectedSessionDocumentation}"
																value="#{sessionDocumentation}" />
															<f:setPropertyActionListener
																target="#{seriesDashboardController.currentDialog}"
																value="sessionText.xhtml" />
														</p:commandLink>
													</p:outputPanel>

													<p:outputPanel
														rendered="#{sessionDocumentation.seriesDocumentation.invoiced}">
														<p:outputPanel styleClass="DivBorder TexColor"
															rendered="#{not empty sessionDocumentation.sessionText}">
															<h:outputText
																value="#{sessionDocumentation.sessionText}"
																escape="false" />
														</p:outputPanel>
													</p:outputPanel>
													<p:commandLink process="@this"
														update=":seriesDocumentationEdit"
														rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
														<p:outputPanel styleClass="DivBorder HoverEffect green"
															style="border: 1px solid #c9cdd2; text-align: left; color: #5f666c !important"
															rendered="#{not empty sessionDocumentation.sessionText}">
															<h:outputText id="sessionText_sessionDocumentation"
																value="#{sessionDocumentation.sessionText}"
																escape="false" />
														</p:outputPanel>
														<f:setPropertyActionListener
															target="#{selectedClient.selectedSessionDocumentation}"
															value="#{sessionDocumentation}" />
														<f:setPropertyActionListener
															target="#{seriesDashboardController.currentDialog}"
															value="sessionText.xhtml" />
													</p:commandLink>

													<p:panelGrid columns="2" layout="grid"
														styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
														rendered="#{userViewController.specialUser}">
														<p:commandButton value="KPI"
															icon="#{TagAttribute.ICON_ADD}" styleClass="gray-btn"
															ajax="false" process="@this"
															action="#{seriesDashboardController.doEditKpi(sessionDocumentation)}"
															onclick="onClickStopPropagation(event)"
															disabled="#{sessionDocumentation.seriesDocumentation.invoiced}" />
														<p:commandButton value="Anamnese/Diagnose"
															icon="#{TagAttribute.ICON_ADD}" styleClass="gray-btn"
															ajax="false" process="@this"
															action="#{seriesDashboardController.doEditDiagnosis(sessionDocumentation)}"
															onclick="onClickStopPropagation(event)"
															disabled="#{sessionDocumentation.seriesDocumentation.invoiced}" />
														<p:commandButton value="#{i18n['findingsSheet.label']}"
															icon="#{TagAttribute.ICON_ADD}" styleClass="gray-btn"
															ajax="false" process="@this"
															action="#{seriesDashboardController.doEditFindingsSheet()}"
															onclick="onClickStopPropagation(event)"
															disabled="#{sessionDocumentation.seriesDocumentation.invoiced}" />	
														<p:commandButton value="#{i18n['findingsSheetLsp.label']}"
															icon="#{TagAttribute.ICON_ADD}" styleClass="gray-btn"
															ajax="false" process="@this"
															action="#{seriesDashboardController.doEditFindingsSheetLsp()}"
															onclick="onClickStopPropagation(event)"
															disabled="#{sessionDocumentation.seriesDocumentation.invoiced}" />
													</p:panelGrid>
												</p:panelGrid>
											</div>

											<div class="ui-g-12 ui-md-6 ui-lg-6">
												<p:panelGrid columns="2" layout="grid"
													styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
													columnClasses="TexAlLeft">
													<h:outputText value="Leistungen" styleClass="Fs18" />
													<p:commandButton icon="#{TagAttribute.ICON_ADD}"
														value="Neue Leistung" styleClass="gray-btn"
														process="@this"
														update="@widgetVar(serviceDocumentationAdd)"
														oncomplete="PF('serviceDocumentationAdd').show()"
														rendered="#{not sessionDocumentation.seriesDocumentation.invoiced}">
														<f:setPropertyActionListener
															target="#{selectedClient.selectedSessionDocumentation}"
															value="#{sessionDocumentation}" />
													</p:commandButton>
												</p:panelGrid>

												<p:dataTable
													value="#{sessionDocumentation.serviceDocumentations}"
													var="serviceDocumentation"
													rowKey="#{serviceDocumentation.id}"
													styleClass="serviceDocumentations" reflow="true"
													emptyMessage="#{i18n['emptyMessage.text']}">
													<p:column headerText="#{i18n['serviceType.name.label']}">
														<h:outputText
															value="#{serviceDocumentation.serviceType.name}" />
													</p:column>
													<p:column styleClass="Wid10">
														<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
															styleClass="gray-btn" process="@this"
															update="@(.addInvoice),@widgetVar(sessionDocumentations),
																@widgetVar(seriesDocumentations)"
															actionListener="#{seriesDashboardController.doDeleteServiceDocumentation(serviceDocumentation)}"
															rendered="#{not serviceDocumentation.sessionDocumentation.seriesDocumentation.invoiced}">
															<p:confirm icon="ui-icon-alert"
																header="#{i18n['itemAction.delete.CONFIRM.header']}"
																message="#{i18n['itemAction.delete.CONFIRM.text']}" />
														</p:commandButton>
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</p:tab>
								</p:accordionPanel>

								<p:timeline id="timeline"
									value="#{seriesDashboardController.timelineModel}"
									start="#{seriesDashboardController.timelineMinDate}"
									end="#{seriesDashboardController.timelineMaxDate}"
									selectable="false" unselectable="false" timeChangeable="false"
									rendered="#{not empty seriesDashboardController.timelineModel}">
								</p:timeline>
							</p:outputPanel>
						</h:form>

						<h:form id="seriesDocumentationEdit">
							<ui:include src="#{seriesDashboardController.currentDialog}" />
						</h:form>

						<h:form>
							<ui:include src="serviceDocumentationAdd.xhtml" />
						</h:form>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="card">
						<h:form>
							<ui:include src="serviceAttachmentAdd.xhtml" />
						</h:form>

						<h:form id="serviceAttachments">
							<p:panelGrid columns="4" layout="grid"
								styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
								columnClasses="TexAlLeft">
								<h:outputText value="Befunde/Dokumente" styleClass="Fs20" />
								<p:outputPanel />
								<p:outputPanel />
								<p:commandButton icon="#{TagAttribute.ICON_ADD}"
									value="Neuer Anhang" process="@this"
									update="@widgetVar(serviceAttachmentAdd)"
									oncomplete="PF('serviceAttachmentAdd').show()"
									rendered="#{not selectedClient.selectedSeriesDocumentation.invoiced}">
								</p:commandButton>
							</p:panelGrid>

							<ui:include src="seriesAttachmentList.xhtml" />
						</h:form>
					</div>
				</div>

				<div class="ui-g-12">
					<div class="card">
						<h:form>
							<p:panelGrid columns="1" layout="grid"
								styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad"
								columnClasses="TexAlLeft">
								<p:outputPanel style="margin-bottom: 8px">
									<h:outputText value="Behandlungsserien" styleClass="Fs20" />
								</p:outputPanel>
							</p:panelGrid>

							<ui:include src="seriesDocumentationList.xhtml" />
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<sc:editConfirmDialog />
	</ui:define>

</ui:composition>
