<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{findingsSheetController.init}"
				onPostback="false" />
		</f:metadata>

		<div class="layout-main-content">
			<h:form>
				<div class="ui-fluid">
					<div class="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
							<div class="card NoPad">
								<div
									class="ui-g-12 ui-g-nopad #{selectedClient
										.textKeyForGender('BGgender-','')}">
									<div class="white">
										<div class="ui-g-3 TexAlCenter">
											<p:graphicImage
												value="#{resource[selectedClient
												.textKeyForGender('/images/avatar/Avatar-','.png')]}"
												rendered="#{not empty selectedClient.gender}" />
										</div>
										<div class="ui-g-7 TexAlCenter">
											<p:outputPanel style="padding: 8px">
												<h:outputText value="#{selectedClient.fullname}"
													styleClass="Fs24 WWbreak" />
											</p:outputPanel>
										</div>
									</div>
								</div>

								<div class="ui-g-12">
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="ui-grid-col-2 TexAlRight,ui-grid-col-10 TexAlLeft">
										<h:outputText
											styleClass="#{TagAttribute.ICON_BIRTH_DATE} fa-fw Fs18"
											rendered="#{not empty selectedClient.birthDate}" />
										<p:outputPanel
											rendered="#{not empty selectedClient.birthDate}">
											<h:outputText value="#{selectedClient.birthDate}"
												rendered="#{not empty selectedClient.birthDate}">
												<f:convertDateTime dateStyle="short" type="date" />
											</h:outputText>
											<h:outputText value="&#160;&#160;(#{selectedClient.age})" />
										</p:outputPanel>

										<h:outputText
											styleClass="#{TagAttribute.ICON_PHONE} fa-fw Fs18"
											rendered="#{not empty selectedClient.phone}" />
										<h:outputText value="#{selectedClient.phone}"
											rendered="#{not empty selectedClient.phone}" />

										<h:outputText
											styleClass="#{TagAttribute.ICON_HEALTH_INSURANCE} fa-fw Fs18"
											rendered="#{not empty selectedClient.healthInsuranceNo}" />
										<h:outputText
											value="#{selectedClient
											.healthInsurance.code}&#160;#{selectedClient.healthInsuranceNo}"
											rendered="#{not empty selectedClient.healthInsuranceNo}" />
									</p:panelGrid>
								</div>
							</div>
						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
							<div class="card NoPad">
								<div class="ui-g-12 ui-g-nopad BGseries">
									<div class="white">
										<div class="ui-g-3 TexAlCenter">
											<p:outputPanel style="padding: 8px">
												<h:outputText
													styleClass="#{TagAttribute.ICON_PHYSICIAN} Fs40" />
											</p:outputPanel>
										</div>
										<div class="ui-g-7 TexAlCenter">
											<p:outputPanel style="padding: 8px">
												<h:outputText value="Verordnung" styleClass="Fs24" />
											</p:outputPanel>
										</div>
									</div>
								</div>

								<div class="ui-g-12">
									<p:outputPanel>
										<p:panelGrid columns="2" layout="grid"
											styleClass="ui-panelgrid-blank"
											columnClasses="ui-grid-col-4 TexAlRight FontBold,ui-grid-col-8 TexAlLeft"
											rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
											<h:outputText
												value="#{i18n['seriesDocumentation.approvalDate.label']}" />
											<h:outputText
												value="#{selectedClient.selectedSeriesDocumentation.approvalDate}">
												<f:convertDateTime dateStyle="short" type="date" />
											</h:outputText>

											<h:outputText
												value="#{i18n['seriesDocumentation.medicalDiagnosis.label']}" />
											<h:outputText
												value="#{selectedClient.selectedSeriesDocumentation.medicalDiagnosis}"
												escape="false" />

											<h:outputText
												value="#{i18n['sessionDocumentations.label']} bisher" />
											<h:outputText
												value="#{selectedClient.selectedSeriesDocumentation.sessionDocumentations.size()}" />
										</p:panelGrid>
									</p:outputPanel>
								</div>
							</div>
						</div>
					</div>

					<div class="ui-lg-12 ui-g-12">
						<div class="card NoPad ">
							<p:accordionPanel multiple="true" dynamic="false" cache="true"
								styleClass="NoToolbar">
								<!-- SUBJECTIV BEGIN -->
								<p:tab title="#{i18n['findingsSheet.subjectivFindings']}"
									titleStyleClass="FontBold">
									<div class="ui-g-12">
										<div class="card NoPad">
											<div class="EmptyBox10" />
											<p:panelGrid columns="1"
												styleClass="ui-panelgrid-blank Wid100">
												<h:panelGroup>
													<p:outputLabel
														value="#{i18n['findingsSheet.painAnamnesis']}"
														for="painAnamnese" styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.painAnamnesis.description']}"
														styleClass="Fs14" />
												</h:panelGroup>

												<sy:textEditor id="painAnamnese"
													widgetVar="painAnamneseText" styleClass="test"
													value="#{preparedFindingsSheet.painAnamnesis}"></sy:textEditor>
												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="specialIssues"
														value="#{i18n['findingsSheet.specialIssues']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.specialIssues.description']}"
														styleClass="Fs14" />
												</h:panelGroup>

												<sy:textEditor id="specialIssues"
													widgetVar="specialIssuesText"
													value="#{preparedFindingsSheet.specialIssues}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="anamnesisHistory"
														value="#{i18n['findingsSheet.anamnesisHistory']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.anamnesisHistory.description']}"
														styleClass="Fs14" />
												</h:panelGroup>

												<sy:textEditor id="anamnesisHistory"
													widgetVar="anamnesisHistoryText"
													value="#{preparedFindingsSheet.anamnesisHistory}"></sy:textEditor>
											</p:panelGrid>
										</div>
									</div>
								</p:tab>
								<!-- SUBJECTIV END -->

								<!-- OBJECTIV BEGIN -->
								<p:tab title="#{i18n['findingsSheet.objectivFindings']}"
									titleStyleClass="FontBold">
									<div class="ui-g-12">
										<div class="card NoPad">

											<div class="EmptyBox10" />
											<p:panelGrid columns="1"
												styleClass="ui-panelgrid-blank Wid100">
												<h:panelGroup>
													<p:outputLabel value="#{i18n['findingsSheet.presentPain']}"
														for="presentPain" styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.presentPain.description']}"
														styleClass="Fs14" />
												</h:panelGroup>

												<sy:textEditor id="presentPain" widgetVar="presentPainText"
													value="#{preparedFindingsSheet.presentPain}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="inspection"
													value="#{i18n['findingsSheet.inspection']}"
													styleClass="FontBold" />
												<sy:textEditor id="inspection" widgetVar="inspectionText"
													value="#{preparedFindingsSheet.inspection}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="palpation"
													value="#{i18n['findingsSheet.palpation']}"
													styleClass="FontBold" />
												<sy:textEditor id="palpation" widgetVar="palpationText"
													value="#{preparedFindingsSheet.palpation}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="functionalDemo"
													value="#{i18n['findingsSheet.functionalDemo']}"
													styleClass="FontBold" />
												<sy:textEditor id="functionalDemo"
													widgetVar="functionalDemoText"
													value="#{preparedFindingsSheet.functionalDemo}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="functionalExamination"
														value="#{i18n['findingsSheet.functionalExamination']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.functionalExamination.description']}"
														styleClass="Fs14" />
												</h:panelGroup>

												<sy:textEditor id="functionalExamination"
													widgetVar="functionalExaminationText"
													value="#{preparedFindingsSheet.functionalExamination}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="neurodynamicTest"
														value="#{i18n['findingsSheet.neurodynamicTest']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.neurodynamicTest.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="neurodynamicTest"
													widgetVar="neurodynamicTestText"
													value="#{preparedFindingsSheet.neurodynamicTest}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="specificMeasuring"
														value="#{i18n['findingsSheet.specificMeasuring']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.specificMeasuring.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="specificMeasuring"
													widgetVar="specificMeasuringText"
													value="#{preparedFindingsSheet.specificMeasuring}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="exclusionaryTest"
														value="#{i18n['findingsSheet.exclusionaryTest']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.exclusionaryTest.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="exclusionaryTest"
													widgetVar="exclusionaryTestText"
													value="#{preparedFindingsSheet.exclusionaryTest}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="neurologicalExamination"
														value="#{i18n['findingsSheet.neurologicalExamination']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.neurologicalExamination.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="neurologicalExamination"
													widgetVar="neurologicalExaminationText"
													value="#{preparedFindingsSheet.neurologicalExamination}"></sy:textEditor>
											</p:panelGrid>
										</div>
									</div>
								</p:tab>
								<!-- OBJECTIV END -->

								<!-- FBL BEGIN -->
								<p:tab title="#{i18n['findingsSheet.fbl']}"
									titleStyleClass="FontBold">
									<div class="ui-g-12">
										<div class="card NoPad">

											<div class="EmptyBox10" />
											<p:panelGrid columns="1"
												styleClass="ui-panelgrid-blank Wid100">
												<p:outputLabel
													value="#{i18n['findingsSheet.fblConstitution']}"
													for="fblConstitution" styleClass="FontBold" />
												<sy:textEditor id="fblConstitution"
													widgetVar="fblConstitutionText"
													value="#{preparedFindingsSheet.fblConstitution}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="fblStaticsOfSite"
													value="#{i18n['findingsSheet.fblStaticsOfSite']}"
													styleClass="FontBold" />
												<sy:textEditor id="fblStaticsOfSite"
													widgetVar="fblStaticsOfSiteText"
													value="#{preparedFindingsSheet.fblStaticsOfSite}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="fblStaticsOfFrontAndBack"
													value="#{i18n['findingsSheet.fblStaticsOfFrontAndBack']}"
													styleClass="FontBold" />
												<sy:textEditor id="fblStaticsOfFrontAndBack"
													widgetVar="fblStaticsOfFrontAndBackText"
													value="#{preparedFindingsSheet.fblStatusStaticsOfFrontAndBack}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="fblThrustLoad"
													value="#{i18n['findingsSheet.fblThrustLoad']}"
													styleClass="FontBold" />
												<sy:textEditor id="fblThrustLoad"
													widgetVar="fblThrustLoadText"
													value="#{preparedFindingsSheet.fblThrustLoad}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="fblReactiveHypertons"
													value="#{i18n['findingsSheet.fblReactiveHypertons']}"
													styleClass="FontBold" />
												<sy:textEditor id="fblReactiveHypertons"
													widgetVar="fblReactiveHypertonsText"
													value="#{preparedFindingsSheet.fblReactiveHypertons}"></sy:textEditor>

												<div class="EmptyBox20" />

												<h:panelGroup>
													<p:outputLabel for="fblMotionBehaviour"
														value="#{i18n['findingsSheet.fblMotionBehaviour']}"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.fblMotionBehaviour.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="fblMotionBehaviour"
													widgetVar="fblMotionBehaviourText"
													value="#{preparedFindingsSheet.fblMotionBehaviour}"></sy:textEditor>
											</p:panelGrid>
										</div>
									</div>
								</p:tab>
								<!-- FBL END -->

								<!-- INTERPRETATION BEGIN -->
								<p:tab title="#{i18n['findingsSheet.interpretationHypothesis']}"
									titleStyleClass="FontBold">
									<div class="ui-g-12">
										<div class="card NoPad">
											<div class="EmptyBox10" />
											<p:panelGrid columns="1"
												styleClass="ui-panelgrid-blank Wid100">
												<p:outputLabel
													value="#{i18n['findingsSheet.interpretationHypothesis']}"
													for="interpretationHypothesis" styleClass="FontBold" />
												<sy:textEditor id="interpretationHypothesis"
													widgetVar="interpretationHypothesisText"
													value="#{preparedFindingsSheet.interpretationHypothesis}"></sy:textEditor>
											</p:panelGrid>
										</div>
									</div>
								</p:tab>
								<!-- INTERPRETATION END -->

								<!-- PLANNED THERAPEUTICAL BEGIN -->
								<p:tab title="#{i18n['findingsSheet.therapyOutcome']}"
									titleStyleClass="FontBold">
									<div class="ui-g-12">
										<div class="card NoPad">
											<div class="EmptyBox10" />
											<p:panelGrid columns="1"
												styleClass="ui-panelgrid-blank Wid100">
												<h:panelGroup>
													<p:outputLabel
														value="#{i18n['findingsSheet.plannedTherapeuticalFunctionalOutcome']}"
														for="plannedTherapeuticalFunctionalOutcome"
														styleClass="FontBold" />
													<h:outputText
														value="&#160;&#160;#{i18n['findingsSheet.plannedTherapeuticalFunctionalOutcome.description']}"
														styleClass="Fs14" />
												</h:panelGroup>
												<sy:textEditor id="plannedTherapeuticalFunctionalOutcome"
													widgetVar="plannedTherapeuticalFunctionalOutcomeText"
													value="#{preparedFindingsSheet.plannedTherapeuticalFunctionalOutcome}"></sy:textEditor>

												<div class="EmptyBox20" />

												<p:outputLabel for="plannedTherapeuticalOutcomeAndMeasures"
													value="#{i18n['findingsSheet.plannedTherapeuticalOutcomeAndMeasures']}"
													styleClass="FontBold" />
												<sy:textEditor id="plannedTherapeuticalOutcomeAndMeasures"
													widgetVar="plannedTherapeuticalOutcomeAndMeasuresText"
													value="#{preparedFindingsSheet.plannedTherapeuticalOutcomeAndMeasures}"></sy:textEditor>
											</p:panelGrid>
										</div>
									</div>
								</p:tab>
								<!-- PLANNED THERAPEUTICAL END -->
							</p:accordionPanel>

							<div class="ui-g-12 ui-g-nopad card NoPad">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank PadLeft4 PadRight4">
									<p:commandButton value="#{i18n['action.save.name']}"
										icon="#{TagAttribute.ICON_SAVE}" styleClass="Wid100"
										process="@form" update="@form"
										actionListener="#{findingsSheetController.doSave}" />
									<p:commandButton value="#{i18n['action.back.name']}"
										icon="#{TagAttribute.ICON_BACK}" styleClass="Wid100"
										ajax="false" immediate="true"
										action="#{findingsSheetController.doBack}" />
								</p:panelGrid>
							</div>
						</div>
					</div>
				</div>
			</h:form>
		</div>

		<h:outputScript>
        //<![CDATA[


 	$(function() {


 		$('.ql-toolbar').parent().focusin(function(event){
 			clicked = $(event.target).parent().parent();
 			toolbar = clicked.children('.ql-toolbar');
 			toolbar.css("cssText", "display: block !important;");
 			console.debug($(event.target).parent().attr("id"));
 			console.debug(8);
 		});
 		
 		$('.ql-toolbar').parent().focusout(function(event){
 			clicked = $(event.target).parent().parent();
 			toolbar = clicked.children('.ql-toolbar');
 			toolbar.css("cssText", "display: none !important;");
 			console.debug($('.ql-toolbar').parent().attr("id"));
 		});
 		
 		
 		})
 		
		    
   		
			
        //]]>
		</h:outputScript>
	</ui:define>



</ui:composition>