<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:sy="http://at.synaptos.synapphys/jsf/facelets"
	xmlns:sc="http://java.sun.com/jsf/composite/cc/crud"
	xmlns:ez="http://java.sun.com/jsf/composite/spinner"
	template="/templates/default.xhtml">

	<ui:define name="content">

		<f:metadata>
			<f:viewAction action="#{findingsLspController.init()}"
				onPostback="false" />
		</f:metadata>
		<div class="layout-main-content">
			<h:form>
				<div class="ui-fluid ui-g">
					<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
						<div class="card NoPad">
							<div
								class="ui-g-12 ui-g-nopad #{selectedClient
								.textKeyForGender('BGgender-','')}">
								<div class="white">
									<div class="ui-g-3 TexAlCenter">
										<p:graphicImage
											value="#{resource[selectedClient
												.textKeyForGender('/images/avatar/Avatar-','.png')]}"
											rendered="#{not empty selectedClient.gender}" />
									</div>
									<div class="ui-g-7 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText value="#{selectedClient.fullname}"
												styleClass="Fs24 WWbreak" />
										</p:outputPanel>
									</div>
								</div>
							</div>

							<div class="ui-g-12">
								<p:panelGrid columns="2" layout="grid"
									styleClass="ui-panelgrid-blank"
									columnClasses="ui-grid-col-2 TexAlRight,ui-grid-col-10 TexAlLeft">
									<h:outputText
										styleClass="#{TagAttribute.ICON_BIRTH_DATE} fa-fw Fs18"
										rendered="#{not empty selectedClient.birthDate}" />
									<p:outputPanel rendered="#{not empty selectedClient.birthDate}">
										<h:outputText value="#{selectedClient.birthDate}"
											rendered="#{not empty selectedClient.birthDate}">
											<f:convertDateTime dateStyle="short" type="date" />
										</h:outputText>
										<h:outputText value="&#160;&#160;(#{selectedClient.age})" />
									</p:outputPanel>

									<h:outputText
										styleClass="#{TagAttribute.ICON_PHONE} fa-fw Fs18"
										rendered="#{not empty selectedClient.phone}" />
									<h:outputText value="#{selectedClient.phone}"
										rendered="#{not empty selectedClient.phone}" />

									<h:outputText
										styleClass="#{TagAttribute.ICON_HEALTH_INSURANCE} fa-fw Fs18"
										rendered="#{not empty selectedClient.healthInsuranceNo}" />
									<h:outputText
										value="#{selectedClient
											.healthInsurance.code}&#160;#{selectedClient.healthInsuranceNo}"
										rendered="#{not empty selectedClient.healthInsuranceNo}" />
								</p:panelGrid>
							</div>
						</div>
					</div>

					<div class="ui-g-12 ui-md-6 ui-lg-6 Flex">
						<div class="card NoPad">
							<div class="ui-g-12 ui-g-nopad BGseries">
								<div class="white">
									<div class="ui-g-3 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText
												styleClass="#{TagAttribute.ICON_PHYSICIAN} Fs40" />
										</p:outputPanel>
									</div>
									<div class="ui-g-7 TexAlCenter">
										<p:outputPanel style="padding: 8px">
											<h:outputText value="Verordnung" styleClass="Fs24" />
										</p:outputPanel>
									</div>
								</div>
							</div>

							<div class="ui-g-12">
								<p:outputPanel>
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="ui-grid-col-4 TexAlRight FontBold,
											ui-grid-col-8 TexAlLeft"
										rendered="#{not empty selectedClient.selectedSeriesDocumentation}">
										<h:outputText
											value="#{i18n['seriesDocumentation.approvalDate.label']}" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation.approvalDate}">
											<f:convertDateTime dateStyle="short" type="date" />
										</h:outputText>

										<h:outputText
											value="#{i18n['seriesDocumentation.medicalDiagnosis.label']}" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation
												.medicalDiagnosis}"
											escape="false" />

										<h:outputText
											value="#{i18n['sessionDocumentations.label']} bisher" />
										<h:outputText
											value="#{selectedClient.selectedSeriesDocumentation
												.sessionDocumentations.size()}" />
									</p:panelGrid>
								</p:outputPanel>
							</div>
						</div>
					</div>


					<div class="ui-lg-12 ui-g-12">
						<div class="card NoPad ">
							<p:accordionPanel multiple="true" dynamic="false" cache="true"
								styleClass="NoToolbar" activeIndex="">
								<p:tab title="Stand aktive Tests">
									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank" columnClasses="Wid70, Wid30">

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.extension']}"
											styleClass="FontBold" />
										<sc:spinner value="#{preparedFindingsLsp.activeTestExtension}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.flexion']}"
											styleClass="FontBold" />
										<sc:spinner value="#{preparedFindingsLsp.activeTestflexion}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.hwsFlexion']}"
											styleClass="FontBold" />
										<sc:spinner id="activeTestFlexHwsFlexion"
											value="#{preparedFindingsLsp.activeTestFlexHwsFlexion}" />
									</p:panelGrid>
									<div class="EmptyBox10" />
									<p:panelGrid columns="3" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="Wid60, Wid20 TexAlCenter, Wid20 TexAlCenter">
										<p:outputPanel />
										<h:outputText value="#{i18n['findingsSheetLsp.right']}"
											styleClass="FontBold" />
										<h:outputText value="#{i18n['findingsSheetLsp.left']}"
											styleClass="FontBold" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.lataralFlexion']}"
											styleClass="FontBold" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestFlexLataralRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestFlexLataralLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.toeStand']}"
											styleClass="FontBold" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestToeStandRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestToeStandLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.activeTests.heelWalk']}"
											styleClass="FontBold" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestHeelWalkRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.activeTestHeelWalkLeft}" />

									</p:panelGrid>
								</p:tab>

								<p:tab title="RL passive Tests">
									<p:panelGrid columns="3" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="Wid60 FontBold, Wid20 TexAlCenter, Wid20 TexAlCenter">
										<p:outputPanel />
										<h:outputText value="#{i18n['findingsSheetLsp.right']}"
											styleClass="FontBold" />
										<h:outputText value="#{i18n['findingsSheetLsp.left']}"
											styleClass="FontBold" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.passivTest.hipFlex']}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipFlexionRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipFlexionRight}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.passivTest.hipIr']}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipIrRight}" />
										<sc:spinner value="#{preparedFindingsLsp.passivTestHipIrLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.passivTest.hipAr']}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipArRight}" />
										<sc:spinner value="#{preparedFindingsLsp.passivTestHipArLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.passivTest.sigIlliaDorsal']}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipSigILiaDorsalRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestHipSigILiaDorsalLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.passivTest.slr']}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestStraightLegRaiseRight}" />
										<sc:spinner
											value="#{preparedFindingsLsp.passivTestStraightLegRaiseLeft}" />

									</p:panelGrid>
								</p:tab>

								<p:tab title="RL R-Tests">
									<p:panelGrid columns="3" layout="grid"
										styleClass="ui-panelgrid-blank"
										columnClasses="Wid60 FontBold, Wid20 TexAlCenter, Wid20 TexAlCenter">
										<p:outputPanel />
										<h:outputText value="#{i18n['findingsSheetLsp.right']}"
											styleClass="FontBold" />
										<h:outputText value="#{i18n['findingsSheetLsp.left']}"
											styleClass="FontBold" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.resistanceTest.m.psoas']}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestM_PsoasRight}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestM_PsoasLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.resistanceTest.m.tibialis.ant']}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestMT_ibialisAnteriorRight}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestMT_ibialisAnteriorLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.resistanceTest.m.ehl']}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestM_EhlRight}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestM_EhlLeft}" />

										<h:outputText
											value="#{i18n['findingsSheetLsp.resistanceTest.Mm.peronei']}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestMmPeroneiRight}" />
										<p:selectBooleanCheckbox
											value="#{preparedFindingsLsp.resistanceTestMmPeroneiLeft}" />
									</p:panelGrid>
								</p:tab>


							</p:accordionPanel>

							<p:panelGrid columns="2" layout="grid"
								styleClass="ui-panelgrid-blank PadLeft4 PadRight4">
								<p:commandButton value="#{i18n['action.save.name']}"
									icon="#{TagAttribute.ICON_SAVE}" styleClass="Wid100"
									process="@form" update="@form"
									actionListener="#{findingsLspController.doSave()}" />
								<p:commandButton value="#{i18n['action.back.name']}"
									icon="#{TagAttribute.ICON_BACK}" styleClass="Wid100"
									ajax="false" immediate="true"
									action="#{findingsLspController.doBack()}" />
							</p:panelGrid>
						</div>
					</div>
				</div>
			</h:form>
		</div>


	</ui:define>


</ui:composition>