<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog widgetVar="seriesDocumentationView" showHeader="false"
		modal="true" draggable="false" resizable="false" responsive="true"
		visible="true" positionType="absolute" position="center,top">
		<p:outputPanel style="padding: 10px">
			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:outputPanel>
					<p:calendar widgetVar="approvalDate_seriesDocumentationView"
						value="#{selectedClient.selectedSeriesDocumentation.approvalDate}"
						mode="inline" />
					<p:commandLink process="@this"
						update="@widgetVar(approvalDate_seriesDocumentationView)">
						<h:outputText styleClass="#{TagAttribute.ICON_DELETE}" />
						<f:setPropertyActionListener
							target="#{selectedClient.selectedSeriesDocumentation.approvalDate}"
							value="#{null}" />
					</p:commandLink>
				</p:outputPanel>
				
				<p:textEditor
					widgetVar="medicalDiagnosis_seriesDocumentationView"
					value="#{selectedClient.selectedSeriesDocumentation.medicalDiagnosis}"
					maxlength="2000">
					<f:facet name="toolbar">
						<span class="ql-formats">
							<button class="ql-bold"></button>
							<button class="ql-italic"></button>
							<button class="ql-underline"></button>
							<button class="ql-strike"></button>
						</span>
						<span class="ql-formats"> <select class="ql-color"></select>
							<select class="ql-background"></select>
						</span>
						<span class="ql-formats">
							<button class="ql-script" value="sub"></button>
							<button class="ql-script" value="super"></button>
						</span>
						<span class="ql-formats">
							<button class="ql-list" value="ordered"></button>
							<button class="ql-list" value="bullet"></button>
							<button class="ql-indent" value="-1"></button>
							<button class="ql-indent" value="+1"></button>
						</span>
						<span class="ql-formats"> <p:button
								icon="fa fa-undo TexColor"
								onclick="PF('medicalDiagnosis_seriesDocumentationView').undo(); return false" />
							<p:button icon="fa fa-repeat TexColor"
								onclick="PF('medicalDiagnosis_seriesDocumentationView').redo(); return false" />
						</span>
						<span class="ql-formats">
							<button class="ql-clean"></button>
						</span>
					</f:facet>
				</p:textEditor>
			</p:panelGrid>
		</p:outputPanel>

		<f:facet name="footer">
			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
					value="#{i18n['action.save.name']}" process="@form"
					update=":seriesDocumentationForm,:seriesDocumentationPanel,
						@widgetVar(seriesDocumentations)"
					actionListener="#{seriesDashboardController.doSaveSeriesDocumentation}"
					oncomplete="PF('seriesDocumentationView').hide()" />
				<p:commandButton icon="#{TagAttribute.ICON_CANCEL}"
					value="#{i18n['action.cancel.name']}" type="button"
					onclick="PF('seriesDocumentationView').hide()" />
				<p:outputPanel />
			</p:panelGrid>
		</f:facet>
	</p:dialog>

</ui:composition>