<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dataTable widgetVar="serviceAttachments"
		value="#{selectedClient.selectedSeriesDocumentation.serviceAttachments}"
		var="serviceAttachment" rowKey="#{serviceAttachment.id}" reflow="true"
		emptyMessage="#{i18n['emptyMessage.text']}">
		<p:column headerText="#{i18n['updatedDate.label']}"
			styleClass="Wid20 TexAlCenter">
			<h:outputText value="#{serviceAttachment.updatedDate}">
				<f:convertDateTime dateStyle="short" type="both" />
			</h:outputText>
		</p:column>

		<p:column
			headerText="#{i18n['serviceAttachment.sourceFilename.label']}"
			styleClass="WWbreak">
			<h:outputText value="#{serviceAttachment.sourceFilename}" />
		</p:column>

		<p:column styleClass="Wid10">
			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:commandButton icon="#{TagAttribute.ICON_DELETE}"
					styleClass="gray-btn" process="@this"
					update="@widgetVar(serviceAttachments)"
					actionListener="#{seriesDashboardController.doDeleteServiceAttachment(serviceAttachment)}"
					rendered="#{not serviceAttachment.seriesDocumentation.invoiced}">
					<p:confirm icon="ui-icon-alert"
						header="#{i18n['itemAction.delete.CONFIRM.header']}"
						message="#{i18n['itemAction.delete.CONFIRM.text']}" />
				</p:commandButton>
				<p:commandButton icon="#{TagAttribute.ICON_DOWNLOAD}" ajax="false"
					immediate="true">
					<p:fileDownload
						value="#{seriesDashboardController.handleFileDownload(serviceAttachment)}" />
				</p:commandButton>
			</p:panelGrid>
		</p:column>
	</p:dataTable>

</ui:composition>