<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dataTable widgetVar="seriesDocumentations"
		value="#{selectedClient.seriesDocumentations}"
		var="seriesDocumentation" rowKey="#{seriesDocumentation.id}"
		emptyMessage="#{i18n['emptyMessage.text']}" reflow="true"
		selectionMode="single"
		selection="#{selectedClient.selectedSeriesDocumentation}">
		<p:ajax event="rowSelect"
			update=":seriesDocumentationForm,:editSeriesDocumentation,
				:seriesDocumentationPanel,:serviceAttachments"
			listener="#{seriesDashboardController.onRowSelectSeriesDocumentation}" />

		<p:ajax event="rowUnselect"
			update=":seriesDocumentationForm,:editSeriesDocumentation,
				:seriesDocumentationPanel,:serviceAttachments,@parent"
			listener="#{seriesDashboardController.onRowUnselectSeriesDocumentation}" />

		<p:column
			headerText="#{i18n['seriesDocumentation.approvalDate.label']}"
			styleClass="TexAlCenter">
			<h:outputText value="#{seriesDocumentation.approvalDate}">
				<f:convertDateTime dateStyle="short" type="date" />
			</h:outputText>
		</p:column>

		<p:column headerText="#{i18n['seriesDocumentation.doneDate.label']}"
			styleClass="TexAlCenter">
			<h:outputText value="#{seriesDocumentation.doneDate}">
				<f:convertDateTime dateStyle="short" type="date" />
			</h:outputText>
		</p:column>

		<p:column headerText="Termine" styleClass="TexAlCenter">
			<h:outputText
				value="#{seriesDocumentation.sessionDocumentations.size()}" />
		</p:column>

		<p:column headerText="Honorarnote" styleClass="TexAlCenter">
			<h:outputText value="#{seriesDocumentation.invoice.referenceNo}"
				rendered="#{not empty seriesDocumentation.invoice}" />
		</p:column>

		<p:column
			headerText="Betrag&#160;#{publicViewController.currencySymbol}"
			styleClass="TexAlCenter">
			<h:outputText
				value="#{of:formatNumber(seriesDocumentation.serviceTotal,'#,##0.00')}"
				rendered="#{empty seriesDocumentation.invoice}" />
			<h:outputText
				value="#{of:formatNumber(seriesDocumentation.invoice.total,'#,##0.00')}"
				rendered="#{not empty seriesDocumentation.invoice}" />
		</p:column>

		<p:column headerText="Status" styleClass="TexAlCenter">
			<h:outputText
				styleClass="fa fa-flag #{seriesDocumentation.invoice
					.billingStatus.flagStyleClass} Fs16"
				rendered="#{not empty seriesDocumentation.invoice}" />
		</p:column>
	</p:dataTable>

</ui:composition>