<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog widgetVar="serviceDocumentationAdd" showHeader="false"
		modal="true" draggable="false" resizable="false" responsive="true"
		positionType="absolute" position="center,top">
		<p:outputPanel style="padding: 4px 8px; width: 800px">
			<p:panelGrid columns="1" layout="grid"
				styleClass="ui-panelgrid-blank" columnClasses="TexAlCenter">
				<p:outputPanel styleClass="FontBold Fs20">
					<h:outputText value="#{sessionDocumentation.startDate}">
						<f:convertDateTime dateStyle="short" type="date" />
					</h:outputText>
				</p:outputPanel>

				<p:dataGrid value="#{seriesDashboardController.serviceTypes}"
					var="serviceType" columns="2" layout="grid">
					<p:commandLink process="@this"
						update="@(.addInvoice),@(.servicesHeader),@widgetVar(sessionDocumentations),
							@widgetVar(seriesDocumentations)"
						actionListener="#{seriesDashboardController.doAddServiceDocumentation(serviceType)}"
						oncomplete="PF('serviceDocumentationAdd').hide()">
						<p:panel
							styleClass="TexAlCenter BorderedBox HoverEffect WSnowrap OvHidden green">
							<p:panelGrid columns="1" layout="grid"
								styleClass="ui-panelgrid-blank">
								<h:outputText value="#{serviceType.code}"
									styleClass="Fs20 green"
									rendered="#{serviceType.category == ServiceTypeCategory.C10_THERAPY}" />

								<h:outputText value="#{serviceType.code}" styleClass="Fs20 gray"
									rendered="#{serviceType.category == ServiceTypeCategory.C20_ADMIN}" />

								<h:outputText value="#{serviceType.code}" styleClass="Fs20 blue"
									rendered="#{serviceType.category == ServiceTypeCategory.C30_PRODUCT}" />

								<h:outputText
									value="#{of:formatNumber(serviceType.amount,'#,##0.00')}&#160;#{publicViewController
										.currencySymbol}"
									style="color: black" />
							</p:panelGrid>
						</p:panel>
					</p:commandLink>
				</p:dataGrid>
			</p:panelGrid>
		</p:outputPanel>

		<f:facet name="footer">
			<p:panelGrid columns="4" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:commandButton value="#{i18n['action.cancel.name']}"
					icon="#{TagAttribute.ICON_CANCEL}" type="button"
					onclick="PF('serviceDocumentationAdd').hide()" />
			</p:panelGrid>
		</f:facet>
	</p:dialog>

</ui:composition>