<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog widgetVar="serviceAttachmentAdd" showHeader="false"
		modal="true" draggable="false" resizable="false" responsive="true"
		positionType="absolute" position="center,top">
		<p:outputPanel style="padding: 4px 8px; width: 800px">
			<p:panelGrid columns="1" layout="grid"
				styleClass="ui-panelgrid-blank" columnClasses="TexAlCenter">
				<p:fileUpload label="#{i18n['action.upload.name']}"
					update="@widgetVar(serviceAttachments)"
					fileUploadListener="#{seriesDashboardController.handleFileUpload}"
					mode="advanced" auto="true" dragDropSupport="true"
					sizeLimit="5120000" allowTypes="/(\.|\/)(gif|jpe?g|png|pdf)$/"
					invalidSizeMessage="#{i18n['fileUpload.fileSize.INVALID']}"
					invalidFileMessage="#{i18n['fileUpload.fileType.INVALID']}"
					oncomplete="PF('serviceAttachmentAdd').hide()" />
			</p:panelGrid>
		</p:outputPanel>

		<f:facet name="footer">
			<p:panelGrid columns="4" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:commandButton value="#{i18n['action.cancel.name']}"
					icon="#{TagAttribute.ICON_CANCEL}" type="button"
					onclick="PF('serviceAttachmentAdd').hide()" />
			</p:panelGrid>
		</f:facet>
	</p:dialog>

</ui:composition>