<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog widgetVar="sessionDocumentationEdit" showHeader="false"
		modal="true" draggable="false" resizable="false" responsive="true"
		visible="true" positionType="absolute" position="center,top">
		<p:outputPanel style="padding: 12px">
			<p:panelGrid columns="1" layout="grid"
				styleClass="ui-panelgrid-blank" columnClasses="TexAlCenter">
				<p:calendar widgetVar="startDate_sessionDocumentationEdit"
					value="#{selectedClient.selectedSessionDocumentation.startDate}" mode="inline">
				</p:calendar>
			</p:panelGrid>
		</p:outputPanel>

		<f:facet name="footer">
			<p:panelGrid columns="1" layout="grid"
				styleClass="ui-panelgrid-blank">
				<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
					value="#{i18n['action.save.name']}" process="@form"
					update="@form,@widgetVar(sessionDocumentations)"
					actionListener="#{seriesDashboardController.doSaveSessionDocumentation}"
					onstart="PF('sessionDocumentationEdit').hide()">
					<f:setPropertyActionListener
						target="#{seriesDashboardController.currentDialog}"
						value="#{null}" />
				</p:commandButton>
				<p:commandButton value="#{i18n['action.cancel.name']}"
					icon="#{TagAttribute.ICON_CANCEL}" process="@this" update="@form"
					onstart="PF('sessionDocumentationEdit').hide()">
					<f:setPropertyActionListener
						target="#{seriesDashboardController.currentDialog}"
						value="#{null}" />
				</p:commandButton>
			</p:panelGrid>
		</f:facet>
	</p:dialog>

</ui:composition>