/* Custom Layout Exceptions */

.exception-body {
	.exception-top {
    	background: url("\#{resource['/images/network.png']}") center left no-repeat #f7f7f7;
    	background-size: 100% auto;
	}    
}
