/* Custom Layout Login */

.login-body {
	background: none;

    .login-panel {
        height: 100vh;
        padding: 0 50px;                
	}
}
   
@media (min-width: 641px) {
    .login-body {
        background: url("\#{resource['/images/network.png']}") top left no-repeat;
        background-size: cover;
    }
}
