/* Custom Layout Main */

.NoToolbar{
	.ui-accordion-content{
		.ui-editor-toolbar{
			display: none !important;
			}
		.ql-toolbar.ql-snow + .ql-container.ql-snow{
				border: 1px solid #ccc !important;
			}
		}
	}

.ui-panelgrid{
	.ui-panelgrid-header{
		border: none;
		}
	.ui-panelgrid-cell{
		border: none !important;
		}
	}

.layout-wrapper {
	.topbar-left {
		padding: 0 !important;
	}
	
	.topbar-right {
		#menu-button {
			top: 0 !important;
		}
		
		#menu-client {
		    position: relative;
			display: inline-block;
		    vertical-align: middle;
		}
	}

	.layout-main {
    	padding: 75px 0 0 0;
		
		.routebar {
			border-top: 1px solid #c8cccf;	
    		padding-top: 5px !important;
		    @include border-shadow();
		}
	}
	
	.layout-menu {
		li {
			a {
	    		padding: 10px 16px !important;
			}
		}
	}
	
	.layout-menu-container {
	    padding-top: 1px;
	}
        
	.sticky-top {
	    background-color: #f0f3f5;
	    @include border-shadow();
		position: fixed;
	    z-index: 29;
	    width: 100%;
	}

	&.menu-layout-horizontal {
		.layout-menu-container {
			top: 73px;
		}
	}
}

.ui-selectonebutton {
    padding: 0;
}

.ui-button-icon-only .ui-icon {
    left: 50% !important;
}

.ql-editor {
    padding: 12px 12px;
}

.ql-container {
   	font-size: 16px !important;
}

body {
	p, ol, ul {
		margin: 0;
	}
	
	.ui-datatable {
	    a {
	    	&.ui-commandlink {
	        	color: $blue;
	        	text-decoration: underline !important;
		
		        &:hover {
		            color: lighten($blue, 10%);
		        }
			}
		}
	}
		
	.ui-dialog {
		background-color: transparent;
		border: none;
	    @include no-shadow();		
		
		.ui-dialog-content {
			> div:first-child {
				background-color: $white;
    		}
		}
		
		.ui-dialog-titlebar {
    		margin: 0 12px;
		}
			
		.ui-dialog-footer {
			background-color: transparent;
			border: none;
			margin-top: -4px;
			padding: 0 12px;
		    @include no-shadow();
		}

		&.ui-confirm-dialog {
			.ui-dialog-content {
				background-color: $white;

				> span {
    				line-height: 32px !important;
    				
    				&.ui-icon {
    					font-size: 32px;
    				    width: 32px;
    				    height: 32px;
    				    padding-right: 10px;
    				}
				}
			}

			.ui-dialog-buttonpane {
				button {
    				margin: 6px 6px 0 0;
				}
				button:last-child {
    				margin: 6px 0 0 0;
				}
			}
			
    		.ui-dialog-titlebar {
	    		margin: 0;
	    		display: none;
			}
				
			.ui-dialog-footer {
				margin: 0;
				padding: 0;
			}
		}
	}	
	
    .ui-button {
    	overflow: hidden; 	
        &.gray-btn {
            background-color: $gray;
            
            &.ui-state-hover {
                background-color: darken($gray,5%);
            }
                        
            &.ui-state-focus {
                background-color: darken($gray,5%);
            }
            
            &.ui-state-active {
                background-color: darken($gray,10%);
            }
        }
        
        &.blue-gray-btn {
            background-color: $blueGray;
            
            &.ui-state-hover {
                background-color: darken($blueGray,5%);
            }
                        
            &.ui-state-focus {
                background-color: darken($blueGray,5%);
            }
            
            &.ui-state-active {
                background-color: darken($blueGray,10%);
            }
        }
	}
	
	.ui-buttonset {	
		.ui-button {
			background-color: $white;
			color: blue !important;
			width: auto !important;
			min-width: 5%;
			text-decoration: underline !important;
		}
	}
	
	.ui-datagrid {
 		.ui-datagrid-content {
 			border: none !important;
 			
 			.ui-datagrid-column {
    			padding: 8px !important;
			}			
 		}
	}
	
	.ui-datepicker {
		table { 
			td {
				a {
					&.ui-state-highlight {
    					background-color: transparent;
    					color: $textColor;
    					font-weight: bold;
					}
					
					&.ui-state-active {
  				        background-color: $primaryColor;
        				color: #ffffff;
    					font-weight: normal;
					}					
				}
			}
		}
	}
	
	.ui-accordion {
		.ui-accordion-header {
			min-height: 32px;
		}
	}	
}

input {
	&.icon {
		&::-moz-title {
			padding: 5px;
			width: 100% !important;
		}
		
		&::-moz-placeholder {
			font-family: 'FontAwesome', Arial;
		} 

		&::-webkit-input-placeholder {
			font-family: 'FontAwesome';
		}		
	}
	
	&.ui-autocomp {
		&::-moz-placeholder {
			font-family: 'FontAwesome', Arial !important;
		}
	}
}

.ui-selectonebutton {
    padding: 0;
}

.ui-datepicker {
    width: auto;
}

@media (min-width: 1025px) {
    .layout-wrapper {
		&.menu-layout-horizontal {
			.sticky-top {
			    top: 135px !important;
			}
		}	
	}
}
	
@media (max-width: 1024px) {
    .layout-wrapper {
		&.menu-layout-horizontal {
			.sticky-top {
			    top: 75px !important;
			}
		}	
	}
}

@media (min-width: 641px) {
	.ui-panelgrid {
		.ui-panelgrid-cell {
   			padding: 4px 4px;
		}
	}	
}

@media (max-width: 640px) {
	.layout-wrapper {
		.sticky-top {
		    height: 275px;
		}

		.layout-main-content {
			padding-top: 295px !important;
		}
	}
}

	