/* Custom Layout Utils */



.BG-primary{background-color:$primaryColor !important;}

.panelHeader{
	background-color: white !important;
	color: #5f666c !important; 
	}

/* iPad Settings */
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}

.circle {
    display: inline-block;
	background-color: $primaryColor;
    border-radius: 100%;
    width: 3em;
    height: 3em !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    left: -40px;
}
 
.imageText {
	vertical-align: middle;
	display: table-cell;
}
   
.spinnerButton {
	width: 40px !important;
	height: 40px !important;
	text-align: center !important;
	font-weight: bold !important;
	padding: 0px;
}

.panelHeader{
	background-color: $white !important;
	color: $textColor !important; 
}
   
/* Font Sizes */
.Fs9{font-size:9px !important;} 
.Fs10{font-size:10px !important;} 
.Fs11{font-size:11px !important;} 
.Fs12{font-size:12px !important;} 
.Fs13{font-size:13px !important;} 
.Fs14{font-size:14px !important;} 
.Fs15{font-size:15px !important;} 
.Fs16{font-size:16px !important;} 
.Fs17{font-size:17px !important;} 
.Fs18{font-size:18px !important;} 
.Fs19{font-size:19px !important;} 
.Fs20{font-size:20px !important;} 
.Fs21{font-size:21px !important;} 
.Fs22{font-size:22px !important;} 
.Fs23{font-size:23px !important;} 
.Fs24{font-size:24px !important;} 
.Fs25{font-size:25px !important;} 
.Fs26{font-size:26px !important;} 
.Fs27{font-size:27px !important;} 
.Fs28{font-size:28px !important;} 
.Fs29{font-size:29px !important;} 
.Fs30{font-size:30px !important;}
.Fs32{font-size:32px !important;}
.Fs36{font-size:36px !important;}
.Fs40{font-size:40px !important;}
.Fs50{font-size:50px !important;}
.Fs60{font-size:60px !important;}
.Fs100{font-size:100px !important;}
.Fs130{font-size:130px !important;}

/* Empty Boxes */
.EmptyBox5{ display:block; width:100%; height:5px; overflow:hidden;}
.EmptyBox10{ display:block; width:100%; height:10px; overflow:hidden;}
.EmptyBox20{ display:block; width:100%; height:20px; overflow:hidden;}
.EmptyBox30{ display:block; width:100%; height:30px; overflow:hidden;}
.EmptyBox40{ display:block; width:100%; height:40px; overflow:hidden;}
.EmptyBox50{ display:block; width:100%; height:50px; overflow:hidden;}
.EmptyBox60{ display:block; width:100%; height:60px; overflow:hidden;}
.EmptyBox70{ display:block; width:100%; height:70px; overflow:hidden;}
.EmptyBox80{ display:block; width:100%; height:80px; overflow:hidden;}
.EmptyBox90{ display:block; width:100%; height:90px; overflow:hidden;}
.EmptyBox100{ display:block; width:100%; height:100px; overflow:hidden;}
.EmptyBox110{ display:block; width:100%; height:110px; overflow:hidden;}
.EmptyBox120{ display:block; width:100%; height:120px; overflow:hidden;}
.EmptyBox130{ display:block; width:100%; height:130px; overflow:hidden;}
.EmptyBox140{ display:block; width:100%; height:140px; overflow:hidden;}
.EmptyBox150{ display: block; width: 100%; height:150px; overflow:hidden;}

.red{color:darken($red,10%);}
.blue{color:$blue; }
.orange{color:$orange;}
.purple{color:$purple;}
.pink{color:$pink;}
.green{color:$green;}
.lightGreen{color:lighten($green,20%);}
.black{color:$black;}
.turquoise{color:$turquoise;}
.gray{color:$gray;}
.lightGray{color:lighten($gray,20%);}
.blueGray{color:$blueGray;}
.white{color:$white;}

.BGseries{background-color: $purple !important;}
.BGgreen{background-color: $green !important;}
.BGlightGray{background-color: lighten($gray,20%) !important;}

.BGgender-FEMALE{background-color:$genderFemaleBGColor !important;}
.BGgender-MALE{background-color:$genderMaleBGColor !important;}
.BGgender-NULL{background-color:$primaryColor !important;}

.LineThrough {
	text-decoration: line-through !important;
}
.Underline {
	text-decoration: underline !important;
}

.WSnowrap {
	white-space: nowrap;
}

.WWbreak {
	word-wrap: break-word;
}

.BBnone {
	border: none !important;
	background: none !important;
}

/* Text Aligns */
.TexAlLeft {
	text-align: left;
}
.TexAlCenter {
	text-align: center;
}
.TexAlRight {
	text-align: right;
}

/* Text Colors */
.TexColor {
	color: $textColor !important;
}
.Tex2ndColor {
	color: $textSecondaryColor !important;
}

/* Divider Border */
.DivBorder {
	padding: $contentPadding;
	border: 1px solid $contentBorderColor;
}

/* Billing Border */
.BillingBorder {
	border: 1px solid $textColor;
}

.VertCentered {
	@include vertical-centered();
}
.VertAlMiddle{vertical-align:middle;}

/* Display */
.DispBlock{ display:block;}
.DispTable{ display:table; vertical-align:middle;}
.DispTableCell{ display:table-cell; vertical-align:middle;}
.DispNone{ display:none;}
.DispInlBlock{display:inline-block;}
.DispInline{display:inline;}

/* Position */
.PosFixed{position:fixed;}
.PosAbsolute{position:absolute;}
.PosRelative{ position:relative;}
.PosStatic{position:static;}

/* Floating */
.Fleft{ float:left;}
.Fright{ float:right;}
.Fnone{ float:none !important;}

.ClearBoth{clear:both;}

/* Overflows */
.OvHidden{ overflow:hidden;}
.OvScroll{ overflow:scroll;}
.OvAuto{ overflow:auto;}
.OvVisible{ overflow:visible;}
.OvXScroll{ overflow-x:scroll;}
.OvYScroll{ overflow-y:scroll;}
.OvXHidden{ overflow-x:hidden;}
.OvYHidden{ overflow-y:hidden;}

/* Making Unselectable Contents */
.Unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Flex Boxes */
.Flex{
	display:-webkit-box !important;
    display:-webkit-flex  !important;
    display:-webkit-flexbox !important;
    display:-moz-flex !important;
    display:-moz-box !important;
    display:-ms-flexbox !important;
    display:flex !important;
}
.FlexWrap{
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

/* Opacity */
.Opac100{ opacity:1; -webkit-opacity:1; -moz-opacity:1;}
.Opac95{ opacity:0.95; -webkit-opacity:0.95; -moz-opacity:0.95;}
.Opac90{ opacity:0.9; -webkit-opacity:0.9; -moz-opacity:0.9;}
.Opac80{ opacity:0.8; -webkit-opacity:0.8; -moz-opacity:0.8;}
.Opac70{ opacity:0.7; -webkit-opacity:0.7; -moz-opacity:0.7;}
.Opac60{ opacity:0.6; -webkit-opacity:0.6; -moz-opacity:0.6;}
.Opac50{ opacity:0.5; -webkit-opacity:0.5; -moz-opacity:0.5;}
.Opac40{ opacity:0.4; -webkit-opacity:0.4; -moz-opacity:0.4;}
.Opac30{ opacity:0.3; -webkit-opacity:0.3; -moz-opacity:0.3;}
.Opac20{ opacity:0.2; -webkit-opacity:0.2; -moz-opacity:0.2;}
.Opac10{ opacity:0.1; -webkit-opacity:0.1; -moz-opacity:0.1;}
.OpacZero{ opacity:0; -webkit-opacity:0; -moz-opacity:0;}

/* Border Radius */
.BordRad3{ border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.BordRad4{ border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
.BordRad5{ border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.BordRad10{ border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;}
.BordRad15{ border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;}
.BordRadHalf{ border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%;}

.BordRight{ border-right:solid 1px transparent; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.BordLeft{ border-left:solid 1px transparent; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.BordTop{ border-top:solid 1px transparent; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.BordBottom{ border-top:solid 1px transparent; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.BordAll{ border:solid 1px transparent; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

/* Margins */
.MarTopPerc5{ margin-top:5%;}
.MarTopPerc10{ margin-top:10%;}
.MarTopPerc20{ margin-top:20%;}
.MarTopPerc30{ margin-top:30%;}
.MarTopPerc40{ margin-top:40%;}
.MarTopPerc50{ margin-top:50%;}

.MarAuto{ margin-left:auto; margin-right:auto;}

.MarTop5{ margin-top:5px;}
.MarTop10{ margin-top:10px;}
.MarTop20{ margin-top:20px;}
.MarTop30{ margin-top:30px;}
.MarTop40{ margin-top:40px;}
.MarTop50{ margin-top:50px;}

.MarTopQuarter{ margin-top:25%;}
.MarTopHalf{ margin-top:50%;}

.MarBot10{ margin-bottom:10px;}
.MarBot20{ margin-bottom:20px;}
.MarBot30{ margin-bottom:30px;}
.MarRight10{ margin-right:10px;}
.MarRight20{ margin-right:20px;}
.MarRight30{ margin-right:30px;}

/* Paddings */
.NoPad{padding:0px !important;}
.NoPadLeft{padding-left:0px;}                
.NoPadRight{padding-right:0px;}                
.NoPadTop{padding-top:0px;}                 
.NoPadBottom{padding-bottom:0px;}                 
.PadLeft4{ padding-left:4px;}
.PadRight4{ padding-right:4px;}
.PadTopPerc10{ padding-top: 10%;}

.SmallIndent{padding:3px;}                                                  
.NoIndent{display:block; margin:0px auto; padding:0px;}

/* Padding with Transparent Border */
.Pad1{ padding:1px; box-sizing:border-box;} 
.Pad3{ padding:3px; box-sizing:border-box;}
.Pad4{ padding:4px; box-sizing:border-box;}
.Pad5{ padding:5px; box-sizing:border-box;}
.Pad10{ padding:10px; box-sizing:border-box;}
.Pad15{ padding:15px; box-sizing:border-box;}
.Pad20{ padding:20px; box-sizing:border-box;}

/* Font Type */
.FontBold{ font-weight:bold;}
.FontLight{ font-weight:lighter;}
.FontNormal{ font-weight:normal;}
.FontItalic{font-style:italic;}

/* Bordered box */
.BorderedBox{border:solid 1px #D9E3E8 !important;background-color:#EDF3F6 !important;box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;-moz-box-sizing:border-box !important;border-radius:3px !important; 
	-webkit-border-radius:3px !important;-moz-border-radius:3px !important;}
			 
/* Seperator line */
.Seperator{border-bottom:solid 1px #C3CCD5; width:100%; overflow:hidden; height:0px; margin:15px 0px; float:left;}

/* Hover effects */
span {
	.HoverEffect {
		border: none;
		text-align: center;
	}
}

a {
	.HoverEffect {
		border: 1px solid transparent;
		color: $blue;
		text-align: center;
		
		&:hover{
			border: 1px solid $blue; 
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@include transition(all .5s);
		}
	
		&.white {
			color: $white !important;
			
			&:hover{
				border: 1px solid $white !important; 
			}
		}
	
		&.red {
			color: $red !important;
			
			&:hover{
				border: 1px solid $red !important; 
			}
		}

		&.green {
			color: $green !important;
			
			&:hover{
				border: 1px solid $green !important; 
			}
		}
	}
	
	.HoverLink:hover{color:#71CC8D !important;}
}

/* Width */
.Wid5 {
	width: 5%;
}
.Wid10 {
	width: 10%;
}
.Wid15 {
	width: 15%;
}
.Wid20 {
	width: 20%;
}
.Wid25 {
	width: 25%;
}
.Wid30 {
	width: 30%;
}
.Wid35 {
	width: 35%;
}
.Wid40 {
	width: 40%;
}
.Wid45 {
	width: 45%;
}
.Wid50 {
	width: 50%;
}
.Wid55 {
	width: 55%;
}
.Wid60 {
	width: 60%;
}
.Wid65 {
	width: 65%;
}
.Wid70 {
	width: 70%;  
}
.Wid75 {
	width: 75%;
}
.Wid80 { 
	width: 80%;
}
.Wid85 {  
	width: 85%;
}
.Wid90 {    
	width: 91%;
}
.Wid95 {
	width: 95%;
}
.Wid100 {
	width: 100%;
}

/* Height */
.Hei100{ height:100%;}
.Hei90{ height:90%;}
.Hei80{ height:80%;}
.Hei70{ height:70%;}
.Hei60{ height:60%;}
.Hei40{ height:40%;}
.Hei50{ height:50%;}
.Hei30{ height:30%;}
.Hei20{ height:20%;}
.Hei10{ height:10%;}

.timelineEventOuter {
	border: 1px solid #0000af;
	background-color: #0000af !important;
	color: #F1F6F9;
}

.timelineEventInner {
	border: 1px solid #78b431;
	background-color: #78b431 !important;
	color: #F1F6F9;
}

.timelineEventInner-red {
	border: 1px solid #d0525d;
	background-color: #d0525d !important;
	color: #F1F6F9;
}

.timelineEventWhole {
	border: 1px solid #78b431;
}

div {
	&.timeline-frame {
		border-color: #5D99C3;
		border-radius: 5px;
	}

	&.timeline-axis {
		border-color: #5D99C3;
		background-color: #5D99C3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3',
			endColorstr='#3A6DA0') alpha(opacity = 100);
		background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3),
			to(#3A6DA0));
		background: -moz-linear-gradient(top, #5D99C3, #3A6DA0);
		-khtml-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	
	&.timeline-axis-text {
		color: white;
	}

	&.timeline-event {
		color: white !important;
		border-radius: 5px !important;
	}

	&.timeline-event-content {
		padding: 5px;
		text-shadow: none;
	}

	&.timeline-event-selected {
		background: #BECEFE none !important;
		border-color: #97B0F8 !important;
	}
}

.ui-panelgrid-nopad {
	&.ui-panelgrid{
		.ui-panelgrid-cell {
    		padding: 0;
		}
	}
}

.ui-panelgrid-leftright-nopad {
	&.ui-panelgrid {
		.ui-panelgrid-cell {
		 	&:first-child {
				padding-left: 0;
			}

		 	&:last-child {
				padding-right: 0;
			}
		}
	}
}

.card {
	width: 100%;
	margin-bottom: 0;	
}
