<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<c:if
			test="#{not (empty selectedClient.gender or empty selectedClient.selectedSessionDocumentation)}">
			<p:importEnum type="at.synaptos.synapphys.model.AnatomyBody" />
			<p:importEnum type="at.synaptos.synapphys.model.FindingType" />

			<h:outputScript name="js/jquery.svg.min.js" target="head" />
			<h:outputScript name="js/jquery.svgdom.min.js" target="head" />
			<h:outputScript name="js/jquery.panzoom.js" target="head" />
			<h:outputScript name="js/jquery.mousewheel.js" target="head" />
			<h:outputScript name="js/findingNode.manager.js" target="head" />

			<h:outputStylesheet>
				.outerBodymap {
					width: 100hw;
					height: calc(100vh - 121px);
				}
				
				.innerBodymap {
					width: 1000px;
					height: 1000px;
					-webkit-backface-visibility: initial !important;
					-webkit-transform-origin: 50% 50% 0;
				}
				
				.bodymapLayerButton {
					width: 48%;
					margin-bottom: 2px;
				}
				
				.bodymapLayerButton > .ui-button-text {
					font-size: 10px !important;
				}
				
				.findingTypeButton, .findingToolButton {
					width: 48px;
					height: 48px;
					border: 1px solid #e4eaee;
					background-color: #ffffff;
				}
				
				.findingTypeButton > svg, .findingToolButton > svg {
					-webkit-transform: translate(-11px, -11px) scale(0.5);
					transform: translate(-11px, -11px) scale(0.5);
				}
				
				.findingTypeButtonSelected, .findingToolButtonSelected {
					background-color: transparent;
					border: 1px solid #ffffff;
					opacity: 1;
				}
				
				.findingTypeButtonDeselected, .findingToolButtonDeselected {
					opacity: 0.7;
				}
				.findingTypeButtonDeselected:hover {
					opacity: 1;
				}
			</h:outputStylesheet>

			<h:outputScript>
				//<![CDATA[
			    function showFindingToolValuesEdit() {
			    	$("[id$='findingToolValuesEdit']").removeClass('DispNone');
			    }

			    function hideFindingToolValuesEdit() {
			    	$("[id$='findingToolValuesEdit']").addClass('DispNone');
			    }
				//]]>
			</h:outputScript>

			<div class="layout-main-content">
				<div class="ui-g ui-g-nopad ui-fluid">
					<div class="ui-g-12 ui-md-6 ui-lg-6 Flex leftCard">
						<div class="card">
							<p:outputPanel id="findingToolValuesEdit" styleClass="DispNone">
								<h:form id="findingToolValuesForm">
									<p:outputPanel>
										<p:message for="findingToolValuesEditValueFInput" />
										<p:message for="findingToolValuesEditValueTInput" />

										<p:panelGrid columns="6" layout="grid"
											styleClass="ui-panelgrid-blank">
											<c:forEach
												items="#{sessionFindingsController.findingNode.findingTypeModifiers}"
												var="findingType">
												<p:commandLink process="@this"
													update="findingToolValuesEditFields"
													actionListener="#{sessionFindingsController.doSelectFindingTypeModifier(findingType)}">
													<p:panel
														styleClass="TexAlCenter BorderedBox HoverEffect WSnowrap OvHidden green">
														<div id="findingTypeModifierButton_#{findingType}">
															<ui:include
																src="/resources/images/findingType/FindingType_#{findingType}.svg" />
														</div>
													</p:panel>
												</p:commandLink>
											</c:forEach>
										</p:panelGrid>

										<div class="EmptyBox20"></div>

										<p:panelGrid id="findingToolValuesEditFields" columns="1"
											layout="grid" styleClass="ui-panelgrid-blank">
											<p:outputLabel for="findingToolValuesEditValueF"
												value="#{sessionFindingsController.findingNode.labelF}"
												rendered="#{not empty sessionFindingsController.findingNode.valueOrDefaultF}" />
											<p:outputPanel id="findingToolValuesEditValueFPanel"
												rendered="#{not empty sessionFindingsController.findingNode.valueOrDefaultF}">
												<h:outputText id="findingToolValuesEditValueFOutput"
													styleClass="Fs24"
													value="#{sessionFindingsController.findingNode.valueOrDefaultF}/#{sessionFindingsController.findingNode.maxValueF}" />
												<h:inputHidden id="findingToolValuesEditValueFInput"
													value="#{sessionFindingsController.findingNode.valueOrDefaultF}" />
												<p:slider id="findingToolValuesEditValueF"
													for="findingToolValuesEditValueFInput"
													display="findingToolValuesEditValueFOutput"
													displayTemplate="{value}/#{sessionFindingsController.findingNode.maxValueF}"
													minValue="#{sessionFindingsController.findingNode.minValueF}"
													maxValue="#{sessionFindingsController.findingNode.maxValueF}"
													step="#{sessionFindingsController.findingNode.stepF}"
													highlight="true" />
											</p:outputPanel>

											<p:outputLabel for="findingToolValuesEditValueT"
												value="#{sessionFindingsController.findingNode.labelT}"
												rendered="#{not empty sessionFindingsController.findingNode.valueOrDefaultT}" />
											<p:outputPanel id="findingToolValuesEditValueTPanel"
												rendered="#{not empty sessionFindingsController.findingNode.valueOrDefaultT}">
												<h:outputText id="findingToolValuesEditValueTOutput"
													styleClass="Fs24"
													value="#{sessionFindingsController.findingNode.valueOrDefaultT}/#{sessionFindingsController.findingNode.maxValueT}" />
												<h:inputHidden id="findingToolValuesEditValueTInput"
													value="#{sessionFindingsController.findingNode.valueOrDefaultT}" />
												<p:slider id="findingToolValuesEditValueT"
													for="findingToolValuesEditValueTInput"
													display="findingToolValuesEditValueTOutput"
													displayTemplate="{value}/#{sessionFindingsController.findingNode.maxValueT}"
													minValue="#{sessionFindingsController.findingNode.minValueT}"
													maxValue="#{sessionFindingsController.findingNode.maxValueT}"
													step="#{sessionFindingsController.findingNode.stepT}"
													highlight="true" />
											</p:outputPanel>

											<div class="EmptyBox20"></div>

											<p:outputLabel for="findingToolValuesEditNoteInput"
												value="Notiz" />
											<p:inputTextarea id="findingToolValuesEditNoteInput"
												value="#{sessionFindingsController.findingNode.note}"
												maxlength="200" rows="3" />
										</p:panelGrid>
									</p:outputPanel>

									<div class="EmptyBox20"></div>

									<p:panelGrid columns="2" layout="grid"
										styleClass="ui-panelgrid-blank ui-panelgrid-leftright-nopad">
										<p:commandButton icon="#{TagAttribute.ICON_SAVE}"
											value="#{i18n['action.save.name']}"
											actionListener="#{sessionFindingsController.doSaveFindingNodeValues}"
											process="@this,findingToolValuesEditFields" update="@form"
											oncomplete="onCompleteSaveFindingNodeValues(xhr,status,args)" />
									</p:panelGrid>
								</h:form>
							</p:outputPanel>
						</div>
					</div>

					<div class="ui-g-12 ui-md-6 ui-lg-6 Flex rightCard">
						<div class="card NoPad">
							<div id="outerBodymapDiv" class="outerBodymap">
								<div id="innerBodymapDiv" class="innerBodymap"></div>
							</div>
						</div>

						<div
							style="position: fixed; width: 200px; right: 20px; top: 120px">
							<h:form>
								<p:panelGrid columns="1" layout="grid"
									styleClass="ui-panelgrid-blank">
									<p:commandButton icon="#{TagAttribute.ICON_BACK}"
										value="#{i18n['action.back.name']}" process="@this"
										ajax="false" action="#{sessionFindingsController.doBack}"
										rendered="#{not empty selectedClient.selectedSessionDocumentation.backUrl}" />
								</p:panelGrid>
							</h:form>
						</div>

						<div style="position: fixed; width: 72px; right: 0; top: 200px">
							<div id="findingTypeBarDiv">
								<c:forEach items="#{AnatomyBody.ALL_VALUES}" var="anatomyBody">
									<div id="findingTypeBar_#{anatomyBody}"
										style="display: #{anatomyBody eq 'SKIN' ? 'inline' : 'none'};">
										<c:forEach
											items="#{sessionFindingsController.findFindingTypes(anatomyBody)}"
											var="findingType">
											<p:commandLink
												onclick="selectFindingType('#{findingType}'); return false">
												<div id="findingTypeButton_#{findingType}"
													class="findingTypeButton findingTypeButtonDeselected">
													<ui:include
														src="/resources/images/findingType/FindingType_#{findingType}.svg" />
												</div>
											</p:commandLink>
										</c:forEach>
									</div>
								</c:forEach>
							</div>

							<div style="margin-top: 10px">
								<p:commandLink
									onclick="selectFindingTool('ACTION_SELECT'); return false">
									<div id="findingToolButton_ACTION_SELECT"
										class="findingToolButton findingToolButtonSelected"
										style="float: left">
										<ui:include
											src="/resources/images/findingTool/FindingTool_ACTION_SELECT.svg" />
									</div>
								</p:commandLink>

								<p:commandLink
									onclick="deleteFindingNodesSelected(); return false">
									<div id="findingToolButton_ACTION_DELETE"
										class="findingToolButton findingToolButtonDeselected"
										style="float: left">
										<ui:include
											src="/resources/images/findingTool/FindingTool_ACTION_DELETE.svg" />
									</div>
								</p:commandLink>

								<div id="findingToolTemplate_NODE_TIP" style="display: none">
									<ui:include
										src="/resources/images/findingTool/FindingTool_NODE_TIP.svg" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<h:form>
					<pe:remoteCommand name="doAddFindingNode"
						actionListener="#{sessionFindingsController.doAddFindingNode}"
						process="@this" update=":findingToolValuesForm"
						oncomplete="onCompleteAddFindingNode(xhr,status,args)">
						<pe:methodSignature
							parameters="at.synaptos.synapphys.domain.FindingNode" />
						<pe:methodParam name="findingNode">
							<pe:convertJson />
						</pe:methodParam>
					</pe:remoteCommand>

					<pe:remoteCommand name="doEditFindingNodeValues"
						actionListener="#{sessionFindingsController.doEditFindingNodeValues}"
						process="@this" update=":findingToolValuesForm">
						<pe:methodSignature parameters="java.lang.Long" />
						<pe:methodParam name="bodymapItemId">
							<pe:convertJson />
						</pe:methodParam>
					</pe:remoteCommand>

					<pe:remoteCommand name="doUpdateFindingNodeTipPosition"
						actionListener="#{sessionFindingsController.doUpdateFindingNodeTipPosition}"
						process="@this"
						oncomplete="onCompleteUpdateFindingNodeTipPosition(xhr,status,args)">
						<pe:methodSignature
							parameters="at.synaptos.synapphys.domain.FindingNode" />
						<pe:methodParam name="findingNode">
							<pe:convertJson />
						</pe:methodParam>
					</pe:remoteCommand>

					<pe:remoteCommand name="doUpdateFindingNodesPosition"
						actionListener="#{sessionFindingsController.doUpdateFindingNodesPosition}"
						process="@this"
						oncomplete="onCompleteUpdateFindingNodesPosition(xhr,status,args)">
						<pe:methodSignature parameters="java.util.List" />
						<pe:methodParam name="findingNodes">
							<pe:convertJson
								type="#{sessionFindingsController.typeFindingNodes}" />
						</pe:methodParam>
					</pe:remoteCommand>

					<pe:remoteCommand name="doDeleteFindingNodes"
						actionListener="#{sessionFindingsController.doDeleteFindingNodes}"
						process="@this"
						oncomplete="onCompleteDeleteFindingNodes(xhr,status,args)">
						<pe:methodSignature parameters="java.util.List" />
						<pe:methodParam name="findingNodes">
							<pe:convertJson
								type="#{sessionFindingsController.typeFindingNodes}" />
						</pe:methodParam>
					</pe:remoteCommand>
				</h:form>
			</div>

			<h:outputScript rendered="#{userViewController.specialUser}">
				//<![CDATA[			
				function focusSegmentFromPosition(position) {
					var nodes = [];
					var target = document.elementFromPoint(position.x,position.y);
					while (target && target.id !== 'outerBodymapDiv' && !target.id.startsWith('seg_') && target.tagName.toLowerCase() !== 'a'){
						target.style.visibility = 'hidden';
						nodes.push(target);
						target = document.elementFromPoint(position.x,position.y);
				    }
					$.each(nodes,function(i,v){
						v.style.visibility = 'visible';
					});

					var cPznm = $('#innerBodymapDiv').panzoom('instance');

					if (target && target.id.startsWith("seg_")) {
						if (!cPznm.previousTarget || cPznm.previousTarget.id !== target.id) {
							if (cPznm.previousTarget) {
								$(cPznm.previousTarget).css('stroke','').css('stroke-width','').css('stroke-opacity','');
							}
							$(target).css('stroke',$(target).css('fill')).css('stroke-width','3px').css('stroke-opacity','1');
							cPznm.previousTarget = target;
						}
					} else if (cPznm.previousTarget) {
						$(cPznm.previousTarget).css('stroke','').css('stroke-width','').css('stroke-opacity','');
						cPznm.previousTarget = null;
					}
				}
				//]]>				
			</h:outputScript>

			<h:outputScript rendered="#{not userViewController.specialUser}">
				//<![CDATA[			
				function focusSegmentFromPosition(position) {
				}
				//]]>				
			</h:outputScript>

			<h:outputScript>
				//<![CDATA[
			    $(function(){
					var $body = $('#innerBodymapDiv').panzoom({
						minScale:0.5,
						maxScale:6,
						increment:0.5,
						onStart:onStartBodyPnzm,
						onZoom:onZoomBodyPnzm,
						onEnd:onEndBodyPnzm
					});

					$body.panzoom('zoom',0.6,{silent:true}).panzoom('pan',-200,-190);
		
					$body.on('mousewheel.focal',function(e){
		         		e.preventDefault();
		         		var delta = e.delta || e.originalEvent.wheelDelta;
						var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
						$body.panzoom('zoom',zoomOut,{
							animate:false,
							focal:e
						});
		       		});
						
				    $body.svg('destroy');										
					$body.svg({
			    		loadURL:"#{resource['/images/anatomyBody/AnatomyBody_'+=selectedClient.gender+='.svg']}",
			    		onLoad:onLoadBodySvg
			    	});
			    	
					var findingNodes = [];
					$.each(['PAIN','MOBILITY','TEXT','AREA','VECTOR'],function(i,v){
						$('#findingTypeButton_SKIN_LEAD_'+v).panzoom({
							disableZoom:true,
							cursor:'pointer',
							startScale:0.5,
							onStart:onStartFindingTypePnzm,
							onPan:onPanFindingTypePnzm,
							onEnd:onEndFindingTypePnzm
						});
					});
			    });

				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Body panzoom event handlers
		
				function onStartBodyPnzm(e,pnzm,e0,touches){
				}
				
				function onZoomBodyPnzm(e,pnzm,scale,opts){
				    var increment = opts && opts.increment ? opts.increment : null;
					FindingNodeContext().toogleNodesTipVisibleByScale(false,increment);
				}
				
				function onEndBodyPnzm(e,pnzm,matrix,changed){
					if (!changed) {
						var findingType = getFindingTypeSelected();
						if (findingType !== null) {
							var startPosition = FindingNodeContext().getStartPosition(e,pnzm.$elem.offset(),matrix);
							addFindingNode(findingType,startPosition,pnzm.previousTarget ? pnzm.previousTarget.id : null);				
						} else if (isFindingToolSelected("ACTION_SELECT")) {
							FindingNodeContext().clearNodesSelected();
						}
					}

					// TODO WQ					
					if (pnzm.previousTarget) {
						$(pnzm.previousTarget).css('stroke','').css('stroke-width','').css('stroke-opacity','');
						pnzm.previousTarget = null;
					}
					//
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Body svg event handlers

				function onLoadBodySvg(svg){
					svg.group(null,'g_FINDINGS_#{AnatomyBody.BONE}'  ,{style:'display:none'});
					svg.group(null,'g_FINDINGS_#{AnatomyBody.MUSCLE}',{style:'display:none'});
					svg.group(null,'g_FINDINGS_#{AnatomyBody.SKIN}'  ,{style:'display:'});
					
					FindingNodeContext({
						svg:svg,
						tipVisibleScale:1.125,
						nodeCenterOffset:35,
						onAddNodeSelected:function(node) {
							doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(node.id));
							editFindingNodeSelected();
							selectFindingTool("ACTION_DELETE");
						},
						onClearNodeSelected:function(nodesSelected) {
							if (!nodesSelected.length) {
								hideFindingToolValuesEdit();
								doEditFindingNodeValues(null);
								selectFindingTool("ACTION_DELETE",false);
							} else {
								doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(nodesSelected[nodesSelected.length-1].id));				
							}
						},
						onDeleteNodesSelected:function(nodesDeleted) {
							var findingNodes = [];
							$.each(nodesDeleted,function(i,v){
								var findingNode = {bodymapItemId:FindingNodeContext().getNodeBodymapItemId(v.id)};
								findingNodes.push(findingNode);
							});
					   		doDeleteFindingNodes(JSON.stringify(findingNodes));
						},
						onChangeNodeHookPnzm:onChangeFindingNodeHookPnzm,
						onChangeNodeTipPnzm:onChangeFindingNodeTipPnzm,
						onEndNodeTipPnzm:onEndFindingNodeTipPnzm,
						onStartNodePnzm:onStartFindingNodePnzm,
						onPanNodePnzm:onPanFindingNodePnzm,
						onEndNodePnzm:onEndFindingNodePnzm
					});
					
					loadFindingNodes(svg);
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Remote command handlers
				
				function onCompleteAddFindingNode(xhr,status,args) {
					if (!args.validationFailed) {
						FindingNodeContext().updateNode(args);
						FindingNodeContext().selectNode(args);
						showFindingToolValuesEdit();
					}
				}
				
				function onCompleteSaveFindingNodeValues(xhr,status,args) {
					if (!args.validationFailed) {
						FindingNodeContext().updateNodeTip(args);
						FindingNodeContext().updateNodeSlot(args);
						FindingNodeContext().updateSequenceNo(args);
					}
				}
				
				function onCompleteUpdateFindingNodeTipPosition(xhr,status,args) {
				}
		
				function onCompleteUpdateFindingNodesPosition(xhr,status,args) {
				}
				
				function onCompleteDeleteFindingNodes(xhr,status,args) {
				}
						
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node position
				
				function updateFindingNodesPosition($nodes) {
					var covered = false;
					$.each($nodes,function(i,v){
						if (FindingNodeContext().isNodeCovering(v)) {
							covered = true;
							return false; //break
						}
					})
					
					if (covered) {
						$.each($nodes,function(i,v){
							var vPnzm = $(v).panzoom('instance');
							vPnzm.pan(vPnzm.startPosition.x,vPnzm.startPosition.y);
						})
					} else {
						var data = [];
						//TODO WQ
						var bodySegment;
						var cPznm = $('#innerBodymapDiv').panzoom('instance');
						if (cPznm.previousTarget) {
							bodySegment = cPznm.previousTarget.id;
							bodySegment = bodySegment.replace('seg_','');
						}
						console.log(bodySegment);
						//
						$.each($nodes,function(i,v){
							var vPnzm = $(v).panzoom('instance');
							var vMatrix = vPnzm.getMatrix();
							data.push({
					   			findingPositionX:+vMatrix[4]+FindingNodeContext().options.nodeCenterOffset,
					   			findingPositionY:+vMatrix[5]+FindingNodeContext().options.nodeCenterOffset,
					   			bodymapItemId:FindingNodeContext().getNodeBodymapItemId(vPnzm.elem.id),
					   			bodySegment:bodySegment
				   			});
						})
		
				   		doUpdateFindingNodesPosition(JSON.stringify(data));
				   	}
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node CRUD
		
				function addFindingNode(type,position,bodySegment) {
					if (type === undefined || type === null) {
						$.error('addFindingNode: type is undefined!');
						return;
					}
					if (!position) {
						$.error('addFindingNode: position is undefined!');
						return;
					}
					//TODO WQ
					if (bodySegment !== null && bodySegment !== undefined) {
						bodySegment = bodySegment.replace('seg_','');
					}
					//
					var findingNode = {
						findingType:type,
						findingPositionX:position.x,
						findingPositionY:position.y,
						bodymapItemId:new Date().getTime(),
						bodySegment:bodySegment						
					}
					FindingNodeContext().createNode(findingNode);
					doAddFindingNode(JSON.stringify(findingNode));
				}
				
				function deleteFindingNodesSelected() {
					FindingNodeContext().deleteNodesSelected();
				}
				
				function editFindingNodeSelected() {
					showFindingToolValuesEdit();
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding type selection
			
				function getFindingTypeSelected() {
					var $buttonSelected = $('#findingTypeBarDiv').find('.findingTypeButtonSelected');
					if (!$buttonSelected.length) {
						return null;
					}
					var buttonSelectedId = $buttonSelected.attr('id');
					
					var typeSelected = buttonSelectedId.substring(buttonSelectedId.indexOf("_")+1);
					
					return typeSelected;
				}
		
				function selectFindingType(type) {
					var $buttonSelected = $('#findingTypeBarDiv').find('.findingTypeButtonSelected');
					if ($buttonSelected.length) {
						$buttonSelected.removeClass("findingTypeButtonSelected").addClass("findingTypeButtonDeselected");
					}
		
					if (type === undefined || type === null) {
						return;
					}
					
					var $typeButton = $('#findingTypeButton_'+type);
					
					$typeButton.removeClass("findingTypeButtonDeselected").addClass("findingTypeButtonSelected");			
		
					selectFindingTool("ACTION_SELECT",false);
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding tool selection
		
				function isFindingToolSelected(tool) {
					var $button = $('#findingToolButton_'+tool);
					return $button.hasClass("findingToolButtonSelected");
				}
		
				function selectFindingTool(tool,select) {
					if (!selectFindingTool.arguments.length) {
						return;
					}
					if (select === undefined || select === null) {
						select = true;
					}
					
					var $toolButton = $('#findingToolButton_'+tool);
					
					if (select) {
						if (tool === "ACTION_SELECT") {
							selectFindingType();
						}
									
						$toolButton.removeClass("findingToolButtonDeselected").addClass("findingToolButtonSelected");
					} else {
						if (tool === "ACTION_SELECT") {
							FindingNodeContext().clearNodesSelected();
						}
					
						$toolButton.removeClass("findingToolButtonSelected").addClass("findingToolButtonDeselected");			
					}
				}
				
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Finding node creation
		
		        function loadFindingNodes(svg) {
					$.each(#{sessionFindingsController.bodymapItemsAsJson},function(i,v){
						FindingNodeContext().createNode(v);
						FindingNodeContext().updateSequenceNo(v);						
						FindingNodeContext().updateNodeSlot(v);						
						FindingNodeContext().updateNodeTip(v);
					});
		        }
		
				function onStartFindingTypePnzm(e,pnzm,e0,touches){
					selectFindingType(pnzm.$elem.attr('id').replace('findingTypeButton_',''));
				}
				
				function onPanFindingTypePnzm(e,pnzm,x,y,e0){
					var position0 = {x:e0.pageX,y:e0.pageY};
					var changedTouches = e0.changedTouches || (e0.originalEvent && e0.originalEvent.changedTouches);
					if (changedTouches && changedTouches.length) {
						position0.x = changedTouches[0].pageX;
						position0.y = changedTouches[0].pageY;
					}
				
					var cPznm = $('#innerBodymapDiv').panzoom('instance');
					
					if (!cPznm) {
						return;
					}
				
					var determinePosition = function(){
						return {x:position0.x,y:position0.y};
					}
					
					var position = determinePosition();
					
					if (position.x === undefined || position.x === null) {
						return;
					}
					if (position.y === undefined || position.y === null) {
						return;
					}

					focusSegmentFromPosition(position);
				}
				
				function onPanFindingNodePnzm(e,pnzm,x,y,e0){
					var position0 = {x:e0.pageX,y:e0.pageY};
				
					var cPznm = pnzm.options.$context.panzoom('instance');

					if (!cPznm) {
						return;
					}

					var determinePosition = function(){
						var offset = pnzm.options.$context.offset();
						var matrix = cPznm.getMatrix();
						var	scale = +matrix[0];
						return {x:(x+34)*scale+offset.left,y:(y+34)*scale+offset.top};
					}
					
					var position = determinePosition();
					
					if (position.x === undefined || position.x === null) {
						return;
					}
					if (position.y === undefined || position.y === null) {
						return;
					}
					
					focusSegmentFromPosition(position);
				}

				function onEndFindingTypePnzm(e,pnzm,matrix,changed){
					var cPznm = $('#innerBodymapDiv').panzoom('instance');
					onEndBodyPnzm(e,cPznm,cPznm.getMatrix(),false);
					pnzm.resetPan({silent:true,animate:false});
				}
				//
				
				function onStartFindingNodePnzm(e,pnzm,e0,touches){
					// bring selected node on top
					var parentId = pnzm.$elem.parent().attr('id');
					pnzm.$elem.detach().appendTo('#'+parentId);
		
					// save current position to undo the change
					var matrix = pnzm.getMatrix();
					pnzm.startPosition = {x:+matrix[4],y:+matrix[5]};
					
					// for each selected node save its current position
					// and connect it to this node
					if (FindingNodeContext().isNodeSelected(pnzm.elem)) {
						if (FindingNodeContext().getNodesSelected().length > 1) {
							// connect other selected nodes to node
							$.each(FindingNodeContext().getNodesSelected(),function(i,v){
								if (v.id !== pnzm.elem.id) {
									var vPnzm = $(v).panzoom('instance');
									var vMatrix = vPnzm.getMatrix();
									vPnzm.startPosition = {x:+vMatrix[4],y:+vMatrix[5]};
									pnzm.$set.push(v);
								}
							});
						}
					}
				}
				
				function onEndFindingNodePnzm(e,pnzm,matrix,changed){    		
					// unconnect currently connected nodes
					var $nodes = pnzm.$set.splice(1);
					
					if (changed) {
						$nodes.push(pnzm.elem);
						updateFindingNodesPosition($nodes);
					} else if (isFindingToolSelected("ACTION_SELECT")) {
						FindingNodeContext().toggleNodeSelected(pnzm.elem);
					} else {
						var findingType = getFindingTypeSelected();
						if (findingType !== null) {
							var $body = pnzm.options.$context;
							var nodePosition = FindingNodeContext().getStartPosition(e,$body.offset(),$body.panzoom('instance').getMatrix());
							if (FindingNodeContext().isPositionCovering(
									"g_"+findingType+"_",
									nodePosition.x-FindingNodeContext().options.nodeCenterOffset,
									nodePosition.y-FindingNodeContext().options.nodeCenterOffset)) {
								selectFindingTool("ACTION_SELECT");
								FindingNodeContext().toggleNodeSelected(pnzm.elem);
							} else {
								//TODO WQ
								var bPznm = $body.panzoom('instance');
								var segment = bPznm.previousTarget ? bPznm.previousTarget.id : null;
								addFindingNode(findingType,nodePosition,segment);
							}
						}
					}
					
					// TODO WQ					
					var cPznm = pnzm.options.$context.panzoom('instance');

					if (cPznm.previousTarget) {
						$(cPznm.previousTarget).css('stroke','').css('stroke-width','').css('stroke-opacity','');
						cPznm.previousTarget = null;
					}
					//
				}
						
				function onChangeFindingNodeTipPnzm(e,pnzm,transform) {
					FindingNodeContext().updateNodePathTip(pnzm.$parent);
				}
				
				function onEndFindingNodeTipPnzm(e,pnzm,matrix,changed) {
					if (changed) {
						var findingNode = {
							tipPositionX:+matrix[4],
							tipPositionY:+matrix[5],
				   			bodymapItemId:FindingNodeContext().getNodeBodymapItemId(pnzm.$parent[0].id)
				   		}
						doUpdateFindingNodeTipPosition(JSON.stringify(findingNode));
					} else {
						FindingNodeContext().setNodeSelected(pnzm.$parent[0]);
						doEditFindingNodeValues(FindingNodeContext().getNodeBodymapItemId(pnzm.$parent[0].id));			
						selectFindingTool("ACTION_SELECT");
		            	showFindingToolValuesEdit();
					}			
				}
		
				function onChangeFindingNodeHookPnzm(e,pnzm,transform) {
					FindingNodeContext().updateNodePathHook(pnzm.$parent);
				}
		
				///////////////////////////////////////////////////////////////////////////////////////////////////////////////
				// Anatomy body layers
				
		        function showAnatomyBody(bone,muscle,skin) {
		        	// clear all body finding nodes selected
		        	FindingNodeContext().clearNodesSelected();
		        	        	     
		        	// clear finding type selection
		        	selectFindingType();
		        	
					// show finding type bars
					$('#findingTypeBar_#{AnatomyBody.BONE}'  ).css('display',(bone  >0?'':'none'));
					$('#findingTypeBar_#{AnatomyBody.MUSCLE}').css('display',(muscle>0?'':'none'));
					$('#findingTypeBar_#{AnatomyBody.SKIN}'  ).css('display',(skin  >0?'':'none'));
					
					// show finding layers
					$('#g_FINDINGS_#{AnatomyBody.BONE}'  ).css('display',(bone  >0?'':'none'));
					$('#g_FINDINGS_#{AnatomyBody.MUSCLE}').css('display',(muscle>0?'':'none'));
					$('#g_FINDINGS_#{AnatomyBody.SKIN}'  ).css('display',(skin  >0?'':'none'));
					
					// show body layers
					$('#g_BODY_#{AnatomyBody.BONE}'  ).css({'display':(bone  >0?'':'none'),'opacity':bone  });        
					$('#g_BODY_#{AnatomyBody.MUSCLE}').css({'display':(muscle>0?'':'none'),'opacity':muscle});
					$('#g_BODY_#{AnatomyBody.SKIN}'  ).css({'display':(skin  >0?'':'none'),'opacity':skin  });
					
					// display the finding node tips
					FindingNodeContext().toogleNodesTipVisibleByScale(true);			
		        }
				//]]>
			</h:outputScript>
		</c:if>
	</ui:define>

</ui:composition>